{% if not page.print %}
	<div class="form-group">
		<a href="{{ page.url }}" class="btn btn-primary not-round">
			<i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Search
		</a>
		&nbsp;
		<a href="{{ page.child.url ~ '?' ~ page.fullURL.query }}" class="btn btn-primary not-round">
			<i class="fa fa-print" aria-hidden="true"></i> Print
		</a>
		&nbsp;
		<button class="btn btn-secondary show-hide-all">Show / Hide All</button>
	</div>
{% endif %}
<div class="row">
	<div class="col-sm-12">
		<div class="list-group">
			{% if (resultscount) %}
				{% for item in items %}
					<div class="list-group-item border border-dark border-bottom">
						<h4 class="list-group-item-heading">ITEMID: {{ item.itemid }}</h4>
						<p class="list-group-item-text">{{ item.desc1 }}</p>

						{% if (item.is_serialized() or item.is_lotted()) %}
							{% include 'warehouse/inventory/find-item/provalley/item-breakdown-by-' ~ config.show_inventoryresults ~ '.twig' %}
						{% else %}
							<p class="list-group-item-text bg-light">
								<strong>Bins:</strong> {{ inventory.count_itembins(item.sessionid, item) }} <strong>Qty:</strong> {{ item.qty }}
							</p>
							{% if (not warehouse.validate_bin(item.bin)) %}
								<span class="badge badge-danger pull-right">Invalid Bin</span>
							{% endif %}
						{% endif %}
					</div>
				{% endfor %}
			{% else %}
				<div class="list-group-item">
					<h3 class="list-group-item-heading">No items found for "{{ page.scan }}"</h3>
				</div>
			{% endif %}
		</div>
	</div>
</div>
