{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	config                 module ConfigsWarehouseInventory
	items                  Invsearch[]|ObjectCollection
	warehouse              Warehouse
	inventory              InvsearchQuery
#}
{% if not page.is_print() %}
	<div class="form-group">
		<a href="{{ page.url }}" class="btn btn-primary not-round">
			<i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Search
		</a>
		&nbsp;
		<a href="{{ page.child.url ~ '?' ~ page.fullURL.query }}" class="btn btn-primary not-round">
			<i class="fa fa-print" aria-hidden="true"></i> Print
		</a>
		&nbsp;
		<button class="btn btn-secondary show-hide-all">Show / Hide All</button>
	</div>
{% endif %}
<div class="list-group">
	{% if (inventory.count_itemids_distinct()) %}
		{% for item in inventory.get_items_distinct() %}
			<div class="list-group-item px-2">
				<h5 class="mb-1">ITEMID: {{ item.itemid }}</h5>
				<p class="mb-1">
					<small>
						{{ item.desc1 }} {{ item.desc2 ? ('<br>' ~ item.desc2)|raw : '' }}
					</small>
				</p>

				{% if (item.is_serialized() or item.is_lotted()) %}
					{% include 'warehouse/inventory/find-item/provalley/breakdown/lotserial.twig' %}
				{% else %}
					{% if inventory.count_item_bins(item) > 1 %}
						{% include 'warehouse/inventory/find-item/breakdown/bin.twig' %}
					{% else %}
						{% set binitem = item %}
						{% include 'warehouse/inventory/find-item/breakdown/bin/normal.twig' %}
					{% endif %}
				{% endif %}
			</div>
		{% endfor %}
	{% else %}
		<div class="list-group-item">
			<h3 class="list-group-item-heading">No items found for "{{ page.scan }}"</h3>
		</div>
	{% endif %}
</div>
