{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	config                 ProcessWire\Config
	config.po              ConfigPo
	orderpage              URL to View PurchaseOrder
#}
<div class="list-group-item bg-light font-weight-bold">
	{% block header %}
		<div class="form-row">
			<div class="col">PO Number</div>
			<div class="col-sm-2">PO Ref</div>
			<div class="col">Vendor</div>
			<div class="col">ShipfromID</div>
			<div class="col text-right">Order Total</div>
			<div class="col text-right">Order Date</div>
			<div class="col text-right">Expected Date</div>
			<div class="col">Status</div>
		</div>
	{% endblock %}
</div>
{% if purchaseorders.count > 0 %}
	{% for order in purchaseorders %}
		<a href="{{ orderpage ~ '?ponbr=' ~ order.ponbr }}" class="list-group-item list-group-item-action">
			<div class="form-row">
				<div class="col">{{ order.ponbr }}</div>
				<div class="col-sm-2">{{ order.poref }}</div>
				<div class="col">{{ order.vendorid }}</div>
				<div class="col">{{ order.shipfromid }}</div>
				<div class="col text-right">$ {{ order.get_total()|number_format(config.po.decimal_places_cost) }}</div>
				<div class="col text-right">{{ convertdate(order.date_ordered) }}</div>
				<div class="col text-right">{{ convertdate(order.date_expected) }}</div>
				<div class="col">{{ order.status()|capitalize }}</div>
			</div>
		</a>
	{% endfor %}
{% else %}
	<div class="list-group-item">
		<div class="row">
			<div class="col text-center">There are no results to display.</div>
		</div>
	</div>
{% endif %}
