<div class="mb-4 row">
	<div class="col-sm-6">
		<a href="{{ page.parent.url }}" class="btn btn-primary"><i class="fa fa-arrow-circle-left text-white" aria-hidden="true"></i>&ensp;Back to Purchase Orders Menu</a>
	</div>
	<div class="col-sm-6">
		<button class="btn btn-info toggle-po-search pull-right" type="button" data-toggle="collapse" data-target="#purchase-orders-search-div" aria-expanded="false" aria-controls="purchase-orders-search-div">
			<i class="fa fa-filter" aria-hidden="true"></i> Toggle Filter
		</button>
	</div>
</div>

<div id="purchase-orders-search-div" class="{{ input.get.text('filter') is empty ? 'collapse' : ''}}">
	<div class="card mb-3">
		<div class="card-body">
			<form action="" method="get" class="remove-empty-fields" submit-empty="false">
				<input type="hidden" name="filter" value="filter">

				<div class="row mt-3">
					<div class="col-sm-4">
						<h5>PO #</h5>
						<div class="form-group">
							{% include 'util/form/input.twig' with {'name': 'ponbr_from', 'value': input.get.text('ponbr_from'), 'placeholder': 'From PO #' } %}
						</div>
						{% include 'util/form/input.twig' with {'name': 'ponbr_through', 'value': input.get.text('ponbr_through'), 'placeholder': 'Through PO #' } %}
					</div>
					<div class="col-sm-4">
						<h5>Vend ID</h5>
						{% set vend_array = input.get('vendorID', 'array') %}
						<div class="input-group form-group">
							{% include 'util/form/input-with-modal-lookup.twig' with {
									'name': 'vendorID[]', 'id':'vendorid1', 'value': vend_array[0],
									'placeholder': 'From Vend ID',
									'attributes': {},
									'class_add': 'ajax-lookup',
									'modaltarget': '#ajax-modal',
									'modaldescription': 'Search for / Choose Vendor',
									'attributes_button': {
										'data-search': 'vendor',
										'data-lookupurl': page.search_vendorsURL,
										'data-input': '#vendorid1'
									}
								}
							%}
						</div>
						<div class="input-group form-group">
							{% include 'util/form/input-with-modal-lookup.twig' with {
									'name': 'vendorID[]', 'id':'vendorid2', 'value': vend_array[1],
									'placeholder': 'Through Vend ID',
									'attributes': {},
									'class_add': 'ajax-lookup',
									'modaltarget': '#ajax-modal',
									'modaldescription': 'Search for / Choose Vendor',
									'attributes_button': {
										'data-search': 'vendor',
										'data-lookupurl': page.search_vendorsURL,
										'data-input': '#vendorid2'
									}
								}
							%}
						</div>
					</div>
					<div class="col-sm-4">
						<h5>Status</h5>
						<label>New</label>
						<input class="pull-right" type="checkbox" name="status[]" value="N" {{ 'N' in input.get.status ? 'checked' : '' }} ></br>

						<label>Closed</label>
						<input class="pull-right" type="checkbox" name="status[]" value="C" {{ 'C' in input.get.status ? 'checked' : '' }} ></br>
					</div>
				</div>
				<hr>
				<div class="row mt-4">
					<div class="col-sm-4">
						<h5>Order Date</h5>
						<label for="afterdate">From Date</label>
						{% include 'util/date-picker.twig' with {'name': 'date_ordered_from', 'value': input.get.text('date_ordered_from') } %}

						<label for="beforedate">Through Date</label>
						{% include 'util/date-picker.twig' with {'name': 'date_ordered_through', 'value': input.get.text('date_ordered_through') } %}
					</div>
					<div class="col-sm-4">
						<h5>Expected Date</h5>
						<label for="afterdate">From Date</label>
						{% include 'util/date-picker.twig' with {'name': 'date_expected_from', 'value': input.get.text('date_expected_from') } %}

						<label for="beforedate">Through Date</label>
						{% include 'util/date-picker.twig' with {'name': 'date_expected_through', 'value': input.get.text('date_expected_through') } %}
					</div>
				</div>
				<br>
				<div class="row mt-3">
					<div class="col-sm-12 form-group">
						<button class="btn btn-success btn-block" type="submit">Search <i class="fa fa-search" aria-hidden="true"></i></button>
					</div>
					{% if input.get.text('filter') %}
						<div class="col-sm-12 form-group">
							<div>
								<a href="{{ page.url }}" class="btn btn-warning btn-block">
									Clear Search <i class="fa fa-search-minus" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					{% endif %}
				</div>
			</form>
		</div>
	</div>
</div>
