{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	sysop                  Dplus\Codes\Msa\Sysop
	code                   MsaSysopCode
#}
<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<label for="system">System</label>
			<select name="system" class="form-control form-control-sm" id="system" {{ code.system ? '' : 'autofocus' }}>
				<option value=""></option>
				{% for key,label in sysop.fieldAttribute('system', 'options') %}
					<option value="{{ key }}" {{ code.system == key ? 'selected' : '' }}>
						{{ key }} - {{ label }}
					</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="col-sm-6">
		<label for="code">Code</label>
		{% include 'util/bootstrap/form/input.twig' with {
				'input': {
					'name': 'code',
					'value': code.code,
					'attributes': {
						'maxlength': sysop.fieldAttribute('code', 'maxlength'),
						'readonly': code.id != '',
						'autofocus': code.id == '',
					}
				}
			}
		%}
	</div>
</div>
