{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	config                 ConfigSalesOrder
	soTools                Dplus\Mso\So\Tools
	order                  SalesOrder
	order.items            SalesOrderDetail[]|ObjectCollection
#}
{% set lotAllocator = soTools.getLotAllocatorM() %}
<table class="table table-striped table-borderless">
	<thead class="bg-dark text-white font-weight-bold">
		<tr>
			<th>Item ID</th>
			<th class="text-right">Cases</th>
			<th class="text-right">Weight</th>
			<th class="text-right">Price</th>
			<th class="text-right">Amount</th>
			<th class="text-right">Notes</th>
			<th class="text-center">Allocated Lots</th>
		</tr>
	</thead>

	{% for detail in order.items %}
		<tr>
			<td>
				<a href="{{ page.iiUrl(detail.itemid)}}" class="link" target="_blank" aria-label="View item in II" title="View item in II">
					{{ detail.itemid }}
				</a>
				<br>
				<small>{{ detail.desc1 }}</small>
				<br>
				<small>Avg Weight: {{ detail.item.weight }} lbs</small>
			</td>
			<td class="text-right">{{ detail.qty_cases }}</td>
			<td class="text-right">{{ detail.qty_ordered|number_format(config.decimal_places_qty) }}</td>
			<td class="text-right">$ {{ detail.price|number_format(config.decimal_places_price) }}</td>
			<td class="text-right">$ {{ detail.total_price|number_format(config.decimal_places_price) }}</td>
			<td class="text-right">
				<a href="{{ page.orderNotesUrl(order.ordernumber, detail.linenbr) }}" class="h4 {{ detail.has_notes() ? 'text-success' : 'text-muted'}}">
					<i class="fa fa-sticky-note" aria-hidden="true"></i>
				</a>
			</td>
			<td class="text-center">
				{% if lotAllocator.hasAllocated(detail.ordernumber, detail.linenbr) %}
					<button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#{{ detail.linenbr|attrJS }}-allocated" aria-expanded="false" aria-controls="{{ detail.linenbr|attrJS }}-allocated">
						<i class="fa fa-list" aria-hidden="true"></i>
					</button>
				{% endif %}
			</td>
		</tr>

		<tbody class="collapse" id="{{ detail.linenbr|attrJS }}-allocated">
			<tr class="bg-gray">
				<th>Line # {{ detail.linenbr }} allocated Lots</th>
				<th>Lot / Serial #</th>
				<th class="text-right">Qty</th>
				<th colspan="4"></th>
			</tr>
			{% for lot in lotAllocator.allocatedLotserials(detail.ordernumber, detail.linenbr) %}
				<tr>
					<td></td>
					<td>{{ lot.lotserial }}</td>
					<td class="text-right">{{ lot.shipqty|number_format(config.decimal_places_qty) }}</td>
					<td colspan="3"></td>
				</tr>
			{% endfor %}
		</tbody>
	{% endfor %}

	<tfoot>
		<tr class="bg-totals">
			<td>
				Totals
			</td>
			<td class="text-right">
				{{ order.count_cases() }}
			</td>
			<td class="text-right">
				{{ order.total_weight()|number_format(config.decimal_places_qty) }}
			</td>
			<td></td>
			<td class="text-right">
				$ {{ order.subtotal_nontax|number_format(config.decimal_places_price) }}
			</td>
			<td></td>
			<td></td>
		</tr>
	</tfoot>
</table>
