<div class="list-group list-group-flush">
	<div class="list-group-item p-1">
		<div class="form-row">
			<div class="col-sm-4 text-bold">Activity</div>
			<div class="col-sm-4 text-right text-bold">Number</div>
			<div class="col-sm-4 text-right text-bold">Amount</div>
		</div>
	</div>
	<div class="list-group-item p-1">
		<div class="form-row">
			<div class="col-sm-4 text-bold">Sales Orders</div>
			<div class="col-sm-4 text-right">{{ shipto.countSalesOrders() }}</div>
			<div class="col-sm-4 text-right">$ {{ shipto.getSalesOrdersAmt()|currency }}</div>
		</div>
	</div>
	<div class="list-group-item p-1">
		<div class="form-row">
			<div class="col-sm-4 text-bold">Standing Orders</div>
			<div class="col-sm-4 text-right">{{ shipto.countSoStandingOrderDetails() }}</div>
			<div class="col-sm-4 text-right"></div>
		</div>
	</div>
	<div class="list-group-item p-1">
		<div class="form-row">
			<div class="col-sm-4 text-bold">Open Invoices</div>
			<div class="col-sm-4 text-right">{{ shipto.countDistinctArInvoices() }}</div>
			<div class="col-sm-4 text-right">$ {{ (shipto.getArInvoicesTotalAmt() - shipto.getArInvoicesTotalDiscMemosPayments() - shipto.getArInvoicesTotalAmtMemosPayments())|currency }}</div>
		</div>
	</div>

	<div class="list-group-item p-1 bg-light">
		<h5 class="text-center mb-0">Sales History</h5>
	</div>

	<div class="list-group-item p-1">
		<div class="form-row">
			<div class="col-sm-4 text-bold">Period</div>
			<div class="col-sm-4 text-right text-bold">Amount</div>
			<div class="col-sm-4 text-right text-bold">Invoices</div>
		</div>
	</div>
	<div class="list-group-item p-1">
		<div class="form-row">
			<div class="col-sm-4 text-bold">
				<abbr title="{{ "now"|date("F Y") }}">Month-to-date</abbr>
			</div>
			<div class="col-sm-4 text-right">$ {{ shipto.mtd_sales|currency }}</div>
			<div class="col-sm-4 text-right">{{ shipto.mtd_invoices }}</div>
		</div>
	</div>
	<div class="list-group-item p-1">
		<div class="form-row">
			<div class="col-sm-4 text-bold">
				<abbr title="{{ "now"|date("Y") }}">Year-to-date</abbr>
			</div>
			<div class="col-sm-4 text-right">$ {{ shipto.getYtdSales()|currency }}</div>
			<div class="col-sm-4 text-right">{{ shipto.getYtdInvoices() }}</div>
		</div>
	</div>
	<div class="list-group-item p-1">
		<div class="form-row">
			<div class="col-sm-4 text-bold">Last 12 Months</div>
			<div class="col-sm-4 text-right">$ {{ shipto.get_lastxmonthsamount(12)|currency }}</div>
			<div class="col-sm-4 text-right">{{ shipto.get_lastxmonthscount(12) }}</div>
		</div>
	</div>
	<div class="list-group-item p-1">
		<div class="form-row">
			<div class="col-sm-4 text-bold">Prev Fiscal Year</div>
			<div class="col-sm-4 text-right">$ {{ shipto.getPrevFiscalYrSalesAmt()|currency }}</div>
			<div class="col-sm-4 text-right">{{ shipto.getPrevFiscalYrSalesCount() }}</div>
		</div>
	</div>
	<div class="list-group-item py-3 px-1 bg-light"></div>
	<div class="list-group-item p-1">
		<div class="form-row">
			<div class="col-sm-4 text-bold">Last Sale Date</div>
			<div class="col-sm-4 text-right">{{ shipto.lastsaledate|convertdate }}</div>
		</div>
	</div>
	<div class="list-group-item p-1">
		<div class="form-row">
			<div class="col-sm-4 text-bold">Back Order</div>
			<div class="col-sm-4 text-right">{{ shipto.backorder()|yesorno|capitalize }}</div>
		</div>
	</div>
</div>

