{% extends 'util/bread-crumbs.twig' %}

{% set values = page.wire('input').get %}

{% block current_page %}
	<li class="breadcrumb-item">
		<a href="{{ page.menuUrl() }}">
			<i class="fa fa-list" aria-hidden="true"></i> APMAIN
		</a>
	</li>

	{% if values.offsetExists('vendorID') %}
		<li class="breadcrumb-item">
			<a href="{{ page.vendorListUrl(values.text('vendorID')) }}">
				<i class="fa fa-microchip" aria-hidden="true"></i> VXM
			</a>
		</li>
		{% if (values.offsetExists('vendoritemID')) %}
			<li class="breadcrumb-item">
				<a href="{{ page.xrefExitUrl(xref) }}">{{ values.text('vendorID') }}</a>
			</li>
			{% if values.text('vendoritemID') == 'new' %}
				<li class="breadcrumb-item active" aria-current="page">New X-Ref</li>
			{% else %}
				<li class="breadcrumb-item active" aria-current="page">{{ values.text('vendoritemID') }}</li>
			{% endif %}
		{% else %}
			<li class="breadcrumb-item active" aria-current="page">{{ values.text('vendorID') }}</li>
		{% endif %}
	{% elseif values.offsetExists('itemID') %}
		<li class="breadcrumb-item">
			<a href="{{ page.url }}">
				<i class="fa fa-list" aria-hidden="true"></i> APMAIN
			</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{{ page.vendorListUrl('') }}">
				<i class="fa fa-microchip" aria-hidden="true"></i> VXM
			</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">{{ values.text('itemID') }}</li>
	{% else %}
		<li class="breadcrumb-item active" aria-current="page">
			<i class="fa fa-microchip" aria-hidden="true"></i> VXM
		</li>
	{% endif %}
{% endblock %}
