{% extends 'util/bread-crumbs.twig' %}
{% block current_page %}
	{% if page.has('vendorID') %}
		<li class="breadcrumb-item">
			<a href="{{ page.vxmURL(page.vendorID) }}">
				<i class="fa fa-arrows" aria-hidden="true"></i> {{ page.has('dplus_function') ? page.dplus_function|upper : page.title }}
			</a>
		</li>
		{% if (page.has('vendoritemID')) %}
			<li class="breadcrumb-item">
				<a href="{{ page.vxm_vendorURL(page.vendorID) }}">Vendor: {{ page.vendorID }}</a>
			</li>
			{% if page.vendoritemID == 'new' %}
				<li class="breadcrumb-item active" aria-current="page">New Item X-Ref</li>
			{% else %}
				<li class="breadcrumb-item active" aria-current="page">X-Ref Item: {{ page.vendoritemID }}</li>
			{% endif %}
		{% else %}
			<li class="breadcrumb-item active" aria-current="page">Vendor: {{ page.vendorID }}</li>
		{% endif %}
	{% elseif page.has('itemID') %}
		<li class="breadcrumb-item">
			<a href="{{ page.url }}">{{ page.title }}</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">Item: {{ page.itemID }}</li>
	{% else %}
		<li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
	{% endif %}
{% endblock %}
