{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	kim                    module Kim
	kim.component          module KimComponent
	kit                    InvKit
	component              InvKitComponent
	kim.recordlocker       module RecordLockerUserFunction
#}
<form action="{{ page.url }}" method="post" id="kit-component-form">
	<input type="hidden" name="action" value="update-component">
	<input type="hidden" name="itemID" value="{{ kit.itemid }}">
	<input type="hidden" name="kitID" value="{{ kit.itemid }}">

	<div class="form-group row">
		<div class="col-sm-4">
			<label for="component">Component Item ID</label>
		</div>
		<div class="col-sm-8">
			{% if component.itemid == '' %}
				{% include 'util/form/input-with-modal-lookup.twig' with {
						'name': 'component', 'value': component.itemid,
						'modaltarget': '#ajax-modal',
						'modaldescription': 'Search for / Choose Item',
						'attributes_button': {'data-search': 'item', 'data-lookupurl': page.itemlookupURL },
						'class_add': 'ajax-lookup',
						'attributes': {'data-api': 'itm', 'data-validate': 'tariffcode', 'data-ajaxfields': 'description'}
					}
				%}
			{% else %}
				<input type="text" class="form-control-plaintext form-control-sm" name="component" id="component" value="{{ component.itemid }}" readonly>
			{% endif %}
			<small class="form-text text-muted component-description">{{ component.item.description }}</small>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-4">
			<label for="usage">Usage Rate</label>
		</div>
		<div class="col-sm-8">
			{% include 'util/form/input.twig' with {
					'name': 'usage', 'value': component.usage|number_format(kim.component.decimal_places_qty()),
					'class_add': [
						'w-50',
						'text-right',
						kim.field_has_error('usage') ? 'is-invalid' : ''
					],
					'attributes': {}
				}
			%}
			<small class="form-text text-muted">Usage Rate as eaches. <br> Enter number of components needed to make 1 kit.</small>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-4">
			<label for="suppliedby">Vendor Supplied</label>
		</div>
		<div class="col-sm-8">
			{% include 'util/form/select.twig' with {
					'name': 'suppliedby', 'selected_value': component.suppliedby,
					'use_blank_option': true,
					'show_value': true,
					'use_blank_option': true,
					'options': kim.component.options_component_suppliedby(),
					'class_add': [
						'hazmat-step',
						kim.field_has_error('suppliedby') ? 'is-invalid' : ''
					],
					'attributes': {}
				}
			%}
		</div>
	</div>
	<div class="form-group row">
		{% if kim.configs.kt.usageorfreeusage() %}
			<div class="col-sm-4">
				<label for="usagetag">Usage Tag Code</label>
			</div>
			<div class="col-sm-8">
				{% include 'util/form/select.twig' with {
						'name': 'usagetag', 'selected_value': component.usagetag,
						'use_blank_option': true,
						'show_value': true,
						'use_blank_option': true,
						'options': kim.component.options_component_usagetag(),
						'class_add': [
							kim.field_has_error('usagetag') ? 'is-invalid' : ''
						],
						'attributes': {}
					}
				%}
			</div>
		{% else %}
			<div class="col-sm-4">
				<label for="freegoods">Free Goods</label>
			</div>
			<div class="col-sm-8">
				{% include 'util/form/select.twig' with {
						'name': 'freegoods', 'selected_value': component.freegoods,
						'show_value': true,
						'options': {'Y': 'Yes', 'N': 'No'},
						'class_add': [
							kim.field_has_error('freegoods') ? 'is-invalid' : ''
						],
						'attributes': {}
					}
				%}
			</div>
		{% endif %}

	</div>
	<div class="d-flex justify-content-between align-items-center">
		{#
			Only show Edit Actions if the Item is
			1. Locked for editing by the User
			2. Is a new Item
			NOTE: Only show delete if item already exists.
		#}
		{% if kim.recordlocker.function_locked_by_user(kit.itemid) or component.isNew() %}
			<button type="submit" class="btn btn-success">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
			</button>
			{% if component.isNew() == false %}
				<a href="{{ page.kit_component_deleteURL(kit.itemid, component.itemid) }}" class="btn btn-danger form-link delete_button" data-component="{{ component.itemid }}">
					<i class="fa fa-trash-o" aria-hidden="true"></i> Delete
				</a>
			{% endif %}
		{% endif %}
		<a href="{{ page.kitURL(component.kitid, component.itemid) }}" class="btn btn-warning">
			<i class="fa fa-times" aria-hidden="true"></i> Close
		</a>
	</div>
</form>
