{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	config                 ConfigSalesOrder
	order                  SalesOrder
	order.items            SalesOrderDetail[]|ObjectCollection
#}
<table class="table table-striped table-borderless">
	<thead class="bg-dark text-white font-weight-bold">
		<tr>
			<th>Item ID</th>
			<th class="text-right">Cases</th>
			<th class="text-right">Weight</th>
			<th class="text-right">Price</th>
			<th class="text-right">Amount</th>
		</tr>
	</thead>
	<tbody>
		{% for detail in order.items %}
			<tr>
				<td>
					{{ detail.itemid }}
					<br>
					<small>{{ detail.desc1 }}</small>
					<br>
					<small>Avg Weight: {{ detail.item.weight }} lbs</small>
				</td>
				<td class="text-right">{{ detail.qty_cases }}</td>
				<td class="text-right">{{ detail.qty_ordered|number_format(config.decimal_places_qty) }}</td>
				<td class="text-right">$ {{ detail.price|number_format(config.decimal_places_price) }}</td>
				<td class="text-right">$ {{ detail.total_price|number_format(config.decimal_places_price) }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
