{% extends 'util/bread-crumbs.twig' %}
{% block current_page %}
	{% if input.get.offsetExists('kitID') %}
		<li class="breadcrumb-item">
			<a href="{{ page.url }}">
				<i class="fa fa-list-alt" aria-hidden="true"></i> {{ page.title }}
			</a>
		</li>

		{% if input.get.offsetExists('component') %}
			<li class="breadcrumb-item">
				<i class="fa fa-cubes" aria-hidden="true"></i> <a href="{{ page.kitUrl(input.get.text('kitID')) }}">{{ input.get.text('kitID') }}</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				<i class="fa fa-cube" aria-hidden="true"></i> {{ input.get.text('component') }}
			</li>
		{% else %}
			<li class="breadcrumb-item active" aria-current="page">
				<i class="fa fa-cubes" aria-hidden="true"></i> {{ input.get.text('kitID') }}
			</li>
		{% endif %}
	{% else %}
		<li class="breadcrumb-item active" aria-current="page">
			<i class="fa fa-list-alt" aria-hidden="true"></i> {{ page.title }}
		</li>
	{% endif %}
{% endblock %}
