{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	kim                    module Kim
	kits                   InvKit[]|ObjectCollection
#}
<table class="table table-sm">
	<thead>
		<tr class="bg-dark text-white p-3">
			<th class="pt-3 pb-3 align-middle">Kit Item ID</th>
			<th class="pt-3 pb-3 align-middle">Description</th>
			<th class="pt-3 pb-3 align-middle"># of Items</th>
			<th class="pt-3 pb-3 text-center">
				<button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#create-kit-modal" title="Choose Customer to Add CXM" aria-label="Choose Customer to Add CXM" data-custid="{{ page.has('custID') ? page.custID : '' }}" data-search="customers">
					<i class="fa fa-plus" aria-hidden="true"></i> Add New
				</button>
			</th>
		</tr>
	</thead>
	<tbody>
		{% if kits.count() %}
			{% for kit in kits %}
				{% set class = kit.itemid == page.focus ? 'highlight' : '' %}
				{# set class = (response.key == kit.itemid and response.has_success()) ? 'bg-success text-white' : class #}
				<tr class="{{ class }}" data-kit="{{ kit.itemid }}">
					<td>{{ kit.itemid }}</td>
					<td>{{ kit.item.description }}</td>
					<td class="text-center">{{ kit.countInvKitComponents() }}</td>
					<td class="text-center">
						{% if kim.recordlocker.isLocked(kit.itemid) == false or kim.recordlocker.userHasLocked(kit.itemid) %}
							<a href="{{ page.kitUrl(kit.itemid) }}" class="btn btn-warning btn-sm">
								<i class="fa fa-pencil" aria-hidden="true"></i> Edit
							</a>
							&nbsp; &nbsp;
							<a href="{{ page.kitDeleteUrl(kit.itemid) }}" class="btn btn-danger btn-sm delete-kit" data-kitid="{{ kit.itemid }}">
								<i class="fa fa-trash" aria-hidden="true"></i> Delete
							</a>
						{% else %}
							<span class="badge badge-secondary">
								<i class="fa fa-lock" aria-hidden="true"></i> Locked By {{ kim.recordlocker.getLockingUser(kit.itemid) }}
							</span>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		{% endif %}
	</tbody>
</table>
