<div id="invoices">
	<h3 class="font-weight-bold text-secondary">Invoices <i class="fa fa-file-text-o" aria-hidden="true"></i></h3>
	<table class="table table-striped table-borderless">
		<thead class="bg-dark text-white font-weight-bold">
			<tr>
				<th>Invoice #</th>
				<th>Vendor</th>
				<th class="text-right">Number of Items</th>
				<th>Invoice Date</th>
				<th class="text-right">Total</th>
			</tr>
		</thead>
		<tbody>
			{% for invoice in purchaseorder.getApInvoices() %}
				<tr>
					<td>
						<a href="{{ page.view_apinvoiceURL(invoice.invoicenumber) }}" class="link">{{ invoice.invoicenumber }}</a>
					</td>
					<td>{{ invoice.vendor.name }} ({{ invoice.vendor.id }})</td>
					<td class="text-right">{{ invoice.countApInvoiceDetails() }}</td>
					<td>{{ invoice.date_invoiced|convertdate }}</td>
					<td class="text-right">$ {{ invoice.total|currency }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

</div>
