<div class="mb-3">
	<div class="row">
		<div class="col-sm-9">
			<a href="#" class="btn btn-light" aria-label="Return to last page" onclick="window.history.back();">
				<i class="fa fa-undo" aria-hidden="true"></i> back
			</a>
			&nbsp;
			<a href="{{ page.get_purchaseordersURL() }}" class="btn btn-light">
				<i class="fa fa-list" aria-hidden="true"></i> Purchase Orders List
			</a>
			&nbsp;
			<a href="{{ page.get_purchaseorders_vendorURL(purchaseorder.vendorid) }}" class="btn btn-light">
				<i class="fa fa-list" aria-hidden="true"></i> {{ purchaseorder.vendorid }} Purchase Orders List
			</a>
			&nbsp;
			<a href="{{ page.get_printURL() }}" class="btn btn-primary" target="_blank" aria-label="View Printable" title="View Printable">
				<i class="fa fa-print" aria-hidden="true"></i> View Print
			</a>
			&nbsp;
			<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#header-notes-modal">
				<i class="fa fa-sticky-note-o" aria-hidden="true"></i> Notes
			</button>
		</div>
		<div class="col text-right">
			{% if document_management.count_documents_po(purchaseorder.ponbr) %}
				<a href="#documents" title="View Documents" aria-label="View Documents">
					<i class="fa fa-file-text fa-2x" aria-hidden="true"></i>
				</a>
			{% else %}
				<span title="View Documents" aria-label="View Documents">
					<i class="fa fa-file-text fa-2x text-light" aria-hidden="true"></i>
				</span>
			{% endif %}
			&nbsp;
			<a href="#notes" class="{{ purchaseorder.count_notes() ? 'text-success' : 'text-muted'}}" title="View Notes" aria-label="View Notes">
				<i class="fa fa-sticky-note-o fa-2x" aria-hidden="true"></i>
			</a>
			&nbsp;
			<a href="#invoices" class="{{ purchaseorder.countApInvoices() ? '' : 'text-light'}}" title="View Invoices" aria-label="View Invoices">
				<i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</div>
