{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	config                 ProcessWire\Config
	config.so              ConfigSalesOrder
	config.po              ConfigPo
	user                   ProcessWire\User
	purchaseorder          PurchaseOrder
#}
<table class="table table-striped table-borderless">
	<thead class="bg-dark text-white font-weight-bold">
		<tr>
			<th>Item</th>
			<th>Whse</th>
			<th>Special Order</th>
			<th class="text-right">Qty</th>
			<th class="text-right">Price</th>
			<th class="text-right">Total Price</th>
		</tr>
	</thead>
	<tbody>
		{% for detail in purchaseorder.getPurchaseOrderDetails() %}
			<tr>
				<td>
					{{ detail.itemid }}<br>
					<small class="smaller">{{ detail.description }}</small>
				</td>
				<td>{{ detail.whse }}</td>
				<td>{{ detail.specialorder }}</td>
				<td class="text-right">{{ detail.qty_ordered|number_format(config.so.decimal_places_qty) }}</td>
				<td class="text-right">$ {{ detail.cost|number_format(config.po.decimal_places_cost) }}</td>
				<td class="text-right">$ {{ detail.cost_total|number_format(config.po.decimal_places_cost) }}</td>
			</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tfoot>
			<tr class="bg-secondary text-white">
				<td colspan="5" class="text-right"><b>Total</b></td>
				<td class="text-right">$ {{ purchaseorder.get_total()|number_format(config.po.decimal_places_cost) }}</td>
			</tr>
		</tfoot>
	</tfoot>
</table>
