{% extends "sales-orders/sales-orders-list.twig" %}

{% block header %}
	<div class="row">
		<div class="col">
			<a href="{{ page.get_sortURL('ordernumber') }}" class="link">Order Number
				{% if page.orderby_column == 'ordernumber' %}
					<i class="fa fa-sort-amount-{{ page.orderby_sort|lower }}" aria-hidden="true"></i>
				{% endif %}
			</a>
		</div>
		<div class="col">
			<a href="{{ page.get_sortURL('custid') }}" class="link">Customer
				{% if page.orderby_column == 'custid' %}
					<i class="fa fa-sort-alpha-{{ page.orderby_sort|lower }}" aria-hidden="true"></i>
				{% endif %}
			</a>
		</div>
		<div class="col">
			<a href="{{ page.get_sortURL('custpo') }}" class="link">Customer PO
				{% if page.orderby_column == 'custpo' %}
					<i class="fa fa-sort-alpha-{{ page.orderby_sort|lower }}" aria-hidden="true"></i>
				{% endif %}
			</a>
		</div>
		<div class="col">
			<a href="{{ page.get_sortURL('shiptoid') }}" class="link">Ship-to
				{% if page.orderby_column == 'shiptoid' %}
					<i class="fa fa-sort-alpha-{{ page.orderby_sort|lower }}" aria-hidden="true"></i>
				{% endif %}
			</a>
		</div>
		<div class="col text-right">
			<a href="{{ page.get_sortURL('total_total') }}" class="link">Order Total
				{% if page.orderby_column == 'total_total' %}
					<i class="fa fa-sort-amount-{{ page.orderby_sort|lower }}" aria-hidden="true"></i>
				{% endif %}
			</a>
		</div>
		<div class="col">
			<a href="{{ page.get_sortURL('date_ordered') }}" class="link">Order Date
				{% if page.orderby_column == 'date_ordered' %}
					<i class="fa fa-sort-amount-{{ page.orderby_sort|lower }}" aria-hidden="true"></i>
				{% endif %}
			</a>
		</div>
		<div class="col">
			<a href="{{ page.get_sortURL('status') }}" class="link">Status
				{% if page.orderby_column == 'status' %}
					<i class="fa fa-sort-{{ page.orderby_sort|lower }}" aria-hidden="true"></i>
				{% endif %}
			</a>
		</div>
	</div>
{% endblock %}
