<div class="mb-3">
    <a href="{{ page.listpage.url }}" class="btn btn-light">
        <i class="fa fa-list" aria-hidden="true"></i> View Sales History List
    </a>
    &nbsp; &nbsp;
    <a href="#" class="btn btn-light" aria-label="Return to last page" onclick="window.history.back();">
        <i class="fa fa-undo" aria-hidden="true"></i> Go back
    </a>
</div>
<div class="row mt-4">
    <div class="col-sm-4">
        <legend class="font-weight-bold text-danger">Billing ({{ customer.custid }}) </legend>
        <address>
			{{ customer.name }} <br>
            {{ customer.address1 }} <br>
            {{ customer.address2 ? customer.address2 ~ "<br>" : ''}}
            {{ customer.city ~ ', ' ~ customer.state ~ ' ' ~ customer.zip}}
        </address>
    </div>
    <div class="col-sm-4">
        <legend class="font-weight-bold text-danger">Shipping ({{ order.shiptoid }})</legend>
        <address>
            {{ order.shipto_name }} <br>
            {{ order.shipto_address1 }} <br>
            {{ order.shipto_address2 ? order.shipto_address2 ~ "<br>" : ''}}
            {{ order.shipto_city ~ ', ' ~ order.shipto_state ~ ' ' ~ order.shipto_zip}}
        </address>
    </div>
    <div class="col-sm-4">
        <legend class="font-weight-bold text-danger">Order Summary</legend>
        <div class="row">
            <div class="col-sm-7">Subtotal:</div>
            <div class="col-sm-5 text-right">$ {{ order.subtotal_nontax|number_format(2, '.', ',') }}</div>
        </div>
        <div class="row">
            <div class="col-sm-7">Shipping:</div>
            <div class="col-sm-5 text-right">$ {{ order.total_freight|number_format(2, '.', ',') }}</div>
        </div>
        <div class="row">
            <div class="col-sm-7">Tax:</div>
            <div class="col-sm-5 text-right">$ {{ order.total_tax|number_format(2, '.', ',') }}</div>
        </div>
        <div class="row">
            <div class="col-sm-7">Total:</div>
            <div class="col-sm-5 text-right">$ {{ order.total_total|number_format(2, '.', ',') }}</div>
        </div>
    </div>
</div>

<h3 class="font-weight-bold text-danger mt-4">Order Items</h3>
<table class="table table-striped table-borderless">
	<thead class="bg-dark text-white font-weight-bold">
        <tr>
            <th>Item ID</th>
			<th class="text-right">Qty</th>
			<th class="text-right">Price</th>
            <th class="text-right">Total Price</th>
        </tr>
	</thead>
    <tbody>
        {% for detail in order_items %}
            <tr>
                <td>
                    {{ detail.itemid }}</br>
                    <small>{{ detail.desc1 }}</small>
                </td>
                <td class="text-right">{{ detail.qty_ordered|number_format() }}</td>
                <td class="text-right">$ {{ detail.price|number_format(2, '.', ',') }}</td>
                <td class="text-right">$ {{ detail.total_price|number_format(2, '.', ',') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="row">
    <div class="col">
        <button class="btn btn-block btn-warning"> <i class="fa fa-pencil" aria-hidden="true"></i> Edit Order</button>
    </div>
</div>
