<div class="list-group">
	<div class="list-group-item list-group-item-action bg-light">
		{% block header %}
			<div class="row">
				<div class="col-2">Order #</div>
				<div class="col-3">Customer</div>
				<div class="col-2">Customer PO</div>
				<div class="col-1">Ship-to</div>
				<div class="col-2 text-right">Order Total</div>
				<div class="col-1">Order Date</div>
				<div class="col-1">Status</div>
			</div>
		{% endblock %}
	</div>
	{% if orders.count > 0 %}
		{% for order in orders %}
			<a href="{{ orderpage ~ '?ordn=' ~ order.ordernumber }}" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col-2">
						{{ order.ordernumber }}
					</div>
					<div class="col-3">
						<div>{{ order.custid }}</div>
						<small class="text-muted">{{ order.customer.name }}</small>
					</div>
					<div class="col-2">{{ order.custpo }}</div>
					<div class="col-1">{{ order.shiptoid }}</div>
					<div class="col-2 text-right">$ {{ order.total_total|currency }}</div>
					<div class="col-1">{{ order.date_ordered|convertdate }}</div>
					<div class="col-1">{{ order.status()|capitalize }}</div>
				</div>
			</a>
		{% endfor %}
	{% else %}
		<div class="list-group-item">
			<div class="row">
				<div class="col text-center">There are no results to display.</div>
			</div>
		</div>
	{% endif %}
</div>
