<div class="mb-4 row">
	<div class="col-sm-6">
		<a href="{{ page.parent.url }}" class="btn btn-info"><i class="fa fa-arrow-circle-left text-white" aria-hidden="true"></i>&ensp;Back to Sales Orders Menu</a>
	</div>
	<div class="col-sm-6">
		<button class="btn btn-info toggle-order-search pull-right" type="button" data-toggle="collapse" data-target="#orders-search-div" aria-expanded="false" aria-controls="orders-search-div">Toggle Search&ensp;<i class="fa fa-search" aria-hidden="true"></i></button>
	</div>
</div>

<div id="orders-search-div" class="{{ input.get.text('filter') is empty ? 'collapse' : ''}}">
	<div class="card mb-3">
		<div class="card-body">
			<form action="" method="get" class="allow-enterkey-submit">
				<input type="hidden" name="filter" value="filter">

				<div class="row mt-3">
					<div class="col-sm-4">
						<h5>Order #</h5>
						<input class="form-control form-group inline" type="text" name="ordernumber1" value="{{ input.get.text('ordernumber1') }}" placeholder="From Order #">
						<input class="form-control form-group inline" type="text" name="ordernumber2" value="{{ input.get.text('ordernumber2') }}" placeholder="Through Order #">
					</div>
					<div class="col-sm-4">
						<h5>Cust ID</h5>
						<div class="input-group form-group">
							<input class="form-control form-group inline" type="text" name="custid1" id="sales-order-cust-from" value="{{ input.get.text('custid1') }}" placeholder="From CustID">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default not-round get-custid-search" data-field="#sales-order-cust-from"> <i class="fa fa-search"></i> <span class="sr-only">Search</span> </button>
							</span>
						</div>
						<div class="input-group form-group">
							<input class="form-control form-group inline" type="text" name="custid2" id="sales-order-cust-to" value="{{ input.get.text('custid2') }}" placeholder="Through CustID">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default not-round get-custid-search" data-field="#sales-order-cust-to"> <i class="fa fa-search"></i> <span class="sr-only">Search</span> </button>
							</span>
						</div>
					</div>
					<div class="col-sm-4">
						<h5>Cust PO</h5>
						<input class="form-control inline" type="text" name="custpo" value="{{ input.get.text('custpo') }}" placeholder="Cust PO">
					</div>
				</div>
				<hr>
				<div class="row mt-4">
					<div class="col-sm-4">
						<h5>Order Date</h5>
						<label for="afterdate">From Date</label>
						{% set name = 'orderdate1' %}
						{% set value = input.get.text('orderdate1') %}
						{% include 'util/date-picker.twig' %}

						<label for="beforedate">Through Date</label>
						{% set name = 'orderdate2' %}
						{% set value = input.get.text('orderdate2') %}
						{% include 'util/date-picker.twig' %}
					</div>
					<div class="col-sm-4">
						<h5>Order Total</h5>
						<div class="input-group form-group">
							<input class="form-control form-group inline" type="text" name="order_total1" id="order-total-min" value="{{ input.get.text('order_total1') }}" placeholder="From Order Total">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default not-round" onclick=""> <span class="fa fa-angle-double-down" aria-hidden="true"></span> <span class="sr-only">Min</span> </button>
							</span>
						</div>
						<div class="input-group form-group">
							<input class="form-control form-group inline" type="text" name="order_total2" id="order-total-max" value="{{ input.get.text('order_total2') }}" placeholder="Through Order Total">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default not-round" onclick=""> <span class="fa fa-angle-double-up" aria-hidden="true"></span> <span class="sr-only">Max</span> </button>
							</span>
						</div>
					</div>
					<div class="col-sm-4">
						<h5>Order Status</h5>
						<label>New</label>
						<input class="pull-right" type="checkbox" name="status-n" value="N" {{ input.get.text('status-n') ? 'checked' : '' }} ></br>

						<label>Invoice</label>
						<input class="pull-right" type="checkbox" name="status-i" value="I" {{ input.get.text('status-i') ? 'checked' : '' }} ></br>

						<label>Picked</label>
						<input class="pull-right" type="checkbox" name="status-p" value="P" {{ input.get.text('status-p') ? 'checked' : '' }} ></br>

						<label>Verified</label>
						<input class="pull-right" type="checkbox" name="status-v" value="V" {{ input.get.text('status-v') ? 'checked' : '' }} ></br>
					</div>
				</div>
				<br>
				<div class="row mt-3">
					<div class="col-sm-12 form-group">
						<button class="btn btn-success btn-block" type="submit">Search <i class="fa fa-search" aria-hidden="true"></i></button>
					</div>
					{% if input.get.text('filter') %}
						<div class="col-sm-12 form-group">
							<div>
								<a href="{{ page.url }}" class="btn btn-warning btn-block">
									Clear Search <i class="fa fa-search-minus" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					{% endif %}
				</div>
			</form>
		</div>
	</div>
</div>
