<div class="mb-4 row">
	<div class="col-sm-6">
		<a href="{{ page.parent.url }}" class="btn btn-info"><i class="fa fa-arrow-circle-left text-white" aria-hidden="true"></i>&ensp;Back to Sales Orders Menu</a>
	</div>
	<div class="col-sm-6">
		<button class="btn btn-info toggle-order-search pull-right" type="button" data-toggle="collapse" data-target="#orders-search-div" aria-expanded="false" aria-controls="orders-search-div">
			<i class="fa fa-filter" aria-hidden="true"></i> Toggle Filters
		</button>
	</div>
</div>

<div id="orders-search-div" class="{{ input.get.text('filter') is empty ? 'collapse' : ''}}">
	<div class="card mb-3">
		<div class="card-body">
			<form action="" method="get" class="remove-empty-fields" submit-empty="false">
				<input type="hidden" name="filter" value="filter">

				<div class="row mt-3">
					<div class="col-sm-4">
						<h5>Order #</h5>
						<input class="form-control form-group inline" type="text" name="ordernumber_from" value="{{ input.get.text('ordernumber_from') }}" placeholder="From Order #">
						<input class="form-control form-group inline" type="text" name="ordernumber_through" value="{{ input.get.text('ordernumber_through') }}" placeholder="Through Order #">
					</div>
					<div class="col-sm-4">
						<h5>Cust ID</h5>
						{% set cust_array = input.get('custID', 'array') %}
						<div class="input-group form-group">
							<input class="form-control form-group inline" type="text" name="custID[]" id="sales-order-cust-from" value="{{ cust_array[0] }}" placeholder="From CustID">
							<span class="input-group-append">
								<button type="button" class="btn btn-default not-round get-custid-search" data-field="#sales-order-cust-from"> <i class="fa fa-search"></i> <span class="sr-only">Search</span> </button>
							</span>
						</div>
						<div class="input-group form-group">
							<input class="form-control form-group inline" type="text" name="custID[]" id="sales-order-cust-to" value="{{ cust_array[1] }}" placeholder="Through CustID">
							<span class="input-group-append">
								<button type="button" class="btn btn-default not-round get-custid-search" data-field="#sales-order-cust-to"> <i class="fa fa-search"></i> <span class="sr-only">Search</span> </button>
							</span>
						</div>
					</div>
					<div class="col-sm-4">
						<h5>Cust PO</h5>
						<input class="form-control inline" type="text" name="custpo" value="{{ input.get.text('custpo') }}" placeholder="Cust PO">
					</div>
				</div>
				<hr>
				<div class="row mt-4">
					<div class="col-sm-4">
						<div class="row">
							<div class="col">
								<h5>Order Date</h5>
								<label for="afterdate">From Date</label>
								{% include 'util/date-picker.twig' with {'name':'orderdate_from', 'value': input.get.text('orderdate_from')} %}

								<label for="beforedate">Through Date</label>
								{% include 'util/date-picker.twig' with {'name':'orderdate_through', 'value': input.get.text('orderdate_through')} %}
							</div>
							<div class="col">
								<h5>Request Date</h5>
								<label for="afterdate">From Date</label>
								{% include 'util/date-picker.twig' with {'name':'requestdate_from', 'value': input.get.text('requestdate_from')} %}

								<label for="beforedate">Through Date</label>
								{% include 'util/date-picker.twig' with {'name':'requestdate_through', 'value': input.get.text('requestdate_through')} %}
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<h5>Order Total</h5>
						<div class="input-group form-group">
							<input class="form-control form-group inline" type="text" name="order_total_from" id="order-total-min" value="{{ input.get.text('order_total_from') }}" placeholder="From Order Total">
							<span class="input-group-append">
								<button type="button" class="btn btn-default not-round" onclick=""> <span class="fa fa-angle-double-down" aria-hidden="true"></span> <span class="sr-only">Min</span> </button>
							</span>
						</div>
						<div class="input-group form-group">
							<input class="form-control form-group inline" type="text" name="order_total_through" id="order-total-max" value="{{ input.get.text('order_total_through') }}" placeholder="Through Order Total">
							<span class="input-group-append">
								<button type="button" class="btn btn-default not-round" onclick=""> <span class="fa fa-angle-double-up" aria-hidden="true"></span> <span class="sr-only">Max</span> </button>
							</span>
						</div>
					</div>
					<div class="col-sm-4">
						<h5>Order Status</h5>
						<label>New</label>
						<input class="pull-right" type="checkbox" name="status[]" value="N" {{ 'N' in input.get.status ? 'checked' : '' }} ></br>

						<label>Invoice</label>
						<input class="pull-right" type="checkbox" name="status[]" value="I" {{ 'I' in input.get.status  ? 'checked' : '' }} ></br>

						<label>Picked</label>
						<input class="pull-right" type="checkbox" name="status[]" value="P" {{ 'P' in input.get.status ? 'checked' : '' }} ></br>

						<label>Verified</label>
						<input class="pull-right" type="checkbox" name="status[]" value="V" {{ 'V' in input.get.status  ? 'checked' : '' }} ></br>
					</div>
				</div>
				<br>
				<div class="d-flex w-100 justify-content-between">
					<div>
						<button class="btn btn-success" type="submit">
							<i class="fa fa-filter" aria-hidden="true"></i> Filter
						</button>
					</div>
					<div>
						<a href="{{ page.url }}" class="btn btn-warning">
							<i class="fa fa-times" aria-hidden="true"></i> Clear Filter
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
