<nav class="breadcrumb p-0 d-print-none d-flex justify-content-between rounded-0">
	<ol class="breadcrumb rounded-0 mb-0">
		{% block parents %}
			{% for parent in page.parents() %}
				<li class="breadcrumb-item">
					<a href="{{ parent.url }}">
						<i class="fa {{ parent.template == 'home' ? 'fa-home' : 'fa-list'}}" aria-hidden="true"></i>
						{% if parent.template != 'home' %}
							{{ parent.has('dplus_function') and parent.dplus_function|length ? parent.dplus_function|upper : parent.title }}
						{% endif %}
						<span class="sr-only">Home</span>
					</a>
				</li>
			{% endfor %}
		{% endblock %}

		{% block extra_parents %}
		{% endblock %}

		{% block current_page %}
			{% if page.has('title_previous') and page.title_previous != page.title %}
				<li class="breadcrumb-item">
					<a href="{{ page.url }}">{{ page.title_previous }}</a>
				</li>
			{% endif %}
			<li class="breadcrumb-item active" aria-current="page">
				<i class="fa {{ page.template == 'dplus-menu' ? 'fa-list' : page.template == 'home' ? 'fa-home' : 'fa-microchip'}}" aria-hidden="true"></i>
				{{ page.has('dplus_function') and page.dplus_function|length ? page.dplus_function|upper : page.title }}
			</li>
		{% endblock %}	
	</ol>

	<ol class="breadcrumb rounded-0 mb-0 bg-dark text-white flex-grow-1 flex-sm-grow-0">
		<li class="breadcrumb-item pull-right w-100 text-center">
			{{ page.get('pagetitle|headline|title')|raw }}
		</li>
	</ol>
</nav>
