<select name="{{ name }}" id="{{ id }}" class="form-control">
	<option value="">-- Choose --</option>
	{% for value, description in options %}
		<option value="{{ value }}" {{ value == selectedvalue ? 'selected' : ''}}>{{ capitalize_labels ? description|capitalize : description }}</option>
	{% endfor %}
</select>
