{% set show_value = show_value ? show_value : false %}
<select name="{{ name }}" id="{{ id }}" tabindex="{{ tabindex ? tabindex : '' }}" class="form-control form-control-sm" {{ disabled == true ? 'disabled' : '' }}>
	{% if hideblankoption == false %}
		<option value="">
			{{ blankoption ? blankoption : '-- Choose --'}}
		</option>
	{% endif %}

	{% for value, description in options %}
		<option value="{{ value }}" {{ value == selectedvalue ? 'selected' : ''}}>
			{{ show_value ? value ~ ' - ' }} {{ capitalize_labels ? description|capitalize : description }}
		</option>
	{% endfor %}
</select>
