{# vtm is an instance of ApTypeCode #}
<form action="{{ input.paginateUrl(1) }}" method="POST" id="code-form" data-code="">
	<input type="hidden" name="action" value="update">

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="code">Code</label>
				<input type="text" name="code" class="form-control form-control-sm" maxlength="{{ manager.fieldAttribute('code', 'maxlength') }}" id="code">
			</div>

			<div class="form-group">
				<label for="description">Description</label>
				<input type="text" name="description" class="form-control form-control-sm" maxlength="{{ manager.fieldAttribute('description', 'maxlength') }}" id="description">
			</div>

			<div class="form-group">
				<label for="number">Tariff Number</label>
				{% include 'util/bootstrap/form/input.twig' with {
						'input': {
							'name': 'number',
							'size': 'sm',
							'attributes': {
								'placeholder': '',
								'aria-label':  'Number',
								'maxlength': manager.fieldAttribute('number', 'maxlength')
							}
						}
					}
				%}
			</div>

			<div class="form-group">
				<label for="percent">Tariff Percent</label>
				{% include 'util/bootstrap/form/input.twig' with {
						'input': {
							'name': 'percent',
							'type': 'number',
							'size': 'sm',
							'addclasses': ['text-right'],
							'attributes': {
								'placeholder': '',
								'aria-label':  'Percent'
							}
						}
					}
				%}
			</div>
		</div>
		<div class="col-sm-6">
			<legend>Countries</legend>

			<div class="form-group country">
				<label>Countries</label>
				<div style="overflow-y:scroll; height: 195px">
					{% for country in manager.countriesM.getAllCountryCodes() %}
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input country-checkbox" name="country[]" value="{{ country.code }}" id="{{ country.code }}">
							<label class="custom-control-label" for="{{ country.code }}">
								{{ country.description }}
							</label>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-between align-items-center">
		<button type="submit" class="btn btn-success form_button">
			<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
		</button>
		<button type="button" class="btn btn-warning" data-dismiss="modal">
			<i class="fa fa-times" aria-hidden="true"></i> Close
		</button>
	</div>
</form>
