<div class="list-group">
	<div class="list-group-item bg-dark text-white">
		<div class="row align-items-center">
			<div class="col-2">
				Code
			</div>
			<div class="col-2">
				Tariff Number
			</div>
			<div class="col-3">
				Description
			</div>
			<div class="col-2">
				Tariff %
			</div>
			<div class="col-3 text-center">
				{% if page.is_print() == false %}
					<a href="{{ page.url ~ '?code=new' }}" class="btn btn-light">
						<i class="fa fa-plus" aria-hidden="true"></i> Add Code
					</a>
				{% endif %}
			</div>
		</div>
	</div>
	{% for code in codes %}
		<div id="{{ code.code }}" class="list-group-item pb-1 pt-1 {{ (response.key == code.code and response.has_success() ) ? 'bg-success text-white' : ''}}">
			<div class="row align-items-center">
				<div class="col-2">
					{{ code.code }}
				</div>
				<div class="col-2">
					{{ code.number }}
				</div>
				<div class="col-3">
					{{ code.description }}
				</div>
				<div class="col-2">
					{{ code.duty_rate }}
				</div>
				<div class="col-3 text-center">
					{% if page.is_print() == false %}
						<a href="{{ page.get_codetable_code_editURL(page.codetable, code.code) }}" class="btn btn-warning">
							<i class="fa fa-pencil" aria-hidden="true"></i> Edit
						</a>
						&nbsp;
						<a href="{{ page.get_codetable_code_deleteURL(page.codetable, code.code) }}" class="btn btn-danger delete_button">
							<i class="fa fa-trash" aria-hidden="true"></i> Delete
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
</div>
