<div class="list-group mb-3">
	<div class="list-group-item bg-dark text-white">
		<div class="row">
			<div class="col">Line #</div>
			<div class="col-4">Item ID / Description</div>
			<div class="col">Vendor Item ID</div>
			<div class="col">Qty Ordered</div>
			<div class="col">Qty Received</div>
			<div class="col">Qty Remaining</div>
		</div>
	</div>
	{% for item in items %}
		<div class="list-group-item first-txn-row {{ item.count_receivedlots() > item.qty_ordered ? 'bg-warning text-white' : ''}}">
			<div class="row">
				<div class="col">
					<button type="button" class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#{{ (item.linenbr ~ '-lotserial')|attrJS }}" aria-expanded="false" aria-controls="{{ (item.linenbr ~ '-lotserial')|attrJS }}">
						{{ item.linenbr }}
					</button>
				</div>
				<div class="col-4">
					<b>{{ item.itemid }}</b> <br>
					<small>{{ item.description }}</small>
					{% if item.count_receivedlots() > item.qty_ordered %}
						<br>
						<b>Qty Received is more than Qty Ordered.</b>
					{% endif %}
				</div>
				<div class="col">{{ item.vendoritemid }}</div>
				<div class="col text-right">{{ item.qty_ordered|number_format(m_receiving.decimalPlacesQty()) }}</div>
				<div class="col text-right">{{ item.count_receivedlots()|number_format(m_receiving.decimalPlacesQty()) }}</div>
				<div class="col text-right">{{ item.qty_ordered|number_format(m_receiving.decimalPlacesQty()) - item.count_receivedlots()|number_format(m_receiving.decimalPlacesQty()) }}</div>
			</div>
		</div>
		<div class="collapse" id="{{ (item.linenbr ~ '-lotserial')|attrJS }}">
			<div class="list-group">
				<div class="list-group-item bg-dark text-white">
					<div class="row">
						<div class="col">Lot #</div>
						<div class="col">Lot Ref</div>
						<div class="col">Production Date</div>
						<div class="col">Weight</div>
						<div class="col">Bin</div>
						<div class="col"></div>
					</div>
				</div>
				{% for lot in item.get_receivedlots() %}
					<div class="list-group-item">
						<div class="row">
							<div class="col">{{ lot.lotserial }}</div>
							<div class="col">{{ lot.lotreference }}</div>
							<div class="col">{{ lot.date_production|convertdate }}</div>
							<div class="col">{{ lot.qty_received|number_format(m_receiving.decimalPlacesQty()) }}</div>
							<div class="col text-right">{{ lot.bin }}</div>
							<div class="col">
								<a href="{{ page.deleteReceivedLotserialUrl(lot) }}" class="btn btn-danger btn-sm">
									<i class="fa fa-trash-o" aria-hidden="true"></i> Delete
								</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
</div>
