<form action="{{ input.url() }}">
	<input type="hidden" name="action" value="return-lot">
	<input type="hidden" name="itemID" value="{{ json['item']['itemid'] }}">
	<input type="hidden" name="lotnbr" value="{{ json['item']['lotnbr'] }}">
	<input type="hidden" name="lotref" value="{{ json['item']['lotref'] }}">
	<input type="hidden" name="productiondate" value="{{ json['item']['proddate'] }}">
	<input type="hidden" name="qty" value="{{ json['item']['qty'] }}">
	<input type="hidden" name="ordn" value="{{ json['item']['salesorder']['ordernumber'] }}">
	<input type="hidden" name="ponbr" value="{{ json['item']['purchaseorder']['ponbr'] }}">
	<input type="hidden" name="whseID" value="{{ user.whseid }}">
	<input type="hidden" name="scan" value="{{ input.get.text('scan') }}">

	<div class="d-flex justify-content-between align-items-center">
		<button type="submit" class="btn btn-success" name="restock" value="false">
			No Restock
		</button>
	</div>
</form>
