{% extends 'util/bread-crumbs.twig' %}

{% set values = page.wire('input').get %}

{% block current_page %}
	{% if values.offsetExists('custID') %}
		<li class="breadcrumb-item">
			<a href="{{ page.ciUrl() }}">
				{{ page.has('dplus_function') ? page.dplus_function|upper : page.title }}
			</a>
		</li>

		{% if input.countSegments() %}
			<li class="breadcrumb-item">
				<a href="{{ page.ciUrl(values.string('custID')) }}">
					{{ values.string('custID') }}
				</a>
			</li>
			{% if values.offsetExists('shiptoID') and values.text('shiptoID') != '' %}
				<li class="breadcrumb-item">
					<a href="{{ page.ciShiptoUrl(values.string('custID')) }}">
						Ship-tos
					</a>
				</li>
				{% if input.lastSegment() != 'ship-tos' %}
					<li class="breadcrumb-item">
						<a href="{{ page.ciShiptoUrl(values.string('custID'), values.text('shiptoID')) }}">
							{{ values.text('shiptoID') }}
						</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">
						{{ input.lastSegment() == 'ship-tos' ? 'Ship-tos' : input.lastSegment()|replace({'-':' '})|title }}
					</li>
				{% else %}
					<li class="breadcrumb-item active" aria-current="page">{{ values.text('shiptoID') }}</li>
				{% endif %}
			{% elseif (input.lastSegment == 'contact') %}
				<li class="breadcrumb-item">
					<a href="{{ page.ciContactsUrl(values.string('custID')) }}">
						Contacts
					</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					{{ values.text('contactID') }}
				</li>
			{% else %}
				<li class="breadcrumb-item active" aria-current="page">
					{{ input.lastSegment() == 'ship-tos' ? 'Ship-tos' : input.lastSegment()|replace({'-':' '})|title }}
				</li>
			{% endif %}
		{% else %}
			<li class="breadcrumb-item active" aria-current="page">{{ values.string('custID') }}</li>
		{% endif %}
	{% else %}
		<li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
	{% endif %}
{% endblock %}
