<form action="{{ input.url() }}" method="POST" id="code-form" data-code="{{ code.code }}">
	<input type="hidden" name="action" value="update">

	<div class="mb-3">
		{% include 'code-tables/mar/trm/edit/form/top.twig' %}
	</div>

	<hr>

	<div class="mb-3 type-splits collapse {{ code.method == constant('METHOD_STD', manager) ? 'show' : '' }}" id="std-splits">
		{% include 'code-tables/mar/trm/edit/form/terms-splits-standard.twig' with {'startindex': 30} %}
	</div>

	<div class="mb-3 type-splits collapse {{ code.method == constant('METHOD_EOM', manager) ? 'show' : '' }}" id="eom-splits">
		{% include 'code-tables/mar/trm/edit/form/terms-splits-eom.twig' %}
	</div>

	<div class="d-flex justify-content-between align-items-center">
		{#
			Only show Edit Actions if the code is
			1. Locked for editing by the User
			2. Is a new code
			NOTE: Only show delete if code already exists.
		#}
		{% if manager.recordlocker.userHasLocked(code.code) or code.isNew() %}
			<button type="submit" class="btn btn-success form_button">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
			</button>
			{% if code.isNew() == false %}
				<a href="{{ page.codeDeleteUrl(code.code) }}" class="btn btn-danger form_button delete_button">
					<i class="fa fa-trash-o" aria-hidden="true"></i> Delete
				</a>
			{% endif %}
		{% endif %}
		<a href="{{ page.codeListUrl(code.code) }}" class="btn btn-warning pull-right">
			<i class="fa fa-times" aria-hidden="true"></i> Close
		</a>
	</div>
</form>