<div class="list-group">
	<div class="list-group-item bg-dark text-white">
		<div class="row">
			<div class="col-sm-3">
				Vendor ID
			</div>
			<div class="col-sm-3">
				Vendor Item
			</div>
			<div class="col-sm-3">
				Our Item
			</div>
			<div class="col-sm-3">
				Description
			</div>
		</div>
	</div>
	{% if items.count() %}
		{% for item in items %}
			<div class="list-group-item">
				<div class="row">
					<div class="col-sm-3">
						{{ item.vendorID }}
					</div>
					<div class="col-sm-3">
						<a href="{{ page.vxm_vendors_itemURL(item.vendorID, item.vendoritemID) }}" class="link">
							{{ item.vendoritemID }}
						</a>
					</div>
					<div class="col-sm-3">
						{{ item.ouritemID }}
					</div>
					<div class="col-sm-3">
						{{ item.description }}
					</div>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<div class="list-group-item text-center">
			<h5 >No VXM Items Found</h5>
		</div>
	{% endif %}
</div>
