{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	inventory              Dplus\Wm\Inventory\BinInquiry
	items                  InvWhseLot[]
	warehouse              Warehouse
#}
{% set configSo = page.wire('modules').get('Dconfigs').config('so') %}

<div class="table-responsive">
	<table class="table table-sm">
		<thead class="bg-dark text-light">
			<tr>
				<th></th>
				<th>Item</th>
				<th>Description</th>
				<th class="text-right">Qty</th>
			</tr>
		</thead>
		{% for binitem in items %}
			<tr class="first-txn-row">
				<td class="text-center">
					{% if (not page.is_print() or (binitem.item.isLotted() or binitem.item.isSerialized())) %}
						<button type="button" class="btn btn-primary btn-sm mb-3" data-toggle="collapse" data-target="#{{ binitem.itemid|attrJS }}-lotserials" aria-expanded="false" aria-controls="{{ binitem.itemid }}-lotserials">
							+
						</button>
					{% endif %}
				</td>
				<td class="h5">{{ binitem.itemid }}</td>
				<td>
					<small>{{ binitem.item.description }}</small>
					&nbsp;
					<small>{{ binitem.item.description2 }}</small>
				</td>
				<td class="text-right">
					{{ inventory.totalBinItemQty(binitem.bin, binitem.itemid)|number_format(configSo.decimal_places_qty) }}
				</td>
			</tr>
			<tbody class="collapse collapse-lotserials" id="{{ binitem.itemid|attrJS }}-lotserials">
				<tr class="bg-light">
					<th></th>
					<th>Lot / Serial #</th>
					<th>Lot Reference</th>
					<th class="text-right">Qty</th>
				</tr>
				{% for lotserial in inventory.lotserials(binitem.binid, binitem.itemid) %}
					<tr>
						<td></td>
						<td>{{ lotserial.lotserial }}</td>
						<td>{{ lotserial.lotref }}</td>
						<td class="text-right">
							{{ lotserial.qty|number_format(configSo.decimal_places_qty) }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		{% endfor %}
	</table>
</div>

