{% extends 'util/bread-crumbs.twig' %}

{% set values = input.get %}
{% set segments = input.urlSegments() %}
{% set lastsegment = segments[segments|length] %}

{% block current_page %}
	{% if segments|length == 0 %}
		<li class="breadcrumb-item active">
			Quote
		</li>
		{% if values.offsetExists('qnbr') %}
			<li class="breadcrumb-item active">
				{{ values.text('qnbr') }}
			</li>
		{% endif %}
	{% endif %}

	{% if segments|length > 0 %}
		<li class="breadcrumb-item">
			<a href="{{ page.quoteUrl() }}">Quote</a>
		</li>
		{% if values.offsetExists('qnbr') %}
			<li class="breadcrumb-item">
				<a href="{{ page.quoteUrl(values.text('qnbr')) }}">{{ values.text('qnbr') }}</a>
			</li>
		{% endif %}
		<li class="breadcrumb-item active">
			{{ lastsegment|capitalize }}
		</li>
	{% endif %}
{% endblock %}
