<div class="list-group">
	<div class="list-group-item list-group-item-action bg-light">
		<div class="row">
			<div class="col">
				<a href="{{ page.get_sortURL('quotenbr') }}" class="link">Quote Number</a>
			</div>
			<div class="col">
				<a href="{{ page.get_sortURL('custid') }}" class="link">Customer</a>
			</div>
			<div class="col">
				<a href="{{ page.get_sortURL('shiptoid') }}" class="link">Ship-to</a>
			</div>
			<div class="col text-right">
				<a href="{{ page.get_sortURL('date_quoted') }}" class="link">Quote Date</a>
			</div>
			<div class="col text-right">
				<a href="{{ page.get_sortURL('date_review') }}" class="link">Review Date</a>
			</div>
			<div class="col text-right">
				<a href="{{ page.get_sortURL('date_expires') }}" class="link">Expire Date</a>
			</div>
			<div class="col text-right">
				<a href="{{ page.get_sortURL('total_total') }}" class="link">Quote Total</a>
			</div>
			<div class="col">
				<a href="{{ page.get_sortURL('status') }}" class="link">Status</a>
			</div>
		</div>
	</div>
	{% if quotes.count > 0 %}
		{% for quote in quotes %}
			<a href="{{ quotepage ~ '?qnbr=' ~ quote.quotenumber }}" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col">{{ quote.quotenumber }}</div>
					<div class="col">{{ quote.custid }}</div>
					<div class="col">{{ quote.shiptoid }}</div>
					<div class="col text-right">{{ convertdate(quote.date_quoted) }}</div>
					<div class="col text-right">{{ convertdate(quote.date_review) }}</div>
					<div class="col text-right">{{ convertdate(quote.date_expires) }}</div>
					<div class="col text-right">$ {{ quote.total_total|currency }}</div>
					<div class="col">{{ quote.status()|capitalize }}</div>
				</div>
			</a>
		{% endfor %}
	{% else %}
		<div class="list-group-item">
			<div class="row">
				<div class="col text-center">There are no results to display.</div>
			</div>
		</div>
	{% endif %}
</div>
