<table class="table table-bordered">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Name</th>
			<th scope="col">Address</th>
			<th scope="col">City</th>
			<th scope="col">State</th>
			<th scope="col">Zip</th>
		</tr>
	</thead>
	<tbody>
		{% for customer in customers %}
			<tr>
				<td scope="row">
					<a href="{{ page.url ~ '?custID=' ~ customer.id }}" class="link">
						<strong>{{ customer.id }}</strong>
					</a>
				</td>
				<td>{{ customer.name }}</td>
				<td>{{ customer.address1 }}</td>
				<td>{{ customer.city }}</td>
				<td>{{ customer.state }}</td>
				<td>
					{{ customer.zip }}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
