<table class="table table-striped" id="code-table">
	<thead>
		<tr class="bg-dark text-white">
			<th>Code</th>
			<th>Description</th>
			<th class="text-right">Percent</th>
			<th>GL Account</th>
			<th>Freight</th>
			<th class="text-right">Limit</th>
		</tr>
	</thead>
	{% for code in results %}
		<tr>
			<td>
				<a href="#" class="link code-link" data-code="{{ code.code }}">
					{{ code.code }}
				</a>
			</td>
			<td>{{ code.description }}</td>
			<td class="text-right">{{ code.percent }}</td>
			<td>{{ code.gl_account }}</td>
			<td>{{ code.freight_tax_code }}</td>
			<td class="text-right">{{ code.limit }}</td>
		</tr>
	{% endfor %}
</table>
