{# mfcm is an instance of MotorFreightCode #}
<form action="{{ input.paginateUrl(1) }}" method="POST" id="code-form" data-code="">
	<input type="hidden" name="action" value="update">

	<div class="form-group">
		<label for="code">Code</label>
		<input type="text" name="code" class="form-control form-control-sm text-monospace" maxlength="{{ manager.fieldAttribute('code', 'maxlength') }}" id="code">
	</div>

	<div class="form-group">
		<label for="description">Description 1</label>
		<input type="text" name="description" class="form-control form-control-sm text-monospace" maxlength="{{ manager.fieldAttribute('description', 'maxlength') }}" id="description">
	</div>

	<div class="form-group">
		<label for="description2">Description 2</label>
		<input type="text" name="description2" class="form-control form-control-sm text-monospace" maxlength="{{ manager.fieldAttribute('description2', 'maxlength') }}" id="description2">
	</div>

	<div class="form-group">
		<label for="description3">Description 3</label>
		<input type="text" name="description3" class="form-control form-control-sm text-monospace" maxlength="{{ manager.fieldAttribute('description3', 'maxlength') }}" id="description3">
	</div>

	<div class="form-group">
		<label for="description4">Description 4</label>
		<input type="text" name="description4" class="form-control form-control-sm text-monospace" maxlength="{{ manager.fieldAttribute('description4', 'maxlength') }}" id="description4">
	</div>

	<div class="form-group">
		<label for="motorclass">Class</label>
		<input type="text" name="class" class="form-control form-control-sm text-monospace" maxlength="{{ manager.fieldAttribute('class', 'maxlength') }}" id="motorclass">
	</div>

	<div class="d-flex justify-content-between align-items-center">
		<button type="submit" class="btn btn-success form_button">
			<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
		</button>
		<div>
			<a href="{{ page.codeDeleteUrl('') }}" class="btn btn-danger delete_button collapse">
				<i class="fa fa-trash" aria-hidden="true"></i> Delete
			</a>
		</div>
		<button type="button" class="btn btn-warning" data-dismiss="modal">
			<i class="fa fa-times" aria-hidden="true"></i> Close
		</button>
	</div>
</form>
