<div class="list-group">
	<div class="list-group-item bg-dark text-white">
		<div class="row align-items-center">
			<div class="col-2">
				Code
			</div>
			<div class="col-6">
				Description
			</div>
			<div class="col-1">
				Class
			</div>
			<div class="col-3">
				{% if page.is_print() == false %}
					<button type="button" class="btn btn-light" data-toggle="modal" data-target="#edit-code-modal" data-code="" data-description="">
						<i class="fa fa-plus" aria-hidden="true"></i> Add Code
					</button>
				{% endif %}
			</div>
		</div>
	</div>
	{% for code in codes %}
		<div class="list-group-item pb-1 pt-1 {{ (response.key == code.code and response.has_success() ) ? 'bg-success text-white' : ''}}">
			<div class="row align-items-center">
				<div class="col-2">
					{{ code.code }}
				</div>
				<div class="col-6">
					{{ code.description }}
				</div>
				<div class="col-1">
					{{ code.class }}
				</div>
				<div class="col-3 text-center">
					{% if page.is_print() == false %}
						<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#edit-code-modal" data-code="{{ code.code }}" data-description="{{ code.description }}" data-class="{{ code.class }}">
							<i class="fa fa-pencil" aria-hidden="true"></i> Edit
						</button>
						&nbsp;
						<a href="{{ page.get_codetable_code_deleteURL(page.codetable, code.code) }}" class="btn btn-danger">
							<i class="fa fa-trash" aria-hidden="true"></i> Delete
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
</div>
