<table id="cust-index" class="table table-bordered">
	<thead>
		<tr>
			<th scope="col">
				<a href="{{ page.get_sortURL('shiptoID') }}" class="link">ID
					{% if page.orderby_column == '' or page.orderby_column == 'shiptoID' or page.orderby_column != 'shiptoID'  %}
						<i class="fa fa-sort-alpha-{{ page.orderby_column == 'shiptoID' ? page.orderby_sort|lower : 'asc' }}" aria-hidden="true"></i>
					{% endif %}
				</a>
			</th>
			<th scope="col">
				<a href="{{ page.get_sortURL('name') }}" class="link">Name
					{% if  page.orderby_column == 'name'  %}
						<i class="fa fa-sort-alpha-{{ page.orderby_sort|lower }}" aria-hidden="true"></i>
					{% endif %}
				</a>
			</th>
			<th scope="col">Address</th>
			<th scope="col">
				<a href="{{ page.get_sortURL('city') }}" class="link">City
					{% if  page.orderby_column == 'city'  %}
						<i class="fa fa-sort-alpha-{{ page.orderby_sort|lower }}" aria-hidden="true"></i>
					{% endif %}
				</a>
			</th>
			<th scope="col">
				<a href="{{ page.get_sortURL('state') }}" class="link">State
					{% if  page.orderby_column == 'state'  %}
						<i class="fa fa-sort-alpha-{{ page.orderby_sort|lower }}" aria-hidden="true"></i>
					{% endif %}
				</a>
			</th>
			<th scope="col">
				<a href="{{ page.get_sortURL('zip') }}" class="link">Zip
					{% if  page.orderby_column == 'zip'  %}
						<i class="fa fa-sort-alpha-{{ page.orderby_sort|lower }}" aria-hidden="true"></i>
					{% endif %}
				</a>
			</th>
			<th scope="col">
				<a href="{{ page.get_sortURL('lastsaledate') }}" class="link">Last Sales Date
					{% if  page.orderby_column == 'lastsaledate'  %}
						<i class="fa fa-sort-alpha-{{ page.orderby_sort|lower }}" aria-hidden="true"></i>
					{% endif %}
				</a>
			</th>
		</tr>
	</thead>
	<tbody>
		{% for shipto in shiptos %}
			<tr>
				<td scope="row">
					<a href="{{ page.ciShiptoUrl(customer.id, shipto.id)}}" class="link">
						<strong>{{ shipto.id }}</strong>
					</a>
				</td>
				<td>{{ shipto.name }}</td>
				<td>{{ shipto.address1 }}</td>
				<td>{{ shipto.city }}</td>
				<td>{{ shipto.state }}</td>
				<td>{{ shipto.zip }}</td>
				<td>{{ shipto.lastsaledate|convertdate }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
