{% set contactcolumns = json['columns']['contact'] %}
<h3>Customer Contacts</h3>
<table class="table table-striped table-sm">
	<thead>
		<tr>
			{% for column in json['columns']['contact'] %}
				<th class="{{ module_json.get_justifyclass(column['headingjustify']) }}">
					{{ column['heading']}}
				</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for contact in json['data']['contact'] %}
			<tr>
				<td class="border-top border-dark {{ module_json.get_justifyclass(contactcolumns['contactshipto']['datajustify']) }}">
					{{ contact['contactshipto'] }}
				</td>
				<td class="border-top border-dark {{ module_json.get_justifyclass(contactcolumns['contactname']['datajustify']) }}">
					{{ contact['contactname'] }}
				</td>
				<td class="border-top border-dark {{ module_json.get_justifyclass(contactcolumns['contactemail']['datajustify']) }}">
					{{ contact['contactemail'] }}
				</td>
				{% if contact['contactnumbers']["1"] %}
					<td class="border-top border-dark {{ module_json.get_justifyclass(contactcolumns['contactnbr']['datajustify']) }}">
						{{ contact['contactnumbers']["1"]['contactnbr'] }}
					</td>
				{% else %}
					<td class="border-top border-dark">
						Phone: N/A
					</td>
				{% endif %}
			</tr>
			{% for i in 2..contact['contactnumbers']|length %}
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td class="{{ module_json.get_justifyclass(contactcolumns['contactnbr']['datajustify']) }}">
						{{ contact['contactnumbers'][i]['contactnbr'] }}
					</td>
				</tr>
			{% endfor %}
		{% endfor %}
	</tbody>
</table>
