<div class="row">
	<div class="col-sm-6 form-group">
		<h4>{{ shipto['shiptoleft']['shiptoid'] ~ ' ' ~  shipto['shiptoleft']['shiptoname']}}</h4>
	</div>
	<div class="col-sm-6 form-group">
		<button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#{{ shipto['shiptoleft']['shiptoid']|attrJS }}" aria-expanded="false" aria-controls="{{ id|attrJS }}">
			Show / Hide
		</button>
	</div>
</div>
<div class="collapse show" id="{{ shipto['shiptoleft']['shiptoid']|attrJS }}">
	<div class="row">
		<div class="col-sm-6">
			<table class="table table-striped table-sm">
				{% for key, column in json['columns']['shipto']['shiptoleft'] %}
					<tr>
						<td class="{{ module_json.get_justifyclass(column['headingjustify']) }}">
							{{ column['heading']}}
						</td>
						<td class="{{ module_json.get_justifyclass(column['datajustify']) }}">
							{{ shipto['shiptoleft'][key] }}
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<div class="col-sm-6">
			<table class="table table-striped table-sm">
				{% for key, column in json['columns']['shipto']['shiptoright'] %}
					<tr>
						<td class="{{ module_json.get_justifyclass(column['headingjustify']) }}">
							{{ column['heading']}}
						</td>
						<td class="{{ module_json.get_justifyclass(column['datajustify']) }}">
							{{ shipto['shiptoright'][key] }}
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
