{% set disabled = attributes.disabled ? attributes.disabled : false %}
{% set small = small ? small : false %}
{% set modaltarget = disabled ? '' : modaltarget %}
{% set attributes_extra_button = attributes_button ? attributes_button|htmlattributes : '' %}
{% set attributes_extra_button = attributes.disabled ? attributes_extra_button ~ ' disabled' : attributes_extra_button %}
{% set attributes_extra_button = attributes.readonly ? attributes_extra_button ~ ' disabled' : attributes_extra_button %}
{% set class_input = small ? false : 'form-control' %}

<div class="input-group {{ small ? 'input-group-sm' : ''}}">
	<span class="input-group-prepend">
		<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="{{ modaltarget }}" title="{{ modaldescription }}" aria-label="{{ modaldescription }}" {{ attributes_extra_button|raw }}>
			<span class="fa fa-search" aria-hidden="true"></span> <span class="sr-only">{{ modaldescription }}</span>
		</button>
	</span>
	{% include 'util/form/input.twig' %}
</div>
