{% set tabindex = tabindex ? tabindex : '' %}
{% set name = name ? name : '' %}
{% set id = id ? id : name %}
{% set class_input = class_input ? class_input : 'form-control form-control-sm' %}
{% set class_add = class_add ? class_add|join2(' ') : '' %}
{% set class = class_override ? class_override : class_input ~ ' ' ~ class_add %}
{% set value = value ? value : '' %}
{% set disabled = disabled ? disabled : false %}
{% set attributes_extra = attributes ? attributes|htmlattributes : '' %}
{% set selected_value = selected_value ? selected_value : '' %}
{% set show_value = show_value ? show_value : false %}
{% set capitalize_labels = capitalize_labels ? capitalize_labels : false %}
{% set use_blank_option = use_blank_option ? use_blank_option : false %}
{% set blank_option_label = blank_option_label ? blank_option_label : '' %}
{% set options_has_keys = options_has_keys is defined ? options_has_keys : true %}

{%
	set attributes = {
		'name': name,
		'id': id,
		'class': class
	}
%}
<select {% for attribute, value in attributes %} {{ attribute }}="{{ value }}" {% endfor %} {{ attributes_extra|raw }}>
	{% if use_blank_option %}
		<option value="">
			{{ blank_option_label }}
		</option>
	{% endif %}
	{% for value, description in options %}
		{% if options_has_keys == true %}
			<option value="{{ value }}" {{ value == selected_value ? 'selected' : ''}}>
				{{ show_value ? value ~ ' - ' }} {{ capitalize_labels ? description|capitalize : description }}
			</option>
		{% else %}
			{% set val = description %}
			<option value="{{ val }}" {{ val == selected_value ? 'selected' : ''}}>
				 {{ capitalize_labels ? description|capitalize : description }}
			</option>
		{% endif %}
	{% endfor %}
</select>
