{% extends 'util/bread-crumbs.twig' %}

{% set input = page.wire('input') %}

{% block current_page %}
	<li class="breadcrumb-item">
		<a href="{{ page.url }}"><i class="fa fa-microchip" aria-hidden="true"></i> II</a>
	</li>
	<li class="breadcrumb-item">
		<a href="{{ page.itemUrl(input.get.text('itemID')) }}">{{ input.get.text('itemID') }}</a>
	</li>
	{% set segments = input.urlSegments() %}
	{% if segments|length == 1 %}

		{% if segments[1] == 'pricing' and input.get.offsetExists('custID') %}
			<li class="breadcrumb-item">
				<a href="{{ page.subfunctionURL(input.get.text('itemID'), 'pricing') }}">
					{{ page.subfunctionTitle(segments[1])|title }}
				</a>
			</li>
			<li class="breadcrumb-item active">
				{{ input.get.text('custID') }}
			</li>
		{% else %}
			<li class="breadcrumb-item active">
				{{ page.subfunctionTitle(segments[1])|title }}
			</li>
		{% endif %}
	{% endif %}
{% endblock %}
