{% for option in manager.screens() %}
	<div class="form-row mb-2">
		<div class="col-sm-2">
			<label for="{{ option }}">{{ manager.fieldAttribute(option, 'label') }}</label>
		</div>
		<div class="col-sm-1">
			{% include 'util/bootstrap/form/select-simple.twig' with {
				'select': {
					'name': option,
					'value' : attribute(u, option),
					'size': 'sm',
					'haskeys': true,
					'options': {'Y': 'Yes', 'N': 'No'}
				}
			} %}
		</div>

		<div class="col-sm-2 input-parent">
			{% if manager.fieldAttribute(option, 'whse') %}
				{% set fieldname = 'whse' ~ option %}
				{% set value = attribute(u, fieldname) %}

				{% include 'user-options/user/form/inputs/whseid.twig' with {'name': fieldname, 'value': value} %}
				<small class="text-muted name">{{ value ? IWHM.name(value) : '' }}</small>
			{% endif %}
		</div>

		<div class="col-sm-2">
			{% if manager.fieldAttribute(option, 'detail') %}
				{% set fieldname = 'detail' ~ option %}
				{% set value = attribute(u, fieldname) %}

				{% include 'util/bootstrap/form/select-simple.twig' with {
					'select': {
						'name': fieldname,
						'value' : value,
						'size': 'sm',
						'haskeys': true,
						'showvalue': true,
						'options': manager.fieldAttribute(fieldname, 'options')
					}
				} %}
			{% endif %}
		</div>
		{% if manager.fieldAttribute(option, 'date') %}
			<div class="col-sm-2">
				<div class="form-row">
					<div class="col text-right">
						<label for="days{{ option }}">Days Back</label>
					</div>
					<div class="col">
						{% set fieldname = 'days' ~ option %}
						{% set value = attribute(u, fieldname) %}

						{% include 'util/bootstrap/form/input.twig' with {
							'input': {
								'name': fieldname,
								'value' : value > 0 ? value : '',
								'type': 'number',
								'size': 'sm',
								'addclasses': ['text-right', 'days'],
								'attributes': {
									'max': manager.fieldAttribute(fieldname, 'max')
								}
							}
						} %}
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-row">
					<div class="col-sm-4 text-right">
						<label for="date{{ option }}">Start Date</label>
					</div>
					<div class="col-sm-8 input-parent">
						{% set fieldname = 'date' ~ option %}
						{% set value = attribute(u, fieldname) %}

						{% include 'util/bootstrap/form/date-picker.twig' with {
							'inputgroup': {
								'input': {
									'name': fieldname,
									'size': 'sm',
									'value': value ? value|convertdate : '',
									'addclasses': ['date']
								}
							}
						} %}
					</div>
				</div>
			</div>
		{% endif %}
	</div>
{% endfor %}