<div class="table-responsive">
	<table class="table table-sm">
		<thead>
			<tr class="bg-dark text-white">
				<th class="py-2">
					<a href="{{ page.get_sortURL('itemid') }}" class="link">Item ID
						{% if page.orderby_column == 'itemid' %}
							<i class="fa fa-sort-alpha-{{ page.orderby_sort|lower }}" aria-hidden="true"></i>
						{% endif %}
					</a>
				</th>
				<th class="py-2">
					<a href="{{ page.get_sortURL('addonitemid') }}" class="link">Add-on Item
						{% if page.orderby_column == 'addonitemid' %}
							<i class="fa fa-sort-alpha-{{ page.orderby_sort|lower }}" aria-hidden="true"></i>
						{% endif %}
					</a>
				</th>
				<th class="py-2">
					<a href="{{ page.xrefNewUrl() }}" class="btn btn-light btn-sm">
						<i class="fa fa-plus" aria-hidden="true"></i> Add
					</a>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for xref in xrefs %}
				<tr data-key="{{ addm.getRecordlockerKey(xref) }}">
					<td>
						{{ xref.itemid }} <br>
						<small>{{ xref.item.description }}</small>
					</td>
					<td>
						{{ xref.addonitemid }} <br>
						<small>{{ xref.addon.description }}</small>
					</td>
					<td>
						{% if addm.recordlocker.isLocked(addm.getRecordlockerKey(xref)) == false or addm.recordlocker.userHasLocked(addm.getRecordlockerKey(xref)) %}
							<a href="{{ page.xrefDeleteUrl(xref.itemid, xref.addonitemid) }}" class="btn btn-danger btn-sm delete_button" data-delete="Item to Item {{ addm.getRecordlockerKey(xref) }}">
								<i class="fa fa-trash" aria-hidden="true"></i> Delete
							</a>
						{% else %}
							<span class="badge badge-secondary">
								<i class="fa fa-lock" aria-hidden="true"></i> Locked By {{ addm.recordlocker.getLockingUser(addm.getRecordlockerKey(xref)) }}
							</span>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
