{% set lastUpdatedType = manager.qnotes.ictp.getResponse().type %}

<ul class="nav nav-tabs mb-2" id="qnotes-tabs" role="tablist">
	{% for qnotes in manager.qnotes.getQnotes() %}
		{% set type = constant('TYPE', qnotes) %}
		{% set activeClass = '' %}
		{% set activeClass = loop.first and lastUpdatedType == '' ? 'active' : '' %}
		{% set activeClass = lastUpdatedType == type ? 'active' : activeClass %}

		<li class="nav-item" role="presentation">
			<a class="nav-link {{ activeClass }}" id="{{ type }}-tab" data-toggle="tab" href="#{{ type }}" role="tab" aria-controls="{{ type }}" aria-selected="true">
				{{ qnotes.getNotetypeDescription()|title }}
			</a>
		</li>
	{% endfor %}
</ul>

<div class="tab-content" id="qnotes-notes">
	{% for qnotes in manager.qnotes.getQnotes() %}
		{% set type = constant('TYPE', qnotes) %}
		{% set activeClass = '' %}
		{% set activeClass = loop.first and lastUpdatedType == '' ? 'active' : '' %}
		{% set activeClass = lastUpdatedType == type ? 'active' : activeClass %}

		{% set note_lines = qnotes.getNotesArray(code.code) %}

		<div class="tab-pane fade show {{ activeClass }}" id="{{ type }}" role="tabpanel" aria-labelledby="{{ type }}-tab">
			<div class="list-group">
				<div class="list-group-item list-group-item-action bg-dark text-white">
					<div class="row">
						<div class="col-sm-10">{{ qnotes.getNotetypeDescription()|title }} Notes</div>
					</div>
				</div>

				<div class="list-group-item">
					<div class="row">
						<div class="col-sm-9">
							{{ note_lines[0] }}
							{% include 'util/bootstrap/form/textarea.twig' with {
								'textarea': {
									'id': qnotes.type() ~ '-notes',
									'value': note_lines|join('\r'),
									'inputclass': 'form-control-plaintext',
									'addclasses': ['qnotes', 'readonly', 'collapse'],
									'attributes': {
										'cols': qnotes.fieldAttribute('note', 'cols'),
										'rows': note_lines|length,
										'readonly': true,
										'disabled': true,
										'data-type': qnotes.type()
									}
								}
							} %}
						</div>
						<div class="col-sm-3">	
							<button type="button" class="btn btn-light btn-sm" data-toggle="collapse" data-target="#{{ qnotes.type() }}-notes" aria-expanded="false" aria-controls="{{ qnotes.type() }}-notes">
								<i class="fa fa-eye" aria-hidden="true"></i> Show
							</button>
							&nbsp; &nbsp;
							{% include 'code-tables/mar/ctm/edit/qnotes/button-modal.twig' %}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>

{% include 'code-tables/mar/ctm/edit/qnotes/modal.twig' %}
{% include 'msa/noce/ajax/notes-modal.twig' %}
