<ul class="nav nav-tabs mb-2" id="qnotes-tabs" role="tablist">
	{% for qnotes in manager.qnotes.getQnotes() %}
		<li class="nav-item" role="presentation">
			<a class="nav-link {{ loop.first ? 'active' : '' }}" id="{{ constant('TYPE', qnotes) }}-tab" data-toggle="tab" href="#{{ constant('TYPE', qnotes) }}" role="tab" aria-controls="{{ constant('TYPE', qnotes) }}" aria-selected="true">
				{{ notesType.getNotetypeDescription()|capitalize }} ({{ constant('TYPE', qnotes) }})
			</a>
		</li>
	{% endfor %}
</ul>
<div class="tab-content" id="qnotes-notes">
	{% for qnotes in manager.qnotes.getQnotes() %}
		<div class="tab-pane fade show {{ loop.first ? 'active' : '' }}" id="{{ constant('TYPE', qnotes) }}" role="tabpanel" aria-labelledby="{{ constant('TYPE', qnotes) }}-tab">
			{% include 'code-tables/mar/ctm/edit/qnotes/button-modal.twig' %}

			<div class="mb-3">
				<textarea rows="8" cols="{{ qnotes.fieldAttribute('note', 'cols') }}" class="form-control-plaintext w-auto qnotes validate-ignore" data-type="{{ qnotes.type() }}" readonly>{{ qnotes.getNotesArray(code.code)|join('\r') }}</textarea>
			</div>

			{% include 'code-tables/mar/ctm/edit/qnotes/button-modal.twig' %}
		</div>
	{% endfor %}
</div>

{% include 'code-tables/mar/ctm/edit/qnotes/modal.twig' %}
{% include 'msa/noce/ajax/notes-modal.twig' %}
