<div class="row form-group">
	<div class="col-sm-4">
		<label for="uom">UoM</label>
	</div>
	<div class="col-sm-8">
		<select name="uom" class="form-control form-control-sm mb-1" id="uom">
			<option value="" data-conversion=""></option>
			{% for uom in mxrfe.unitsofm() %}
				<option value="{{ uom.code }}" data-conversion="{{ uom.conversion }}" {{ uom.code == xref.unitofm ? 'selected' : ''}}>
					{{ uom.code }} - {{ uom.description }}
				</option>
			{% endfor %}
		</select>
		<p>
			Conversion: <span class="conversion-description">{{ xref.uom.conversion + 0 }}</span>
		</p>
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-4">
		<label for="price">List Price</label>
	</div>
	<div class="col-sm-8">
		{% include 'util/form/input.twig' with {
				'type': 'number',
				'name': 'price', 'value': xref.price|number_format(mxrfe.decimal_places_cost()),
				'class_add': [
					'w-50',
					'text-right'
				]
			}
		%}
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-4">
		<label for="cost">Cost</label>
	</div>
	<div class="col-sm-8">
		{% include 'util/form/input.twig' with {
				'type': 'number',
				'name': 'cost', 'value': xref.cost|number_format(mxrfe.decimal_places_cost()),
				'class_add': [
					'w-50',
					'text-right'
				]
			}
		%}
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-4">
		<strong>Change Date</strong>
	</div>
	<div class="col-sm-8">
		<p class="form-control-plaintext form-control-sm">{{ xref.dateupdated|convertdate }}</p>
	</div>
</div>
