<div class="mb-3">
	<a href="{{ user.is_editingorder(ordn) ? page.edit_orderURL(ordn) : page.view_orderURL(ordn) }}" class="btn btn-primary">
		<i class="fa fa-arrow-left" aria-hidden="true"></i> Go back to Sales Order
	</a>
</div>

<div class="mb-4">
	<div class="row mb-1">
		<div class="col">
			<h4>Header Notes</h4>
		</div>
		<div class="col text-right">
			{% if qnotes_so.allow_add(user, ordn) %}
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#note-modal" data-linenbr="0">
					<i class="fa fa-plus" aria-hidden="true"></i> Add Note
				</button>
			{% endif %}
		</div>
	</div>
	{% include 'sales-orders/sales-order/notes/qnotes-list.twig' with {'notes': qnotes_so.get_notes_summarized(ordn, 0) } %}
</div>

{% for item in order.items %}
	<div class="row mb-1" id="line-{{ item.linenbr }}">
		<div class="col">
			<h4>Line {{ item.linenbr ~ ': ' ~ item.itemid }}</h4>
		</div>
		<div class="col">
			{{ item.item.description }}
		</div>
		<div class="col text-right">
			{% if qnotes_so.allow_add(user, ordn) %}
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#note-modal" data-linenbr="{{ item.linenbr }}">
					<i class="fa fa-plus" aria-hidden="true"></i> Add Note
				</button>
			{% endif %}
		</div>
	</div>
	<div class="mb-3">
		{% include 'sales-orders/sales-order/notes/qnotes-list.twig' with {'notes': qnotes_so.get_notes_summarized(ordn, item.linenbr) } %}
	</div>
{% endfor %}
