<div id="notes" class="mb-4">
	<div class="row">
		<div class="col">
			<h3 class="font-weight-bold text-secondary">Notes <i class="fa fa-sticky-note-o" aria-hidden="true"></i></h3>
		</div>
		<div class="col">
			<a href="{{ page.view_notesURL(ordn, 0) }}" class="btn btn-primary sales-order-notes">
				<i class="fa fa-sticky-note" aria-hidden="true"></i> View All Notes
			</a>
		</div>
	</div>

	<div class="list-group">
		<div class="list-group-item list-group-item-action bg-dark text-white">
			<div class="row">
				<div class="col">Pick Ticket</div>
				<div class="col">Pack Ticket</div>
				<div class="col">Invoice</div>
				<div class="col">Acknowledgment</div>
			</div>
		</div>
		{% if qnotes_so.notes_exist(ordn, 0) %}
			{% for note in qnotes_so.get_notes_summarized(ordn, 0) %}
				<div class="list-group-item qnote-row" data-linenbr="{{ note.line }}" data-form="{{ note.form }}">
					<div class="row mb-1">
						<div class="col check-pick">{{ note.pickticket }}</div>
						<div class="col check-pack">{{ note.packticket }}</div>
						<div class="col check-invoice">{{ note.invoice }}</div>
						<div class="col check-acknowledgement">{{ note.acknowledgement }}</div>
						<div class="col">
							<button type="button" class="btn btn-light" data-toggle="collapse" data-target="#notes-{{ note.line }}-{{ note.form }}" aria-controls="collapseExample">
								<i class="fa fa-eye" aria-hidden="true"></i> Show
							</button>
						</div>
					</div>
					<textarea class="collapse form-control-plaintext" id="notes-{{ note.line }}-{{ note.form }}" cols="{{ qnotes_so.get_column_count() }}">{{ qnotes_so.get_notes_form_array(ordn, 0, note.form)|join('\r') }}</textarea>
				</div>
			{% endfor %}
		{% else %}
			<div class="list-group-item text-center font-weight-bold">
				No notes found
			</div>
		{% endif %}
	</div>
</div>
