<div class="mb-3">
	<div class="row">
		<div class="col">
			<a href="{{ page.listpage.url }}" class="btn btn-light">
				<i class="fa fa-list" aria-hidden="true"></i> View Sales Orders List
			</a>
			&nbsp; &nbsp;
			<a href="#" class="btn btn-light" aria-label="Return to last page" onclick="window.history.back();">
				<i class="fa fa-undo" aria-hidden="true"></i> Go back
			</a>
		</div>
		<div class="col text-right">
			{% if order.has_tracking() %}
				<a href="#tracking" title="View Tracking" aria-label="View Tracking">
					<i class="fa fa-truck fa-2x" aria-hidden="true"></i>
				</a>
			{% else %}
				<span title="View Tracking">
					<i class="fa fa-truck fa-2x text-light" aria-hidden="true"></i>
					<span class="sr-only">View Tracking</span>
				</span>
			{% endif %}

			{% if document_management.count_salesorderdocuments(order.ordernumber) %}
				<a href="#documents" title="View Documents" aria-label="View Documents">
					<i class="fa fa-file-text fa-2x" aria-hidden="true"></i>
				</a>
			{% else %}
				<span title="View Documents" aria-label="View Documents">
					<i class="fa fa-file-text fa-2x text-light" aria-hidden="true"></i>
				</span>
			{% endif %}
			<!-- TODO: need if statement for notes -->
			{% if notes %}
				<a href="#notes" title="View Notes" aria-label="View Notes">
					<i class="fa fa-sticky-note-o fa-2x" aria-hidden="true"></i>
				</a>
			{% else %}
				<span title="View Notes" aria-label="View Notes">
					<i class="fa fa-sticky-note-o fa-2x text-light" aria-hidden="true"></i>
				</span>
			{% endif %}
		</div>
	</div>

</div>
<div class="row mt-4">
	<div class="col-sm-4">
		<legend class="font-weight-bold text-secondary">Billing ({{ order.custid }})</legend>
		<address>
			{{ customer.name }} <br>
			{{ customer.address1 }} <br>
			{{ customer.address2 ? customer.address2 ~ "<br>" : ''}}
			{{ customer.city ~ ', ' ~ customer.state ~ ' ' ~ customer.zip}}
		</address>
	</div>
	<div class="col-sm-4">
		<legend class="font-weight-bold text-secondary">Shipping ({{ order.shiptoid }})</legend>
		<address>
			{{ order.shipto_name }} <br>
			{{ order.shipto_address1 }} <br>
			{{ order.shipto_address2 ? order.shipto_address2 ~ "<br>" : ''}}
			{{ order.shipto_city ~ ', ' ~ order.shipto_state ~ ' ' ~ order.shipto_zip}}
		</address>
	</div>
	<div class="col-sm-4">
		<legend class="font-weight-bold text-secondary">Order Summary</legend>
		<div class="row">
			<div class="col-sm-7">Items on Order</div>
			<div class="col-sm-5 text-right">{{ order.count_items() }}</div>
		</div>
		<div class="row">
			<div class="col-sm-7">Has Tracking</div>
			<div class="col-sm-5 text-right">{{ order.has_tracking() ? 'Yes' : 'No' }}</div>
		</div>
		<div class="row">
			<div class="col-sm-7">Subtotal:</div>
			<div class="col-sm-5 text-right">$ {{ order.subtotal_nontax|number_format(2, '.', ',') }}</div>
		</div>
		<div class="row">
			<div class="col-sm-7">Shipping:</div>
			<div class="col-sm-5 text-right">$ {{ order.total_freight|number_format(2, '.', ',') }}</div>
		</div>
		<div class="row">
			<div class="col-sm-7">Tax:</div>
			<div class="col-sm-5 text-right">$ {{ order.total_tax|number_format(2, '.', ',') }}</div>
		</div>
		<div class="row">
			<div class="col-sm-7">Total:</div>
			<div class="col-sm-5 text-right">$ {{ order.total_total|number_format(2, '.', ',') }}</div>
		</div>
	</div>
</div>

<h3 class="font-weight-bold text-secondary mt-4">Order Items</h3>
<table class="table table-striped table-borderless">
	<thead class="bg-dark text-white font-weight-bold">
		<tr>
			<th>Item ID</th>
			<th class="text-right">Qty</th>
			<th class="text-right">Price</th>
			<th class="text-right">Total Price</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for detail in order_items %}
			<tr>
				<form action="{{ page.formurl }}" method="post" >
					<input type="hidden" name="action" value="quick-update-line">
					<input type="hidden" name="ordn" value="{{ order.ordernumber }}">
					<input type="hidden" name="linenbr" value="{{ detail.linenbr }}">
					<!-- TODO: need to remove 'not' -->
					{% if not user.is_editingorder(order.ordernumber) %}
						<td>
							{{ detail.itemid }}</br>
							<small>{{ detail.desc1 }}</small>
						</td>
						<td class="text-right">
							<input type="text" class="form-control text-right" size="4" name="qty" value="{{ detail.qty_ordered|number_format() }}"></input>
						</td>
						<td class="text-right">
							<input type="text" class="form-control text-right" size="8" name="price" value="$ {{ detail.price|number_format(2, '.', ',') }}"></input>
						</td>
						<td class="text-right">$ {{ detail.total_price|number_format(2, '.', ',') }}</td>
						<td class="text-right">
							<a href="{{ page.edit_orderURL(page, order.ordernumber, detail.linenbr) }}" class="btn btn-warning">Save&ensp;<i class="fa fa-floppy-o" aria-hidden="true"></i></a>
							<a href="{{ page.remove_itemURL(page, order.ordernumber, detail.linenbr) }}" class="btn btn-danger">Remove&ensp;<i class="fa fa-times" aria-hidden="true"></i></a>
						</td>
					{% else %}
						<td>
							{{ detail.itemid }}</br>
							<small>{{ detail.desc1 }}</small>
						</td>
						<td class="text-right">
							<input type="text" class="form-control text-right" size="4" name="qty" value="{{ detail.qty_ordered|number_format() }}" disabled ></input>
						</td>
						<td class="text-right">
							<input type="text" class="form-control text-right" size="8" name="total_price" value="$ {{ detail.price|number_format(2, '.', ',') }}" disabled></input>
						</td>
						<td class="text-right">$ {{ detail.total_price|number_format(2, '.', ',') }}</td>
						<td class="text-right">
							<button class="btn btn-warning" disabled>Save&ensp;<i class="fa fa-floppy-o" aria-hidden="true"></i></button>
							<button href="#" class="btn btn-danger" disabled>Remove&ensp;<i class="fa fa-times" aria-hidden="true"></i></button>
						</td>
					{% endif %}
				</form>
			</tr>
		{% endfor %}
	</tbody>
</table>
