<table class="table table-striped table-borderless">
	<thead class="bg-dark text-white font-weight-bold">
		<tr>
			<th>Line #</th>
			<th>Item ID</th>
			<th class="text-right">Qty Ordered</th>
			<th class="text-right">Qty Shipped</th>
			<th class="text-right">Price</th>
			<th class="text-right">Total Price</th>
			<th class="text-center">Lots</th>
		</tr>
	</thead>
	{% for detail in order.getSalesHistoryDetails() %}
		<tr class="border-top border-dark border-3">
			<td>
				<strong>{{ detail.line }}</strong>
			</td>
			<td>
				<a href="{{ page.iiUrl(detail.itemid)}}" class="link" target="_blank" aria-label="View item in II" title="View item in II">
					{{ detail.itemid }}
				</a></br>
				<small>{{ detail.desc1 }}</small><br>
				{% if detail.specialorder != 'N' %}
					<a href="#specialorder-item-modal" data-toggle="modal" data-ordn="{{ detail.ordernumber }}" data-linenbr="{{ detail.linenbr }}">
						<span class="badge badge-primary">{{ detail.specialorder()|title }}</span>
					</a>
				{% endif %}
			</td>
			<td class="text-right">{{ detail.qty_ordered|number_format(config.decimal_places_qty) }}</td>
			<td class="text-right">{{ detail.qty_shipped|number_format(config.decimal_places_qty) }}</td>
			<td class="text-right">$ {{ detail.price|number_format(config.decimal_places_price) }}</td>
			<td class="text-right">$ {{ detail.total_price|number_format(config.decimal_places_price) }}</td>
			<td class="text-center">
				{% if detail.countSalesHistoryLotserials() %}
					<button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#{{ detail.linenbr|attrJS }}-lotserials" aria-expanded="false" aria-controls="{{ detail.linenbr|attrJS }}-lotserials">
						<i class="fa fa-list" aria-hidden="true"></i>
					</button>
				{% endif %}
			</td>
		</tr>

		{% if detail.countSalesHistoryLotserials() %}
			<tbody class="collapse" id="{{ detail.linenbr|attrJS }}-lotserials">
				<tr class="bg-gray">
					<th>Line # {{ detail.linenbr }} Picked Lots</th>
					<th>Lot / Serial #</th>
					<th>Lot Refernce #</th>
					<th class="text-right">Qty</th>
					<th>Image</th>
					<th colspan="2"></th>
				</tr>
				{% for lotserial in detail.getSaleshistoryLotserials() %}
					<tr>
						<td></td>
						<td>{{ lotserial.lotserial }}</td>
						<td>{{ lotseriial.lotreference }}</td>
						<td class="text-right">{{ lotserial.qty|number_format(config.decimal_places_qty) }}</td>
						<td>
							{% if docm.hasImage(lotserial.lotserial) %}
								{% set image = docm.getImage(lotserial.lotserial) %}
								<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#image-modal" data-type="{{ docm.getFolders().description(image.folder) }}" data-id="{{ lot.lotserial }}" data-folder="{{ image.folder }}" data-file="{{ image.filename }}">
									<i class="fa fa-picture-o" aria-hidden="true"></i>
									<span class="sr-only">View Image</span>
								</button>
							{% endif %}
						</td>
						<td colspan="2"></td>
					</tr>
				{% endfor %}
			</tbody>
		{% endif %}
	{% endfor %}
</table>
