<div class="mb-3">
	<a href="{{ page.listpage.url }}" class="btn btn-light">
		<i class="fa fa-list" aria-hidden="true"></i> View Sales History List
	</a>
	&nbsp; &nbsp;
	<a href="#" class="btn btn-light" aria-label="Return to last page" onclick="window.history.back();">
		<i class="fa fa-undo" aria-hidden="true"></i> Go back
	</a>
</div>
<div class="row mt-4">
	<div class="col-sm-4">
		<legend class="font-weight-bold text-danger">Billing ({{ order.custid }})</legend>
		<address>
			{{ customer.name }} <br>
			{{ customer.address1 }} <br>
			{% if customer.address2 %}
				{{ customer.address2 }} <br>
			{% endif %}
			{{ customer.city ~ ', ' ~ customer.state ~ ' ' ~ customer.zip}}
		</address>
	</div>
	<div class="col-sm-4">
		<legend class="font-weight-bold text-danger">Shipping ({{ order.shiptoid }})</legend>
		<address>
			{{ order.shipto_name }} <br>
			{{ order.shipto_address1 }} <br>
			{% if (order.shipaddress2) %}
				{{ order.shipaddress2 }} <br>
			{% endif %}
			{{ order.shipto_city ~ ', ' ~ order.shipto_state ~ ' ' ~ order.shipto_zip}}
		</address>
	</div>
	<div class="col-sm-4">
		<legend class="font-weight-bold text-danger">Order Summary</legend>
		<div class="row">
			<div class="col-sm-7">Invoice Date:</div>
			<div class="col-sm-5 text-right">{{ convertdate(order.date_invoiced) }}</div>
		</div>
		<div class="row">
			<div class="col-sm-7">Order Date:</div>
			<div class="col-sm-5 text-right">{{ convertdate(order.date_ordered) }}</div>
		</div>
		<div class="row">
			<div class="col-sm-7">Subtotal:</div>
			<div class="col-sm-5 text-right">$ {{ order.subtotal_nontax|currency }}</div>
		</div>
		<div class="row">
			<div class="col-sm-7">Shipping:</div>
			<div class="col-sm-5 text-right">$ {{ order.total_freight|currency }}</div>
		</div>
		<div class="row">
			<div class="col-sm-7">Tax:</div>
			<div class="col-sm-5 text-right">$ {{ order.total_tax|currency }}</div>
		</div>
		<div class="row">
			<div class="col-sm-7">Total:</div>
			<div class="col-sm-5 text-right">$ {{ order.total_total|currency }}</div>
		</div>
	</div>
</div>

<h3 class="font-weight-bold text-danger mt-4">Order Items</h3>
<table class="table table-striped table-borderless">
	<thead class="bg-dark text-white font-weight-bold">
		<tr>
			<th>Item ID</th>
			<th class="text-right">Qty</th>
			<th class="text-right">Price</th>
			<th class="text-right">Total Price</th>
		</tr>
	</thead>
	<tbody>
		{% for detail in order_items %}
			<tr>
				<td>
					{{ detail.itemid }}</br>
					<small>{{ detail.desc1 }}</small>
				</td>
				<td class="text-right">{{ detail.qty_ordered|number_format() }}</td>
				<td class="text-right">$ {{ detail.price|currency }}</td>
				<td class="text-right">$ {{ detail.total_price|currency }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
