{% if (not page.print) %}
	<button type="button" class="btn btn-primary btn-sm mb-3" data-toggle="collapse" data-target="#{{ (binitem.itemid ~ '_' ~ binitem.bin)|attrJS }}-lotserial" aria-expanded="false" aria-controls="{{ (binitem.itemid ~ '_' ~ binitem.bin)|attrJS }}-lotserial">
		Show / Hide {{ binitem.get_itemtypepropertydesc()|upper ~ "S" }}
	</button>
{% endif %}
<div class="{{ not page.print ? 'collapse' : '' }}" id="{{ (binitem.itemid ~ '_' ~ binitem.bin)|attrJS }}-lotserial">
	<div class="card border border-info">
		<div class="card-header bg-info text-white">
			{{ binitem.itemid }} Lots in Bin {{ binitem.bin }}
		</div>
		<div class="list-group list-group-flush">
			{% for lotserial in inventory.get_lotserials_itemid(binitem.sessionid, binitem.itemid, binitem.bin) %}
				<div class="list-group-item p-1">
					<div class="row">
						<div class="col">
							<h4 class="list-group-item-heading">
								{{ lotserial.get_itemtypepropertydesc()|upper ~ ": " ~ lotserial.get_itemidentifier() }}
							</h4>
						</div>
						<div class="col">
							{% if (not warehouse.validate_bin(lotserial.bin)) %}
								<span class="badge badge-danger pull-right">Invalid Bin</span>
							{% endif %}
						</div>
					</div>
					<p class="list-group-item-text bg-light">
						<strong>Lot Ref:</strong> {{ lotserial.lotreference }} <strong>Qty:</strong> {{ lotserial.qty }}
					</p>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
