<div class="d-flex justify-content-between p-2 mb-3">
	<strong>Bin:</strong> (MULTIPLE)
	<strong>Qty:</strong> {{ inventory.get_qty_itemid(item.sessionid, item.itemid) }}
	{% if (not page.is_print()) %}
		<button type="button" class="btn btn-primary btn-sm mb-3" data-toggle="collapse" data-target="#{{ item.itemid|attrJS }}-bins" aria-expanded="false" aria-controls="{{ item.itemid }}-lotserial">
			Show / Hide Bins
		</button>
	{% endif %}
</div>

<div class="collapse-bin {{ not page.is_print() ? 'collapse' : '' }}" id="{{ item.itemid|attrJS  }}-bins">
	<div class="">
		<div class="list-group list-group-flush">
			{% for binitem in inventory.get_bins_itemid(item.sessionid, item.itemid) %}
				<div class="list-group-item bg-light p-1">
					<div class="row">
						<div class="col">
							<h5>
								<strong>Bin:</strong> {{ binitem.bin }}
							</h5>
						</div>
						<div class="col">
							<strong>Qty:</strong> {{ inventory.count_lotserials_itemid(item.sessionid, item.itemid, binitem.bin) }}
						</div>
						<div class="col">
							{% if (not page.is_print()) %}
								<button type="button" class="btn btn-primary btn-sm mb-3" data-toggle="collapse" data-target="#{{ (binitem.itemid ~ '_' ~ binitem.bin)|attrJS }}-lotserial" aria-expanded="false" aria-controls="{{ (binitem.itemid ~ '_' ~ binitem.bin)|attrJS }}-lotserial">
									Show / Hide {{ binitem.get_itemtypepropertydesc()|upper ~ "S" }}
								</button>
							{% endif %}
						</div>
						<div class="col">
							{% if (not warehouse.validate_bin(binitem.bin)) %}
								<span class="badge badge-danger pull-right">Invalid Bin</span>
							{% endif %}
						</div>
					</div>
					{% include 'warehouse/inventory/find-item/item-breakdown-by-bin-lotserial.twig' %}
				</div>
			{% endfor %}
		</div>
	</div>
</div>
