<div class="form-row form-group">
	<div class="col">
		<label for="address">Address 1</label>
	</div>
	<div class="col">
		<input type="text" name="address" class="form-control" value="{{ warehouse.address }}" id="address">
	</div>
</div>
<div class="form-row form-group">
	<div class="col">
		<label for="address2">Address 2</label>
	</div>
	<div class="col">
		<input type="text" name="address2" class="form-control" value="{{ warehouse.address2 }}" id="address2">
	</div>
</div>
<div class="form-row form-group">
	<div class="col">
		<label>City, State, Zip</label>
	</div>
	<div class="col">
		<div class="form-row">
			<div class="col">
				<input type="text" name="city" class="form-control" value="{{ warehouse.city }}" id="city">
			</div>
			<div class="col">
				<select name="state" class="form-control" id="state">
					{% for state in states %}
						<option value="{{ state.abbreviation }}" {{ state.abbreviation == warehouse.state ? 'selected' : ''}}>{{ state.name }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col">
				<input type="text" name="zip" class="form-control" value="{{ warehouse.zip }}" id="zip">
			</div>
		</div>
	</div>
</div>
<div class="form-row form-group">
	<div class="col">
		<label for="country">Country</label>
	</div>
	<div class="col">
		<select name="country" class="form-control" id="country">
			{% for country in countries %}
				<option value="{{ country.iso }}" {{ country.iso == warehouse.country ? 'selected' : ''}}>{{ country.name }}</option>
			{% endfor %}
		</select>
	</div>
</div>
<div class="form-row form-group">
	<div class="col">
		<label for="phone">Phone</label>
	</div>
	<div class="col">
		<input type="text" name="phone" class="form-control phone-input" value="{{ warehouse.phone|phone_us }}" id="phone">
	</div>
</div>
<div class="form-row form-group">
	<div class="col">
		<label for="fax">Fax</label>
	</div>
	<div class="col">
		<div class="form-row">
			<div class="col-sm-7">
				<input type="text" name="fax" class="form-control phone-input" value="{{ warehouse.fax|phone_us }}" id="fax">
			</div>
			<div class="col-sm-5">
				<div class="row">
					<div class="col-sm-4">
						<label for="phone_ext">Ext</label>
					</div>
					<div class="col-sm-8">
						<input type="text" name="phone_ext" class="form-control" value="{{ warehouse.phone_ext }}" id="phone_ext">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="form-row form-group">
	<div class="col">
		<label for="email">Email</label>
	</div>
	<div class="col">
		<input type="email" name="email" class="form-control" value="{{ warehouse.email }}" id="email">
	</div>
</div>
