{% extends 'code-tables/list.twig' %}

{% block list_header_row %}
	<div class="row align-items-center">
		<div class="col-sm-3">
			Code
		</div>
		<div class="col-sm-6">
			Name
		</div>
		<div class="col-sm-3 text-center">
			{% if page.is_print() == false %}
				<a href="{{ page.codeAddUrl() }}" class="btn btn-light btn-sm">
					<i class="fa fa-plus" aria-hidden="true"></i> Add Warehouse
				</a>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% for code in codes %}
	{% block code_row %}
		<div class="row align-items-center">
			<div class="col-sm-3">
				{{ code.code|replace({' ': '&nbsp;'})|raw }}
			</div>
			<div class="col-sm-6">
				{{ code.name }}
			</div>
			<div class="col-sm-3 text-center">
				{% if page.is_print() == false %}
					{% if manager.recordlocker.isLocked(code.code) == false or manager.recordlocker.isLockedByUser(code.code) %}
						<a href="{{ page.codeEditUrl(code.code) }}" class="btn btn-warning btn-sm">
							<i class="fa fa-pencil" aria-hidden="true"></i> Edit
						</a>
						&nbsp;
						<a href="{{ page.codeDeleteUrl(code.code) }}" class="btn btn-danger btn-sm delete_button">
							<i class="fa fa-trash" aria-hidden="true"></i> Delete
						</a>
					{% else %}
						<span class="badge badge-secondary">
							<i class="fa fa-lock" aria-hidden="true"></i> Locked By {{ manager.recordlocker.getLockingUser(code.code) }}
						</span>
					{% endif %}
				{% endif %}
			</div>
		</div>
	{% endblock %}
{% endfor %}