<div class="list-group">
	<div class="list-group-item bg-dark text-white">
		<div class="row align-items-center">
			<div class="col-3">
				Code
			</div>
			<div class="col-7">
				Name
			</div>
			<div class="col-2">
				{% if page.is_print() == false %}
					<a href="{{ page.url ~ '?code=new' }}" class="btn btn-light">
						<i class="fa fa-plus" aria-hidden="true"></i> Add Whse
					</a>
				{% endif %}
			</div>
		</div>
	</div>
	{% for warehouse in warehouses %}
		<div id="{{ warehouse.id }}" class="list-group-item pb-1 pt-1 {{ (response.key == warehouse.id and response.has_success() ) ? 'bg-success text-white' : ''}}">
			<div class="row align-items-center">
				<div class="col-3">
					{{ warehouse.id }}
				</div>
				<div class="col-6">
					{{ warehouse.name }}
				</div>
				<div class="col-3 text-center">
					{% if page.is_print() == false %}
						<a href="{{ page.get_codetable_code_editURL(page.codetable, warehouse.id) }}" class="btn btn-warning">
							<i class="fa fa-pencil" aria-hidden="true"></i> Edit
						</a>
						&nbsp;
						<a href="{{ page.get_codetable_code_deleteURL(page.codetable, warehouse.id) }}" class="btn btn-danger delete_button">
							<i class="fa fa-trash" aria-hidden="true"></i> Delete
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
</div>
