<div class="list-group">
	<div class="list-group-item bg-dark text-white">
		<div class="row align-items-center">
			<div class="col-3">
				Code
			</div>
			<div class="col-7">
				Name
			</div>
			<div class="col-2">
				{% if page.is_print() == false %}
					<a href="{{ page.url ~ '?code=new' }}" class="btn btn-light">
						<i class="fa fa-plus" aria-hidden="true"></i> Add Whse
					</a>
				{% endif %}
			</div>
		</div>
	</div>
	{% for warehouse in warehouses %}
		{# data-code attribute and class code is for the highlight on close #}
		<div id="{{ warehouse.id|urlencode }}" data-code="{{ warehouse.id|urlencode }}" class="list-group-item code pb-1 pt-1 {{ (response.key == warehouse.id and response.has_success() ) ? 'bg-success text-white' : ''}}">
			<div class="row align-items-center">
				<div class="col-3">
					{{ warehouse.id }}
				</div>
				<div class="col-6">
					{{ warehouse.name }}
				</div>
				<div class="col-3 text-center">
					{% if recordlocker.function_locked(page.name, warehouse.id) == false or recordlocker.function_locked_by_user(page.name, warehouse.id) %}
						{% if page.is_print() == false %}
							<a href="{{ page.get_codetable_code_editURL(page.codetable, warehouse.id) }}" class="btn btn-warning">
								<i class="fa fa-pencil" aria-hidden="true"></i> Edit
							</a>
							&nbsp;
							<a href="{{ page.get_codetable_code_deleteURL(page.codetable, warehouse.id) }}" class="btn btn-danger delete_button">
								<i class="fa fa-trash" aria-hidden="true"></i> Delete
							</a>
						{% endif %}
					{% else %}
						<span class="badge badge-secondary">
							<i class="fa fa-lock" aria-hidden="true"></i> Warehouse Locked By {{ recordlocker.get_locked_user(page.name, warehouse.id) }}
						</span>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
</div>
