<div class="form-row form-group">
	<div class="col">
		<label for="{{ name }}">{{ label }}</label>
	</div>
	<div class="col">
		<select name="{{ name }}" class="form-control" id="{{ name }}">
			{% if (warehouse.isNew()) %}
				<option value="self" id="{{ name ~ '_self'}}" selected>Self</option>
			{% endif %}
			{% for whse in warehouses %}
				<option value="{{ whse.id }}" {{ whse.id == value ? 'selected' : ''}}>
					{{ whse.id }} - {{ whse.name }}
				</option>
			{% endfor %}
		</select>
	</div>
</div>
