{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	vxm                    module XrefVxm
	recordlocker           module RecordLockerUser
	item                   ItemXrefVendor
#}
<div class="row form-group">
	<div class="col-sm-3">
		<label for="po_ordercode"><b>PO Order Code</b></label>
	</div>
	<div class="col-sm-6">
		<select name="po_ordercode" id="po_ordercode" class="form-control form-control-sm" data-primaryvalidated="false" data-ordercode="{{ item.po_ordercode }}">
			{% for value, description in item.get_po_ordercodeoptions() %}
				<option value="{{ value }}" {{ value == item.po_ordercode ? 'selected' : ''}}>
					{{ value }} {{ value ? ' - ' ~ description : ''}}
				</option>
			{% endfor %}
		</select>
		<input type="hidden" name="po_ordercode_validated" id="po_ordercode_validated" value="false">
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-3">
		<label for="qty_percase"><b>Qty Per Case</b></label>
	</div>
	<div class="col-sm-3">
		<div class="input-group w-75">
			{% include 'util/form/input.twig' with {
					'name': 'qty_percase', 'value': item.qty_percase|number_format(vxm.field_attribute('qty_percase', 'precision')),
					'type': 'number',
					'class_add': [
						'text-right',
					],
					'attributes': {
						'max': vxm.field_attribute('qty_percase', 'max')
					}
				}
			%}
		</div>
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-3">
		<label for="minbuyqty"><b>Min Buy Qty</b></label>
	</div>
	<div class="col-sm-3">
		<div class="input-group w-75">
			{% include 'util/form/input.twig' with {
					'name': 'minbuyqty', 'value': item.minbuyqty|number_format(vxm.field_attribute('minbuyqty', 'precision')),
					'type': 'number',
					'class_add': [
						'text-right',
					],
					'attributes': {
						'max': vxm.field_attribute('minbuyqty', 'max')
					}
				}
			%}
		</div>
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-3">
		<label for="optioncode">{{ vxm.field_attribute('optioncode', 'label') }}</label>
	</div>
	<div class="col-sm-6">
		<div class="input-group w-50">
			{% set disabled = vxm.field_attribute('optioncode', 'disabled') %}
			{% include 'util/form/input.twig' with {
					'name': 'optioncode', 'value': item.optioncode,
					'attributes': {
						'readonly':  disabled,
						'tabindex':  disabled ? '-1' : '',
						'maxlength': vxm.field_attribute('optioncode', 'maxlength'),
					}
				}
			%}
		</div>
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-3">
		<label for="iskit">Kit Detail</label>
	</div>
	<div class="col-sm-6">
		{% include 'util/form/select.twig' with {
				'name': 'iskit', 'show_value': true, 'selected_value': item.iskit,
				'options': {
					'Y': 'Yes',
					'N': 'No'
				},
				'attributes': {
					'disabled': item.imitem.is_kit() == false,
					'tabindex': item.imitem.is_kit() == false ? '-1' : '',
				}
			}
		%}
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-3">
		<label for="approvalcode"><b>Approval Code</b></label>
	</div>
	<div class="col-sm-6">
		{% include 'util/form/select.twig' with {
				'name': 'approvalcode', 'show_value': true, 'selected_value': item.approvalcode,
				'options': item.get_approvalcodeoptions()
			}
		%}
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-3">
		<label for="date_changed"><b>Last Change Date</b></label>
	</div>
	<div class="col-sm-6">
		<p class="form-control-plaintext form-control-sm">{{ item.date_changed ? item.date_changed|convertdate : 'N/A' }}</p>
	</div>
</div>

<div class="row">
	<div class="col-sm-3">
		<b>Notes -  Detail</b>
	</div>
	<div class="col-sm-6">
		<p class="form-control-plaintext form-control-sm">{{ qnotes.notes.detail.notes_exist(item.itemid, item.vendorid)|yesorno|capitalize }}</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-2">
		<b>Internal</b>
	</div>
	<div class="col-sm-6">
		<p class="form-control-plaintext form-control-sm">{{ qnotes.notes.internal.notes_exist_item(item.itemid, item.vendorid)|yesorno|capitalize }}</p>
	</div>
</div>
