<div class="row form-group">
	<div class="col-sm-6">
		<label for="po_ordercode"><b>PO Order Code</b></label>
	</div>
	<div class="col-sm-6">
		<select name="po_ordercode" id="po_ordercode" class="custom-select custom-select-sm" data-primaryvalidated="false">
			<option value="">-- Choose --</option>
			{% for value, description in item.get_po_ordercodeoptions() %}
				<option value="{{ value }}" {{ value == item.po_ordercode ? 'selected' : ''}}>{{ description }}</option>
			{% endfor %}
		</select>
		<input type="hidden" name="po_ordercode_validated" id="po_ordercode_validated" value="false">
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-6">
		<label for="qty_percase"><b>Qty Per Case</b></label>
	</div>
	<div class="col-sm-6">
		<input type="number" name="qty_percase" class="form-control form-control-sm" id="qty_percase" value="{{ item.qty_percase|number_format(vxm.decimal_places_qty()) }}">
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-6">
		<label for="minbuyqty"><b>Min Buy Qty</b></label>
	</div>
	<div class="col-sm-6">
		<input type="number" name="minbuyqty" class="form-control form-control-sm" id="minbuyqty" value="{{ item.minbuyqty }}">
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-6">
		<label for="approvalcode"><b>Approval Code</b></label>
	</div>
	<div class="col-sm-6">
		{% include 'util/select.twig' with {'name': 'approvalcode', 'id': 'approvalcode', 'selectedvalue': item.approvalcode, 'options': item.get_approvalcodeoptions()} %}
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-6">
		<label for="date_changed"><b>Last Change Date</b></label>
	</div>
	<div class="col-sm-6">
		<input type="text" name="date_changed" class="form-control-plaintext form-control-sm" id="date_changed" value="{{ item.date_changed ? item.date_changed|convertdate : '' }}" readonly>
	</div>
</div>
