{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	cxm                    module XrefCxm
	recordlocker           module RecordLockerUser
	item                   ItemXrefCustomer
#}

{% if session.getFor('response', 'vxm') %}
	{% include 'items/itm/response-alert.twig' with {'response': session.getFor('response', 'vxm')} %}
{% endif %}

<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-3">
						<strong> {{ page.pw_template == 'itm-xrefs-vxm' ? 'Item ID' : 'Vendor ID' }}</strong>
					</div>
					<div class="col-sm-8">
						<div>
							{% if page.pw_template == 'itm-xrefs-vxm' %}
								{{ item.itemid }} - {{ item.item.description }}
							{% else %}
								{{ item.vendorid }} - {{ item.vendor.name }}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="card-body">
		{% include 'items/vxm/item/form/form.twig' %}
	</div>
</div>
