{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	vxm                    module XrefVxm
	recordlocker           module RecordLockerUser
	item                   ItemXrefVendor
#}
<div class="col-sm-6">
	<div class="row form-group">
		<div class="col-sm-6">
			<label for="Vendor ID">Vendor ID</label>
		</div>
		<div class="col-sm-6 vendor-col">
			{% if item.isNew() %}
				{% include 'util/form/input-with-modal-lookup.twig' with {'name': 'vendorID', value: item.vendorID, 'modaltarget': '#ajax-modal', 'modaldescription': 'Search for / Choose Vendor', attributes_button: {'data-search': 'vendor'}} %}
			{% else %}
				<input type="text" class="form-control-plaintext form-control-sm" name="vendorID" id="vendorID" value="{{ item.vendorid }}" readonly>
			{% endif %}
			<small class="form-text text-muted name">{{ item.vendor.name }}</small>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-sm-6">
			<label for="vendoritemID"><b>Vendor Item ID</b></label>
		</div>
		<div class="col-sm-6">
			<input type="text" name="vendoritemID" class="form-control form-control-sm" id="vendoritemID" value="{{ item.vendoritemID }}" data-vendoritemid="{{ item.vendoritemID }}">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<b>Our Item ID</b>
		</div>
		<div class="col-sm-6 item-col">
			{% if page.has('itemID') %}
				<input type="text" class="form-control-plaintext form-control-sm" name="ouritemID" id="ouritemID" value="{{ item.ouritemid }}" readonly>
			{% elseif item.isNew() %}
				{% include 'util/form/input-with-modal-lookup.twig' with {'name': 'ouritemID', value: item.ouritemid, 'modaltarget': '#ajax-modal', 'modaldescription': 'Search for / Choose Item', attributes_button: {'data-search': 'item'}} %}
			{% else %}
				<input type="text" class="form-control-plaintext form-control-sm" name="ouritemID" id="ouritemID" value="{{ item.ouritemid }}" readonly>
			{% endif %}
			<small class="form-text text-muted description">{{ item.imitem.description }}</small>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6"></div>
		<div class="col-sm-6">
			<p>{{ item.description }}</p>
		</div>
	</div>
</div>
<div class="col-sm-6">
	<div class="row form-group">
		<div class="col-sm-6">
			<label for="uom_purchase"><b>Purchase UoM</b></label>
		</div>
		<div class="col-sm-6">
			<select name="uom_purchase" class="custom-select custom-select-sm mb-1" id="uom_purchase">
				<option value="">-- Choose --</option>
				{% for uom in vxm.get_unitsofm_purchases() %}
					<option value="{{ uom.code }}" data-conversion="{{ uom.conversion }}" {{ uom.code == item.uom_purchase ? 'selected' : ''}}>
						{{ uom.code }} - {{ uom.description }}
					</option>
				{% endfor %}
			</select>
			<p>
				Conversion: <span class="conversion-description">{{ item.uompurchase.conversion + 0 }}</span>
			</p>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-sm-6">
			<label for="listprice"><b>List Price</b></label>
		</div>
		<div class="col-sm-6">
			<div class="input-group input-group-sm mb-2">
				<input type="number" name="listprice" class="form-control" id="listprice" value="{{ item.listprice|number_format(vxm.decimal_places_price) }}">
				<div class="input-group-append">
					<div class="input-group-text">{{ item.uom_purchase }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-sm-6"></div>
		<div class="col-sm-6">
			<div class="input-group input-group-sm mb-2">
				<input type="number" name="eachlistprice" class="form-control" id="eachlistprice" value="{{ item.get_listprice_uom_sale()|number_format(vxm.decimal_places_price) }}" step="any">
				<div class="input-group-append">
					<div class="input-group-text">{{ item.imitem.uom_sale }}</div>
				</div>
			</div>
		</div>
	</div>
</div>
