{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	vxm                    module XrefVxm
	recordlocker           module RecordLockerUser
	item                   ItemXrefVendor
#}
<div class="col-sm-6">
	{% include 'items/vxm/item/form/key.twig' %}
</div>
<div class="col-sm-6">
	<div class="row form-group">
		<div class="col-sm-6">
			<label for="uom_purchase"><b>Purchase UoM</b></label>
		</div>
		<div class="col-sm-6">
			<select name="uom_purchase" class="form-control form-control-sm mb-1" id="uom_purchase">
				{% for uom in vxm.get_unitsofm_purchases() %}
					<option value="{{ uom.code }}" data-conversion="{{ uom.conversion }}" {{ uom.code == item.uom_purchase ? 'selected' : ''}}>
						{{ uom.code }} - {{ uom.description }}
					</option>
				{% endfor %}
			</select>
			<p>
				Conversion: <span class="conversion-description">{{ item.uompurchase.conversion }}</span>
			</p>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-sm-6">
			<label for="listprice">Vendor List Price</label>
		</div>
		<div class="col-sm-6">
			<div class="input-group input-group-sm mb-2">
				<input type="number" name="listprice" class="form-control text-right" id="listprice" value="{{ item.listprice|number_format(4) }}">
				<div class="input-group-append w25">
					<div class="input-group-text uom-purchase-code">{{ item.uom_purchase }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-sm-6">
			<label for="eachlistprice">Item Base Price</label>
		</div>
		<div class="col-sm-6">
			<div class="input-group input-group-sm mb-2">
				<input type="number" name="eachlistprice" class="form-control text-right" id="eachlistprice" value="{{ vxm.baseprice(item)|number_format(vxm.field_attribute('listprice', 'precision')) }}" step="any" tabindex="-1" readonly>
				<div class="input-group-append w25">
					<div class="input-group-text uom-sale-code" data-conversion="{{ item.imitem.UnitofMeasureSale ? item.imitem.UnitofMeasureSale.conversion : '0' }}">{{ item.imitem.uom_sale }}</div>
				</div>
			</div>
		</div>
	</div>
</div>
