{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	input                  ProcessWire\WireInput
	optm                   Dplus\Codes\{Min\Ioptm | Map\Aoptm | Mar\Roptm| Mso\Soptm}
#}

<table class="table table-sm">
	<thead>
		<tr class="bg-dark text-white p-3">
			<th class="pt-3 pb-3">Code</th>
			<th class="pt-3 pb-3">Description</th>
			<th class="pt-3 pb-3">Validate</th>
			<th class="pt-3 pb-3">Force</th>
			<th class="pt-3 pb-3">Note Seq</th>
			<th class="pt-3 pb-3 text-center d-print-none"></th>
		</tr>
	</thead>
	<tbody>
		{% if codes.count() == 0 %}
			<tr>
				<td colspan="6" class="text-center bg-light">
					<strong>No Codes Found</strong>
				</td>
			</tr>
		{% endif %}

		{% for code in codes %}
			<tr data-id="{{ code.id }}">
				<td class="text-monospace">{{ code.id|replace({' ': '&nbsp;'})|raw }}</td>
				<td class="text-monospace">{{ code.description }}</td>
				<td class="text-monospace">{{ code.validate|yesorno|capitalize }}</td>
				<td class="text-monospace">{{ code.force|yesorno|capitalize }}</td>
				<td class="text-monospace">{{ code.notecode }}</td>
				<td class="text-center d-print-none">
					<div class="d-print-none">
							{% if code.isNote() %}
							<button class="btn btn-sm btn-warning" disabled>
								<i class="fa fa-pencil" aria-hidden="true"></i> Edit
							</button>
						{% else %}
							{% if sysopM.recordlocker.isLocked(sysopM.getRecordlockerKey(code)) == false or sysopM.recordlocker.userHasLocked(sysopM.getRecordlockerKey(code)) %}
								<a href="{{ page.sysopUrl(code.id) }}" class="btn btn-warning btn-sm">
									<i class="fa fa-pencil" aria-hidden="true"></i> Edit
								</a>
							{% else %}
								<span class="badge badge-secondary">
									<i class="fa fa-lock" aria-hidden="true"></i> Locked By {{ sysopM.recordlocker.getLockingUser(sysopM.getRecordlockerKey(code)) }}
								</span>
							{% endif %}
						{% endif %}
					</div>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
