<div class="form-group">
	<div class="row">
		<div class="col-sm-6 mb-3">
			{% if cart.hasShiptoid() %}
				<a href="{{ page.ciShiptoUrl(shipto.custid, shipto.shiptoid) }}" class="btn btn-primary">
					<i class="fa fa-user" aria-hidden="true"></i> View Shipto {{ shipto.name }}
				</a>
			{% else %}
				<a href="{{ page.ciUrl(customer.id) }}" class="btn btn-primary">
					<i class="fa fa-user" aria-hidden="true"></i> View {{ customer.name }}
				</a>
			{% endif %}

			&nbsp; &nbsp;
			<a href="{{ page.emptyCartUrl() }}" class="btn btn-danger">
				<i class="fa fa-eraser" aria-hidden="true"></i> Clear Cart
			</a>
		</div>
		<div class="col-sm-6 mb-3">
			<form action="{{ input.url() }}" method="get">
				<input type="hidden" name="action" value="set-shiptoid">
				<input type="hidden" name="custID" value="{{ customer.id }}">

				<div class="row">
					<div class="col">
						<label for="select_shipto">Ship-to</label>
					</div>
					<div class="col">
						<select name="shiptoID" class="form-control form-control-sm" id="select_shipto">
							{% for ship in customer.get_shiptos() %}
								<option value="{{ ship.id }}" {{ ship.id == shipto.id ? 'selected' : '' }}>
									{{ ship.id }} - {{ ship.name }}
								</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
