{% extends 'util/bread-crumbs.twig' %}

{% set values = page.wire('input').get %}

{% block current_page %}
	{% if values.offsetExists('vendorID') %}
		<li class="breadcrumb-item">
			<a href="{{ page.viUrl() }}">
				{{ page.has('dplus_function') ? page.dplus_function|upper : page.title }}
			</a>
		</li>

		{% if input.countSegments() %}
			<li class="breadcrumb-item">
				<a href="{{ page.viUrl(values.string('vendorID')) }}">
					{{ values.string('vendorID') }}
				</a>
			</li>
			{% if values.offsetExists('shipfromID') and values.text('shipfromID') != '' %}
				<li class="breadcrumb-item">
					<a href="{{ page.viShipfromUrl(values.string('vendorID')) }}">
						Ship-Froms
					</a>
				</li>
				{% if input.lastSegment() != 'ship-froms' %}
					<li class="breadcrumb-item">
						<a href="{{ page.viShipfromUrl(values.string('vendorID'), values.text('shipfromID')) }}">
							{{ values.text('shipfromID') }}
						</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">
						{{ input.lastSegment() == 'ship-froms' ? 'Ship-Froms' : input.lastSegment()|replace({'-':' '})|title }}
					</li>
				{% else %}
					<li class="breadcrumb-item active" aria-current="page">{{ values.text('shipfromID') }}</li>
				{% endif %}
			{% elseif (input.lastSegment == 'contact') %}
				<li class="breadcrumb-item">
					<a href="{{ page.ciContactsUrl(values.string('vendorID')) }}">
						Contacts
					</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					{{ values.text('contactID') }}
				</li>
			{% else %}
				<li class="breadcrumb-item active" aria-current="page">
					{{ input.lastSegment() == 'ship-froms' ? 'Ship-Froms' : input.lastSegment()|replace({'-':' '})|title }}
				</li>
			{% endif %}
		{% else %}
			<li class="breadcrumb-item active" aria-current="page">{{ values.string('vendorID') }}</li>
		{% endif %}
	{% else %}
		<li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
	{% endif %}
{% endblock %}
