{% if json['data'] is empty %}
	{% include 'util/alert.twig' with {'type': 'danger','iconclass': 'fa fa-warning fa-2x', 'title': 'Attention!', 'message': 'No Sales Orders Found'} %}
{% endif %}

{% for index, whse in json['data'] %}
	<h4>
		<a data-toggle="collapse" href="#{{ index|attrJS }}" class="link" role="button" aria-expanded="false" aria-controls="{{ index|attrJS }}">{{ whse['Whse Name'] }}</a>
	</h4>

	<table class="table table-striped table-bordered table-sm table-excel" id="{{ index|attrJS }}">
		<tbody>
			{% for order in whse['orders'] %}
				{% for x in 1..blueprint['header']['rowcount'] %}
					{% set attr = ((x == 1) ? 'class=first-txn-row' : '') %}
					<tr {{ attr }}>
						{% set columncount = 0 %}
						{% for i in 1..blueprint['cols'] + 1 %}
							{% set colspan = 0 %}
							{% if blueprint['header']['rows'][x]['columns'][i] %}
								{% set column = blueprint['header']['rows'][x]['columns'][i] %}
								{% set colspan = column['col-length'] %}
								<td colspan="{{ colspan }}" class="{{ module_formatter.get_justifyclass(column['data-justify']) }}">
									<span class="font-weight-bold">{{ column['label'] }}:</span> {{ module_formatter.format_celldata(order, column) }}
									{% if column['id'] == 'Order Number' %}
										{% set ordn = order['Ordn'] %}
										{% set custID = json['custid'] %}
										{% if document_management.count_salesorderdocuments(ordn) %}
											<a href="{{ page.documentsview_salesorder(custID, ordn)}}" class="text-success" title="View Documents for Order # {{ order['Order Number'] }}">
												<i class="fa fa-file-text" aria-hidden="true"></i> <span class="sr-only">View Documents for Order # {{ order['Order Number'] }}</span>
											</a>
										{% endif %}
									{% endif %}
								</td>
							{% else %}
								{% if columncount < blueprint['cols'] %}
									{% set colspan = 1 %}
									<td></td>
								{% endif %}
							{% endif %}
							{% set columncount = columncount + colspan %}
						{% endfor %}
					</tr>
				{% endfor %}

				{% include 'customers/ci/sales-orders/table/tr-details.twig' %}
				{% include 'customers/ci/sales-orders/table/tr-totals.twig' %}
				
				{% if order['shipments']|length > 0 %}
					{% include 'util/screen-formatter/tr-labels.twig' with {'section': 'shipments'} %}

					{% for shipment in order['shipments'] %}
						{% include 'util/screen-formatter/tr-section-rows.twig' with {'section': 'shipments', 'record': shipment} %}
					{% endfor %}
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
{% endfor %}
