<div class="collapse" id="allocated-{{ item.linenbr|attrJS }}">
	<div class="list-group-item bg-gray">
		Line # {{ item.linenbr }} Allocated Lotserials
	</div>
	<div class="list-group-item bg-light">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-1">Bin</div>
			<div class="col-sm-2">Lotserial</div>
			<div class="col-sm-2">Lot Reference</div>
			<div class="col-sm-2 text-right">Allocated Qty</div>
			<div class="col-sm-1 text-right">Picked Qty</div>
			<div class="col-sm-2">Image</div>
		</div>
	</div>
	{% for lot in lotAllocator.allocatedLotserials(item.ordernbr, item.linenbr) %}
		<div class="list-group-item">
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-1">{{ lot.bin }}</div>
				<div class="col-sm-2">{{ lot.lotserial }}</div>
				<div class="col-sm-2">{{ lot.lotref }}</div>
				<div class="col-sm-2 text-right">{{ lot.shipqty|number_format(m_picking.decimalPlacesQty()) }}</div>
				<div class="col-sm-1 text-right">
					{{ m_picking.getLineLotserialPickedQty(item.ordernbr, item.linenbr, item.sublinenbr, lot.lotserial)|number_format(m_picking.decimalPlacesQty()) }}
				</div>
				<div class="col-sm-2">
					{% if docm.hasImage(lot.lotserial) %}
						{% set image = docm.getImage(lot.lotserial) %}
						<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#image-modal" data-type="{{ docm.getFolders().description(image.folder) }}" data-id="{{ lot.lotserial }}" data-folder="{{ image.folder }}" data-file="{{ image.filename }}">
							<i class="fa fa-picture-o" aria-hidden="true"></i>
							<span class="sr-only">View Image</span>
						</button>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
</div>
