<div class="collapse" id="{{ item.linenbr|attrJS }}">
	<div class="list-group-item bg-gray">
		<b>Line # {{ item.linenbr }} Picked Lotserials</b>
	</div>
	<div class="list-group-item bg-light">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-1">Carton</div>
			<div class="col-sm-1">Bin</div>
			<div class="col-sm-2">Lotserial</div>
			<div class="col-sm-2">Lot Reference</div>
			<div class="col-sm-2 text-right">Qty</div>
			<div class="col-sm-2">Image</div>
		</div>
	</div>
	{% for lotserial in item.get_pickeditems() %}
		<div class="list-group-item">
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-1">{{ lotserial.palletnbr }}</div>
				<div class="col-sm-1">{{ lotserial.bin }}</div>
				<div class="col-sm-2">{{ lotserial.lotserial }}</div>
				<div class="col-sm-2">{{ lotserial.lotserialref }}</div>
				<div class="col-sm-2 text-right">{{ lotserial.qty|number_format(m_picking.decimalPlacesQty()) }}</div>
				<div class="col-sm-2">
					{% include 'warehouse/picking/unguided/order/remove-picked.twig' %}
				</div>
			</div>
		</div>
	{% endfor %}
</div>
