{#
	var                    Description / Instance of
	-------------------------------------------------
	xrefs                  ProcessWire\WireData
	xrefs.cxm              module XrefCxm
	xrefs.upcx             module XrefUpc
	xrefs.vxm              module XrefVxm
	itm                    module Itm
	item                   ItemMasterItem
	recordlocker           module RecordLockerUser
#}
<form action="{{ page.fullURL.getURL() }}" method="POST" id="itm-xrefs-form">
	<input type="hidden" name="action" value="update-itm-xrefs">
	<input type="hidden" name="itemID" value="{{ item.itemid }}">
	<div class="form-group row">
		<div class="col-sm-4">
			<label for="cxm_custitemid">Short Item ID</label>
		</div>
		<div class="col-sm-8">
			<input type="text" class="form-control" name="cxm_custitemid" id="cxm_custitemid" value="{{ xrefs.cxm.xref_shortitem_exists(item.itemid) ? xrefs.cxm.xref_shortitem(item.itemid).custitemid : '' }}">
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-4">
			<label for="upcx.primaryupc">Primary UPC Code</label>
		</div>
		<div class="col-sm-8">
			<div class="row">
				<div class="col-sm-8">
					<input type="text" class="form-control" name="upcx.primaryupc2" id="upcx.primaryupc" value="{{ xrefs.upcx.xref_primary_exists_for_itemid(item.itemid) ? xrefs.upcx.xref_primary_by_itemid(item.itemid).upc : '' }}" readonly>
				</div>
				<div class="col-sm-4">
					<p class="form-control-plaintext">{{ item.countItemXrefUpcs() }} Records</p>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-4">
			<label for="supercededby">Supercede Item ID</label>
		</div>
		<div class="col-sm-8">
			<div class="input-group">
				<span class="input-group-prepend">
					<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#ajax-modal" title="Search for Item" aria-label="Search for Item">
						<span class="fa fa-search" aria-hidden="true"></span> <span class="sr-only">Search for Item</span>
					</button>
				</span>
				<input type="text" class="form-control" name="supercededby" id="supercededby" value="{{ item.supercede }}"}>
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-between align-items-center">
		{#
			Only show Edit Actions if the Item is
			1. Locked for editing by the User
			2. Is a new Item
			NOTE: Only show delete if item already exists.
		#}
		{% if itm.recordlocker.function_locked_by_user(item.itemid) or item.isNew() %}
			<button type="submit" class="btn btn-success">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
			</button>
		{% endif %}
		<a href="{{ page.itmURL() }}" class="btn btn-warning">
			<i aria-hidden="true" class="fa fa-times"></i> Close
		</a>
	</div>
</form>
