<nav aria-label="breadcrumb rounded-0">
	<ol class="breadcrumb">
		{% for parent in page.parents() %}
			<li class="breadcrumb-item">
				<i class="fa fa-list" aria-hidden="true"></i>
				<a href="{{ parent.url }}">{{ parent.title }}</a>
			</li>
		{% endfor %}
		{% if page.has('custID') %}
			<li class="breadcrumb-item">
				<a href="{{ page.url }}">{{ page.title }}</a>
			</li>
			{% if (page.has('custitemID')) %}
				<li class="breadcrumb-item">
					<a href="{{ page.cxm_customerURL(page.custID) }}">Customer: {{ page.custID }}</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Cust Item: {{ page.custitemID }}</li>
			{% else %}
				{% if page.custID %}
					<li class="breadcrumb-item active" aria-current="page">Customer: {{ page.custID }}</li>
				{% endif %}
			{% endif %}
		{% elseif page.has('itemID') %}
			<li class="breadcrumb-item">
				<a href="{{ page.url }}">{{ page.title }}</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Item: {{ page.itemID }}</li>
		{% endif %}
	</ol>
</nav>
