{% extends 'util/bread-crumbs.twig' %}

{% set values = page.wire('input').get %}

{% block current_page %}
	<li class="breadcrumb-item">
		<a href="{{ page.menuUrl() }}">
			<i class="fa fa-list" aria-hidden="true"></i> SOMAIN
		</a>
	</li>

	{% if values.offsetExists('custID') %}
		<li class="breadcrumb-item">
			<a href="{{ page.custListUrl(values.text('custID')) }}">
				<i class="fa fa-microchip" aria-hidden="true"></i> CXM
			</a>
		</li>
		{% if (values.offsetExists('custitemID')) %}
			<li class="breadcrumb-item">
				<a href="{{ page.xrefExitUrl(xref) }}">{{ values.text('custID') }}</a>
			</li>
			{% if values.text('custitemID') == 'new' %}
				<li class="breadcrumb-item active" aria-current="page">Create X-ref</li>
			{% else %}
				<li class="breadcrumb-item active" aria-current="page">{{ values.text('custitemID')}}</li>
			{% endif %}
		{% else %}
			{% if values.offsetExists('custID') %}
				<li class="breadcrumb-item active" aria-current="page">{{ values.text('custID')}}</li>
			{% endif %}
		{% endif %}
	{% elseif values.text('itemID') %}
		<li class="breadcrumb-item">
			<a href="{{ page.url }}">CXM</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">{{ values.text('itemID')}}</li>
	{% else %}
		<li class="breadcrumb-item active" aria-current="page">
			<i class="fa fa-microchip" aria-hidden="true"></i> CXM
		</li>
	{% endif %}
{% endblock %}
