<div class="form-group">
	<div class="row">
		<div class="col-sm-4">
			<label for="custpo">Customer PO</label>
		</div>
		<div class="col-sm-8">
			<input type="text" class="form-control form-control-sm" name="custpo" id="custpo" value="{{ quote.custpo }}">
		</div>
	</div>
</div>
<div class="form-group">
	<div class="row">
		<div class="col-sm-4">
			<label for="shipvia">Shipvia</label>
		</div>
		<div class="col-sm-8">
			<select name="shipvia" id="shipvia" class="form-control form-control-sm">
				{% for shipvia in shipvias %}
					<option value="{{ shipvia.code }}" {{ shipvia.code == quote.shipvia ? 'selected' : ''}}>{{ shipvia.description }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
</div>
<div class="form-group">
	<div class="row">
		<div class="col-sm-4">
			<label for="fob">FOB</label>
		</div>
		<div class="col-sm-8">
			{% include 'util/select.twig' with {'name': 'fob', 'id': 'fob', 'selectedvalue': quote.fob, 'options': quote.get_foboptions()} %}
		</div>
	</div>
</div>
<div class="form-group">
	<div class="row">
		<div class="col-sm-4">
			<label for="delivery">Delivery</label>
		</div>
		<div class="col-sm-8">
			<input type="text" class="form-control form-control-sm" name="delivery" id="delivery" value="{{ quote.delivery }}">
		</div>
	</div>
</div>
<div class="form-group">
	<div class="row">
		<div class="col-sm-4">
			<label for="warehouse">Warehouse</label>
		</div>
		<div class="col-sm-8">
			<select name="warehouse" id="warehouse" class="form-control form-control-sm">
				{% for warehouse in warehouses %}
					<option value="{{ warehouse.id }}" {{ warehouse.id == quote.warehouse ? 'selected' : ''}}>{{ warehouse.id ~ ' - ' ~ warehouse.name }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
</div>
<div class="form-group">
	<div class="row">
		<div class="col-sm-4">
			<label for="careof">Care of</label>
		</div>
		<div class="col-sm-8">
			<input type="text" class="form-control form-control-sm" name="careof" id="careof" value="{{ quote.careof }}">
		</div>
	</div>
</div>
<div class="form-group">
	<div class="row">
		<div class="col-sm-4">
			<label for="date_quoted">Quote Date</label>
		</div>
		<div class="col-sm-8">
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text bg-primary text-white">
						<i class="fa fa-calendar" aria-hidden="true"></i>
					</div>
				</div>
				<input type="text" readonly class="form-control form-control-sm text-right" id="date_quoted" value="{{ quote.date_quoted }}">
			</div>
		</div>
	</div>
</div>
<div class="form-group">
	<div class="row">
		<div class="col-sm-4">
			<label for="date_review">Review Date</label>
		</div>
		<div class="col-sm-8">
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text bg-primary text-white">
						<i class="fa fa-calendar" aria-hidden="true"></i>
					</div>
				</div>
				<input type="text" readonly class="form-control form-control-sm text-right" id="date_review" value="{{ quote.date_review }}">
			</div>
		</div>
	</div>
</div>
<div class="form-group">
	<div class="row">
		<div class="col-sm-4">
			<label for="date_expires">Expire Date</label>
		</div>
		<div class="col-sm-8">
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text bg-primary text-white">
						<i class="fa fa-calendar" aria-hidden="true"></i>
					</div>
				</div>
				<input type="text" readonly class="form-control form-control-sm text-right" id="date_expires" value="{{ quote.date_expires }}">
			</div>
		</div>
	</div>
</div>
