{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	item                   Whseitemphysicalcount
	m_receiving            module Receiving or Custom module Receiving
#}
<form action="{{ page.url }}" method="get" class="form-reset allow-enterkey-submit mb-4" id="po-item-receive-form">
	<input type="hidden" name="action" value="submit-item">
	<input type="hidden" name="ponbr" value="{{ m_receiving.getPonbr() }}">
	<input type="hidden" name="scan" value="{{ item.scan }}">

	<h3>Scanned Item Details</h3>

	<div class="form-group">
		<label for="itemID">Item ID</label>
		<div class="input-group">
			<input type="text" class="form-control" id="itemID" name="itemID" value="{{ item.itemid }}" data-itemtype="">
		</div>
	</div>

	<div class="row {{ m_receiving.items.isItemLotserialized(item.itemid) == false ? 'collapse' : ''}}">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="lotserial">Lot / Serial</label>
				<div class="input-group">
					<input type="text" class="form-control" id="lotserial" name="lotserial" value="{{ item.lotserial }}">
				</div>
				{% if (m_receiving.items.isItemLotted(item.itemid)) %}
					<small class="form-text text-muted">If blank, Lot Number will be created and assigned</small>
				{% endif %}
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="lotserialref">Lot/Serial Ref</label>
				<div class="input-group">
					<input type="text" class="form-control" id="lotserialref" name="lotserialref" value="{{ item.lotserialref }}">
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="binID">Bin ID</label>
		{% include 'util/bootstrap/form/input-group.twig' with {
				'inputgroup': {
					'type': 'prepend',
					'attributes': {
						'readonly': settings.skipBin,
					},
					'input': {
						'name': 'binID',
						'value': item.bin,
						'attributes': {
							'placeholder': 'Bin ID',
							'aria-label':  'binID'
						}
					},
					'button': {
						'colorclass': 'btn-secondary',
						'text': 'fa fa-list'|icon,
						'attributes': {
							'title': 'Show Warehouse Bins',
							'data-toggle': 'modal',
							'data-target': '#bins-modal',
							'aria-label': 'Show Warehouse Bins'
						}
					}
				}
			}
		%}
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="productiondate">Expire Date</label>
				{% include 'util/date-picker.twig' with {'name': 'productiondate', 'id': 'productiondate', 'value': item.productiondate ? item.productiondate|convertdate('m/d/Y') : '', 'disabled': item.items.isItemNormal()} %}
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="qty">Qty</label>
				<span class="text-secondary pull-right">
					<b>Previous Receipt: {{ m_receiving.items.getQtyReceivedItemid(item.itemid)|number_format(m_receiving.decimalPlacesQty()) }}</b>
				</span>
				<input type="number" class="form-control text-right qty-input" id="qty" name="qty" value="{{ item.qty|number_format(m_receiving.decimalPlacesQty()) }}" data-validated="false">
			</div>
		</div>
	</div>
	<div class="d-flex w-100 justify-content-between">
		<button type="submit" class="btn btn-success btn-lg">
			<i class="fa fa-floppy-o" aria-hidden="true"></i> Submit
		</button>
		<a href="{{ page.receivingUrl(m_receiving.getPonbr()) }}" class="btn-clear btn btn-danger btn-lg">
			<i class="fa fa-window-close" aria-hidden="true"></i> Cancel
		</a>
	</div>
</form>
