{#
	var                    Description / Instance of
	-------------------------------------------------
	page                         ProcessWire\Page
	config                       ProcessWire\Config
	config.inventory             module ConfigsWarehouseInventory
	ponbr                        Purchase Order Number
	settings                     ProcessWire\WireData (Environment Variables)
	settings.binid               string Bin ID
	settings.forceItemLookupBin  bool force bin when searching inventory?
	settings.skipBin             bool Skip bin?
#}

<form action="{{ page.url }}" method="post" class="allow-enterkey-submit" id="item-search-form" data-forcebin="{{ settings.forceItemLookupBin ? 'true' : 'false'}}">
	<input type="hidden" name="action" value="search-inventory">
	<input type="hidden" name="ponbr" value="{{ ponbr }}">

	{% if settings.skipBin == true %}
		<input type="hidden" class="form-control" id="binID" name="binID" value="">
	{% else %}
		<div class="form-group">
			<label for="binID">Bin ID</label>
			<div class="input-group">
				<span class="input-group-prepend">
					<button type="button" class="btn btn-secondary show-possible-bins" data-toggle="modal" data-target="#bins-modal" data-input="binID" title="Show Warehouse Bins" aria-label="Show Warehouse Bins">
						<span class="fa fa-list" aria-hidden="true"></span> <span class="sr-only">Show Warehouse Bins</span>
					</button>
				</span>
				<input type="text" class="form-control" id="binID" name="binID" placeholder="Bin ID" value="{{ settings.binid }}" {{ settings.forceItemLookupBin ? 'autofocus' : ''}}>
			</div>
		</div>
	{% endif %}
	<div class="form-group">
		<label for="scan">Scan Barcode, UPC, Item ID, or  Lot / Serial #</label>
		<div class="input-group">
			<span class="input-group-prepend">
				<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#ajax-modal" title="Search Items" data-lookupurl="{{ page.search_lookupURL('items') }}" data-input="#scan">
					<i class="fa fa-search" aria-hidden="true"></i>
				</button>
			</span>

			<input type="text" class="form-control" name="scan" id="scan" placeholder="Barcode, UPC, Item ID, Lot / Serial #">

			<span class="input-group-append">
				<button type="submit" class="btn btn-primary">
					<i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Search
				</button>
			</span>
		</div>
	</div>
</form>
