<div class="list-group mb-3">
	<div class="list-group-item bg-dark text-white">
		<div class="row">
			<div class="col">Line #</div>
			<div class="col-4">Item ID / Description</div>
			<div class="col">Vendor Item ID</div>
			<div class="col">Qty Ordered</div>
			<div class="col">Qty Received</div>
			<div class="col">Qty Remaining</div>
		</div>
	</div>
	{% for item in items %}
		<div class="list-group-item first-txn-row">
			<div class="row">
				<div class="col">
					{% if item.is_item_lotted() or item.is_item_serialized() %}
						<button type="button" class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#{{ (item.linenbr ~ '-lotserial')|attrJS }}" aria-expanded="false" aria-controls="{{ (item.linenbr ~ '-lotserial')|attrJS }}">
							{{ item.linenbr }}
						</button>
					{% else %}
						{{ item.linenbr }}
					{% endif %}
				</div>
				<div class="col-4">
					<b>{{ item.itemid }}</b> <br>
					<small>{{ item.description }}</small>
				</div>
				<div class="col">{{ item.vendoritemid }}</div>
				<div class="col text-right">{{ item.qty_ordered|number_format() }}</div>
				<div class="col text-right">{{ item.qty_received|number_format() }}</div>
				<div class="col text-right">{{ item.qty_remaining()|number_format() }}</div>
			</div>
		</div>

		{% if item.is_item_lotted() or item.is_item_serialized() %}
			<div class="collapse" id="{{ (item.linenbr ~ '-lotserial')|attrJS }}">
				<div class="list-group">
					<div class="list-group-item bg-light">
						<div class="row">
							<div class="col">Lot #</div>
							<div class="col">Lot Ref</div>
							<div class="col">Qty</div>
							<div class="col">Bin</div>
							<div class="col">Remove</div>
						</div>
					</div>
					{% for lot in item.get_receivedlots() %}
						<div class="list-group-item">
							<div class="row">
								<div class="col">{{ lot.lotserial }}</div>
								<div class="col">{{ lot.lotreference }}</div>
								<div class="col"> {{ lot.qty_received }}</div>
								<div class="col text-right">{{ lot.bin }}</div>
								<div class="col">
									<a href="{{ page.delete_received_itemURL(lot.ponbr, lot.linenbr, lot.sequence) }}" class="btn btn-danger"> Remove</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	{% endfor %}
</div>
