<div class="row">
	<div class="col-sm-7">
		{% include 'warehouse/binr/item-details.twig' %}

		{% if (session.get('binr') is not empty) %}
			{% if (whsesession.had_succeeded()) %}
				<div class="alert alert-success" role="alert">
					{% set msg = item.get_itemtypedesc()|upper ~ ': ' ~ item.get_itemidentifier() %}
					{% include 'util/alert.twig' with {'type': 'success','iconclass': 'fa fa-floppy-o fa-2x', 'title': 'Success!', 'message': msg} %}
				</div>
			{% elseif (whsesession.status is not empty) %}
				{% include 'util/alert.twig' with {'type': 'danger','iconclass': 'fa fa-warning fa-2x', 'title': 'Error!', 'message': whsesession.status} %}
			{% endif %}
		{% endif %}

		<form action="{{ page.formurl }}" method="POST" class="binr-form" id="binr-form" tab-inputs="true">
			<input type="hidden" name="action" value="bin-reassign">
			<input type="hidden" name="page" value="{{ page.fullURL.getUrl() }}">
			<input type="hidden" name="itemID" value="{{ item.itemid }}">
			<input type="hidden" name="{{ item.get_itemtypeproperty() }}" value="{{ item.get_itemidentifier() }}">

			<div class="form-group">
				<h3>From</h3>
				<div class="row">
					<div class="col-sm-6 form-group">
						<label for="from-bin">Bin</label>
						<div class="input-group">
							<input type="text" class="form-control input-sm" name="from-bin" value="{{ item.bin }}" data-bin="{{ item.bin }}">
							<span class="input-group-append">
								<button type="button" class="btn btn-default show-select-bins" data-toggle="modal" data-target="#choose-from-bins-modal" data-input="from-bin"> <span class="fa fa-search"></span> </button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<h3>To</h3>
				<div class="row">
					<div class="col-sm-6 form-group">
						<label for="to-bin">Bin</label>
						<div class="input-group">
							<input type="text" class="form-control input-sm" name="to-bin" value="{{ page.tobin }}">
							<span class="input-group-append">
								<button type="button" class="btn btn-default" data-toggle="modal" data-target="#choose-to-bins-modal" data-input="to-bin"> <span class="fa fa-search"></span> </button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-sm-6 form-group">
						<label for="bin-qty">Qty </label> (On Hand: <span class="qty-available">{{ inventory.get_binqty(session.get('sessionid'), item, item.bin) }}</span>)
						<div class="input-group">
							<input type="text" class="form-control input-sm text-right" name="qty" value="{{ config.default_qtyonhand ? item.qty : ''}}">
							<span class="input-group-append">
								<button type="submit" class="btn btn-primary not-round use-bin-qty" data-direction="from">Use Bin Qty</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-success not-round">Submit</button>
			&nbsp; &nbsp;
			<a href="{{ page.url }}" class="btn btn-warning not-round">Cancel</a>
		</form>
	</div>
</div>
