<div class="form-group">
	<button type="button" class="btn btn-primary" onclick="window.history.back()">
		<i class="fa fa-arrow-left" aria-hidden="true"></i> Go back
	</button>
	&nbsp;
	{% if page.has('custID') %}
		{% if page.has('shiptoID') %}
			<a href="{{ page.get_bookings_customerURL(page.custID, page.shiptoID) }}" class="btn btn-secondary">
				<i class="fa fa-book" aria-hidden="true"></i> Back to {{ page.shiptoID }} Bookings
			</a>
		{% else %}
			<a href="{{ page.get_bookings_customerURL(page.custID) }}" class="btn btn-secondary">
				<i class="fa fa-book" aria-hidden="true"></i> Back to {{ page.custID }} Bookings
			</a>
		{% endif %}
		&nbsp;
		<a href="{{ page.get_bookings_dayURL(page.date) }}" class="btn btn-secondary">
			<i class="fa fa-calendar-o" aria-hidden="true"></i> Back to {{ page.date }} Bookings
		</a>
	{% else %}
		<a href="{{ page.parent.url }}" class="btn btn-secondary">
			<i class="fa fa-book" aria-hidden="true"></i> Back to Bookings
		</a>
	{% endif %}
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Date</th> <th>Order #</th> <th>Customer</th> <th>ShiptoID</th> <th>View</th>
		</tr>
	</thead>
	<tbody>
		{% for order in orders %}
			<tr>
				<td>{{ order.bookingdate|convertdate }}</td>
				<td>
					<a href="{{ page.get_viewsalesorderURL(order.ordernumber) }}" class="link" target="_blank" aria-label="View Sales Order" title="View Sales Order">
						{{ order.ordernumber }}
					</a>
				</td>
				<td>
					<a href="{{ page.get_ci_customerURL(order.custid) }}" class="link" target="_blank" aria-label="View Customer in CI" title="View Customer in CI">
						{{ order.customer.name }} ({{ order.custid }})
					</a>
				</td>
				<td>
					<a href="{{ page.get_ci_customershiptoURL(order.custid, order.shiptoid) }}" class="link" target="_blank" aria-label="View Shipto in CI" title="View Shipto in CI">
						{{ order.shiptoid }}
					</a>
				</td>
				<td>
					<a href="{{ page.get_bookings_day_orderURL(order.bookingdate, order.ordernumber) }}" class="btn btn-primary">
						<i class="fa fa-book" aria-hidden="true"></i> View
					</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
