{# ctm is an instance of CustomerTypeCode #}
<form action="{{ page.url }}" method="POST" id="code-edit-form">
	<input type="hidden" name="action" value="update-ctm">

	<div class="row">
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="code">Code</label>
						<input type="text" name="code" class="{{ code.code ? 'form-control-plaintext' : 'form-control' }}" value="{{ code.code }}" id="code" maxlength="{{ code.get_max_length_code() }}" {{ code.code ? 'readonly' : 'autofocus' }}>
					</div>
				</div>
				<div class="col-sm-9">
					<div class="form-group">
						<label for="description">Description</label>
						<input type="text" name="description" class="form-control" value="{{ code.description }}" id="description" autofocus>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="order_approval_email">Mail List?</label>
				{% include 'util/select.twig' with {'name': 'mail_list', 'id': 'mail_list', 'selectedvalue': code.mail_list, 'options': {'Y': 'Yes', 'N': 'No'}} %}
			</div>
			<div class="form-group">
				<label for="order_approval_email">Order Approval Email</label>
				<input type="text" name="order_approval_email" class="form-control" value="{{ code.order_approval_email }}" id="order_approval_email">
			</div>
		</div>
		<div class="col-sm-6">
			<h4>Notes</h4>
			<table class="table table-sm">
				<thead>
					<tr>
						<th>Type</th>
						<th>Has Notes</th>
						<th>Action</th>
					</tr>
				</thead>
				{% for notetype in module_custnotes.get_notetypes() %}
					<tr>
						<td>{{ module_custnotes.get_notetype_description(notetype)|capitalize }}</td>
						<td>{{ code.count_notetype(notetype)|bool|yesorno|capitalize }}</td>
						<td class="text-right">
							<textarea class="collapse" id="notes-{{ notetype }}" cols="{{ module_custnotes.get_notetype_column_count(notetype) }}">{{ module_custnotes.get_notes_array(notetype, code.code)|join('\r') }}</textarea>
							{% if code.count_notetype(notetype)|bool %}
								<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#notes-modal" data-type="{{ notetype }}" data-description="{{ module_custnotes.get_notetype_description(notetype)|capitalize }}">
									<i class="fa fa-pencil" aria-hidden="true"></i> Edit
								</button>
							{% else %}
								<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#notes-modal" data-type="{{ notetype }}" data-description="{{ module_custnotes.get_notetype_description(notetype)|capitalize }}">
									<i class="fa fa-plus" aria-hidden="true"></i> Add
								</button>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	{% block extra_fields %}

	{% endblock %}

	<button type="submit" class="btn btn-success">
		<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
	</button>
	<a href="{{ page.get_codetable_listURL(page.codetable, code.code) }}" class="btn btn-warning pull-right">Close</a>
</form>
