<div class="form-group">
	<div class="form-row">
		<div class="col-sm-6">
			<label for="{{ field }}">{{ label }}</label>
		</div>
		<div class="col-sm-6">
			<select class="form-control" id="{{ field }}" name="{{ field }}">
				<option value="">-- Choose --</option>

				{% for gl_code in gl_codes %}
					<option value="{{ gl_code.code }}" {{ gl_code.code == value ? 'selected' : '' }}>{{ gl_code.description }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
</div>
