{# codes is an array / ObjectCollection of CustomerTypeCode #}
<div class="list-group">
	<div class="list-group-item bg-dark text-white">
		<div class="row align-items-center">
			<div class="col-1">
				Code
			</div>
			<div class="col-3">
				Description
			</div>
			<div class="col-1">
				Mail
			</div>
			<div class="col-1">
				Notes :
			</div>
			<div class="col-1">
				Statement
			</div>
			<div class="col-1">
				Invoice
			</div>
			<div class="col-1">
				Pick
			</div>
			<div class="col-1">
				Pack
			</div>
			<div class="col-2">
				{% if page.is_print() == false %}
					<a href="{{ page.url ~ '?code=new' }}" class="btn btn-light">
						<i class="fa fa-plus" aria-hidden="true"></i> Add Code
					</a>
				{% endif %}
			</div>
		</div>
	</div>
	{% for code in codes %}
		{# data-code attribute and class code is for the highlight on close #}
		<div id="{{ code.code|urlencode }}" data-code="{{ code.code|urlencode }}" class="list-group-item code pb-1 pt-1 {{ (response.key == code.code and response.has_success() ) ? 'bg-success text-white' : ''}}">
			<div class="row align-items-center">
				<div class="col-1">
					{{ code.code }}
				</div>
				<div class="col-3">
					{{ code.description }}
				</div>
				<div class="col-1">
					{{ code.mail_list }}
				</div>
				<div class="col-1">

				</div>
				<div class="col-1">
					{{ code.count_notetype('SCTP') ? 'Y' : 'N' }}
				</div>
				<div class="col-1">
					{{ code.count_notetype('ICTP') ? 'Y' : 'N' }}
				</div>
				<div class="col-1">
					{{ code.count_notetype('PCTP') ? 'Y' : 'N' }}
				</div>
				<div class="col-1">
					{{ code.count_notetype('KCTP') ? 'Y' : 'N' }}
				</div>
				<div class="col-2 text-center">
					{% if recordlocker.function_locked(page.name, code.code) == false or recordlocker.function_locked_by_user(page.name, code.code) %}
						{% if page.is_print() == false %}
							<a href="{{ page.get_codetable_code_editURL(page.codetable, code.code) }}" class="btn btn-warning" title="Edit" aria-label="Edit">
								<i class="fa fa-pencil" aria-hidden="true"></i> <span class="sr-only"></span>
							</a>
							&nbsp;
							<a href="{{ page.get_codetable_code_deleteURL(page.codetable, code.code) }}" class="btn btn-danger delete_button" title="Delete" aria-label="Delete">
								<i class="fa fa-trash" aria-hidden="true"></i><span class="sr-only">Delete</span>
							</a>
						{% endif %}
					{% else %}
						<span class="badge badge-secondary">
							<i class="fa fa-lock" aria-hidden="true"></i> Code Locked By {{ recordlocker.get_locked_user(page.name, code.code) }}
						</span>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
</div>
