{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	cxm                    module XrefCxm
	recordlocker           module RecordLockerUser
	item                   ItemXrefCustomer
#}
<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-sm-2">
				<strong> {{ page.pw_template == 'itm-xrefs-cxm' ? 'Item ID' : 'Customer ID' }}</strong>
			</div>
			<div class="col-sm-6">
				<div>
					{% if page.pw_template == 'itm-xrefs-cxm' %}
						{{ item.itemid }} - {{ item.item.description }}
					{% else %}
						{{ item.custID }} - {{ item.customer.name }}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="card-body">
		{% include 'items/cxm/item/form/form.twig' %}
	</div>
</div>
