{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	cxm                    module XrefCxm
	recordlocker           module RecordLockerUser
	qnotes                 module QnotesItemXrefCustomer
	item                   ItemXrefCustomer
	item.item              ItemMasterItem
#}
{% if item.isNew() and page.has('custID') == false %}
	<div class="row form-group">
		<div class="col-sm-4">
			<label for="custID">Customer ID</label>
		</div>
		<div class="col-sm-8">
			{% include 'util/form/input-with-modal-lookup.twig' with {'name': 'custID', 'value': item.custID, 'modaltarget': '#ajax-modal', 'modaldescription': 'Search for / Choose Customer', 'attributes_button': {'data-search': 'customer'}} %}
		</div>
	</div>
{% else %}
	<input type="hidden" name="custID" value="{{ item.custid }}">

	{% if (page.pw_template == 'itm-xrefs-cxm') %}
		<div class="row form-group">
			<div class="col-sm-4">
				<label for="custID">Customer ID</label>
			</div>
			<div class="col-sm-8">
				<p class="form-control-plaintext form-control-sm">{{ item.custid }} - {{ item.customer.name }}</p>
			</div>
		</div>
	{% endif %}
{% endif %}
<div class="row form-group">
	<div class="col-sm-4">
		<label for="custitemID">Customer Item ID</label>
	</div>
	<div class="col-sm-8">
		{% include 'util/form/input.twig' with {
				'name': 'custitemID', 'value': item.custitemID,
				'attributes': {
					'data-custitemid': item.custitemID
				}
			}
		%}
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-4">
		<label for="description">Description</label>
	</div>
	<div class="col-sm-8">
		<input type="text" name="description" class="form-control form-control-sm" id="description" value="{{ item.description }}">
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-4">

	</div>
	<div class="col-sm-8">
		<input type="text" name="description2" class="form-control form-control-sm" id="description2" value="{{ item.description2 }}">
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-4">
		<label for="itemID">Our Item ID</label>
	</div>
	<div class="col-sm-8 item-col">
		{% include 'util/form/input-with-modal-lookup.twig' with {
				'name': 'itemID', 'value': item.itemid,
				'attributes': {
					'readonly': item.itemid ? true : false,
					'disabled': item.itemid ? true : false,
				},
				'modaltarget': '#ajax-modal', 'modaldescription': 'Search for / Choose Item',
				'attributes_button': {
					'data-search': 'item'
				}
			}
		%}
		<small class="form-text text-muted description">{{ item.item.description }}</small>
		<small class="form-text text-muted description2">{{ item.item.description2 }}</small>
	</div>
</div>
