<table id="cust-index" class="table table-bordered">
	<thead>
		<tr>
			<th scope="col">
				<a href="{{ page.get_sortURL('custID') }}" class="link">ID</a>
			</th>
			<th scope="col">
				<a href="{{ page.get_sortURL('name') }}" class="link">Name</a>
			</th>
			<th scope="col">Address</th>
			<th scope="col">
				<a href="{{ page.get_sortURL('city') }}" class="link">City</a>
			</th>
			<th scope="col">
				<a href="{{ page.get_sortURL('state') }}" class="link">State</a>
			</th>
			<th scope="col">
				<a href="{{ page.get_sortURL('zip') }}" class="link">Zip</a>
			</th>
			<th scope="col">
				<a href="{{ page.get_sortURL('lastsaledate') }}" class="link">Last Sales Date</a>
			</th>
		</tr>
	</thead>
	<tbody>
		{% for customer in customers %}
			<tr>
				<td scope="row">
					<a href="{{ page.url ~ '?itemID=' ~ itemID ~ '&custID=' ~ customer.id }}" class="link">
						<strong>{{ customer.id }}</strong>
					</a>
				</td>
				<td>{{ customer.name }}</td>
				<td>{{ customer.address1 }}</td>
				<td>{{ customer.city }}</td>
				<td>{{ customer.state }}</td>
				<td>{{ customer.zip }}</td>
				<td>{{ customer.lastsaledate|convertdate }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
