<div class="list-group">
	<div class="list-group-item list-group-item-action bg-light">
		<div class="row">
			<div class="col">Quote</div>
			<div class="col">Pick Ticket</div>
			<div class="col">Pack Ticket</div>
			<div class="col">Invoice</div>
			<div class="col">Acknowledgment</div>
			<div class="col">Edit</div>
		</div>
	</div>
	{% if notes.count > 0 %}
		{% for note in notes %}
			<div class="list-group-item qnote" data-linenbr="{{ note.key2 }}" data-sequence="{{ note.recno }}">
				<div class="row mb-1">
					<div class="col check-quote">{{ note.get_cart_form('quote') }}</div>
					<div class="col check-pick">{{ note.get_cart_form('pick') }}</div>
					<div class="col check-pack">{{ note.get_cart_form('pack') }}</div>
					<div class="col check-invoice">{{ note.get_cart_form('invoice') }}</div>
					<div class="col check-acknowledgement">{{ note.get_cart_form('acknowledgement') }}</div>
					<div class="col">
						<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#add-note-modal" data-linenbr="{{ note.key2 }}" data-sequence="{{ note.recno }}">
							<i class="fa fa-pencil" aria-hidden="true"></i> Edit
						</button>
					</div>
				</div>
				<p class="mb-0 notes">{{ note.note }}</p>
			</div>
		{% endfor %}
	{% else %}
		<div class="list-group-item text-center font-weight-bold">
			No notes found
		</div>
	{% endif %}
</div>
