<div class="mb-3">
	{% if user.is_editingquote(quote) %}
		<a href="{{ page.edit_quoteURL(quote.quotenumber) }}" class="btn btn-primary">
			<i class="fa fa-arrow-left" aria-hidden="true"></i> Go back to Quote
		</a>
	{% else %}
		<a href="{{ page.parent.url ~ '?qnbr=' ~ qnbr }}" class="btn btn-primary">
			<i class="fa fa-arrow-left" aria-hidden="true"></i> Go back to Quote
		</a>
	{% endif %}
</div>

<div class="mb-4">
	<div class="row mb-1">
		<div class="col">
			<h4>Header Notes</h4>
		</div>
		<div class="col text-right">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#note-modal" data-linenbr="0" data-sequence="0">
				<i class="fa fa-plus" aria-hidden="true"></i> Add Note
			</button>
		</div>
	</div>
	{% include 'quotes/quote/notes/qnotes-list.twig' with {'notes': qnotes_qt.get_notes_summarized(qnbr, 0)} %}
</div>

{% for item in quote.items %}
	<div class="row mb-1">
		<div class="col">
			<h4>Line Number {{ item.linenbr ~ ': ' ~ item.itemid }}</h4>
		</div>
		<div class="col">
			{{ item.description }}
		</div>
		<div class="col text-right">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#note-modal" data-linenbr="{{ item.linenbr }}" data-sequence="0">
				<i class="fa fa-plus" aria-hidden="true"></i> Add Note
			</button>
		</div>
	</div>
	<div class="mb-3">
		{% include 'quotes/quote/notes/qnotes-list.twig' with {'notes': qnotes_qt.get_notes_summarized(qnbr, item.linenbr)} %}
	</div>
{% endfor %}
