{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	config                 ConfigSalesOrder
	order                  Ordrhed
	eso                    module SalesOrderEdit
	user                   ProcessWire\User
#}
<div class="row mt-4">
	<div class="col-6">
		<h3 class="font-weight-bold text-secondary">Order Items</h3>
	</div>
	<div class="col-6">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#last-sales-modal">
			View {{ order.custid }}'s Popular Items
		</button>
	</div>
</div>

<div class="bg-dark text-white font-weight-bold p-3">
	<div class="row">
		<div class="col-sm-3">Item ID</div>
		<div class="col-sm-1 text-right">Cases</div>
		<div class="col-sm-1 text-right">Weight</div>
		<div class="col-sm-2 text-right">Price</div>
		<div class="col-sm-2 text-right">Amount</div>
		<div class="col-sm-3 "></div>
	</div>
</div>
<div class="pb-2"></div>

{% for detail in eso.get_editable_details(order.ordernumber) %}
	{% set item = eso.get_im_item(detail.itemid) %}

	<form action="{{ page.url }}" class="allow-enterkey-submit">
		<input type="hidden" name="action" value="update-item-quick">
		<input type="hidden" name="ordn" value="{{ order.ordernumber }}">
		<input type="hidden" name="linenbr" value="{{ detail.linenbr }}">

		<div class="row px-3 order-item">
			<div class="col-sm-3">
				{{ detail.itemid }}
				<br>
				<small>{{ detail.desc1 }}</small>
				<br>
				<small>Avg Wgt: {{ item.weight|number_format(eso.decimal_places_qty()) }}</small>
			</div>
			<div class="col-sm-1 text-right">
				{% include 'util/form/input.twig' with {
						'name': 'qty', 'value': detail.qty|number_format(eso.decimal_places_qty()),
						'class_add': [
							'text-right',
							'qty-input'
						],
						'attributes': {
							'disabled': user.is_editingorder(order.ordernumber) ? false : true,
							'data-avgweight': item.weight|number_format(eso.decimal_places_qty())
						}
					}
				%}
			</div>
			<div class="col-sm-1 text-right">
				<span class="total-weight">{{ (item.weight * detail.qty)|number_format(eso.decimal_places_qty()) }}</span>
			</div>
			<div class="col-sm-2 text-right">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend">
						<span class="input-group-text">$</span>
					</div>
					{% include 'util/form/input.twig' with {
							'name': 'price', 'value': detail.price|number_format(eso.decimal_places_price()),
							'class_add': [
								'text-right',
								'qty-input'
							],
							'attributes': {
								'data-allowdiscount': item.allow_discount() ? 'Y' : 'N',
								'data-itemid': detail.itemid,
								'disabled': user.is_editingorder(order.ordernumber) ? false : true
							}
						}
					%}
				</div>
			</div>
			<div class="col-sm-2 text-right">
				$ <span class="total-price">{{ (item.weight * detail.qty * detail.price)|number_format(eso.decimal_places_price()) }}</span>
			</div>
			<div class="col-sm-3 text-right">
				<button type="submit" class="btn btn-success btn-sm" {{ user.is_editingorder(order.ordernumber) == false ? 'disabled' : ''}}>
					<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
				</button>
				&nbsp;
				<a href="{{ page.remove_itemURL(order.ordernumber, detail.linenbr) }}" class="btn btn-danger btn-sm delete_button" {{ user.is_editingorder(order.ordernumber) == false ? 'disabled' : ''}}>
					<i class="fa fa-trash-o" aria-hidden="true"></i> Delete
				</a>
			</div>
		</div>
	</form>
	<hr>
{% endfor %}
