<nav aria-label="breadcrumb rounded-0">
	<ol class="breadcrumb">
		{% for parent in page.parents() %}
			<li class="breadcrumb-item">
				<i class="fa fa-list" aria-hidden="true"></i>
				<a href="{{ parent.url }}">{{ parent.title }}</a>
			</li>
		{% endfor %}

		{% if page.wire('input').get.offsetExists('itemID') %}
			<li class="breadcrumb-item">
				<a href="{{ page.url }}">{{ page.title }}</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Item: {{ page.itemID }}</li>
		{% endif %}

		{% if page.wire('input').get.offsetExists('upc') %}
			<li class="breadcrumb-item">
				<a href="{{ page.url }}">{{ page.title }}</a>
			</li>
			{% if input.get('itemID') %}
				<li class="breadcrumb-item">
					<a href="{{ page.item_upcsURL(page.itemID) }}">Item: {{ page.itemID }}</a>
				</li>
			{% endif %}
			<li class="breadcrumb-item active" aria-current="page">{{ page.upc }}</li>
		{% endif %}
	</ol>
</nav>
