<table class="col-sm-9 table table-striped table-sm table-excel mb-4">
    <tr class="bg-info text-white">
        <td><b>Item ID</b></td>
        <td>{{ json['itemid'] }}</td>
        <td colspan="2">{{ json['desc1'] }}</td>
    </tr>
</table>

<table class="table table-striped table-sm table-excel mb-4">
    <thead>
        <tr>
            {% for column in json['columns']['substitute items'] %}
                <th>{{ column['heading'] }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for i in 1..json['data']['substitute items']|length %}
            {% set rowattr = json['data']['substitute items'][i]['same/like'] == 'Super' ? 'class=success' : '' %}
            <tr {{ rowattr }}>
                {% for item in json['data']['substitute items'][i] %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="card bg-primary">
    <h5 class="card-header text-white">{{ json['columns']['internal notes']['internal note']['heading'] }}</h5>
    <ul class="list-group list-group-flush">
        {% for i in 1..json['data']['internal notes']|length %}
            <li class="list-group-item">{{ json['data']['internal notes'][i]['internal note'] }}</li>
        {% endfor %}
    </ul>
</div>
