{% set values = input.get %}

{% block header %}
	<div class="row">
		<div class="col-sm-6 mb-3">
			<a href="{{ page.menuUrl() }}" class="btn btn-primary">
				<i class="fa fa-undo" aria-hidden="true"></i> Back <span class="d-none d-sm-inline">to {{ page.menuTitle() }}</span>
			</a>
		</div>
		<div class="col-sm-6 mb-3">
			{% block search %}
				<div>
					<div class="d-flex justify-content-between flex-wrap">
						{% if input.get.text('q') != '' %}
							<div class="order-2 order-sm-1 flex-grow-1 mt-1">
								<a href="{{ input.paginateUrl(1, {'includeQueryString': false}) }}" class="btn btn-warning">
									<i class="fa fa-times" aria-hidden="true"></i> Clear Search
								</a>
							</div>
						{% endif %}

						<form action="{{ input.paginateUrl(1, {'includeQueryString': false}) }}" method="GET" class="allow-enterkey-submit column-filter flex-grow-1 order-1 order-sm-2">
							<div class="input-group">
								<div class="input-group-btn search-panel collapse">
									<div class="dropdown">
										<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
											Search By <span class="searchby">{{ values.offsetExists('col') ? values.text('col')|capitalize : 'All' }}</span> <span class="caret"></span>
										</button>
										<div class="dropdown-menu column-options">
											<a class="dropdown-item" href="#" value="">All</a>
											<a class="dropdown-item" href="#" value="custid">Custid</a>
											<a class="dropdown-item" href="#" value="name">Name</a>
										</div>
									</div>
								</div>
				
								<input class="form-control form-group inline" type="text" name="q" value="{{ values.text('q') }}" placeholder="Search By Cust ID, Name, Address City, State, Zip">
								<input type="hidden" name="col" value="all">
								
								<span class="input-group-btn">
									<button class="btn btn-light" type="submit">
										<i class="fa fa-search"></i> <span class="sr-only">Search</span>
									</button>
								</span>
							</div>
						</form>
					</div>
				</div>
			{% endblock %}
		</div>
	</div>
{% endblock %}

<div class="d-flex justify-content-between">
	<div><h4>{{ customers.getNbResults() }} Customers</h4></div>
	<div></div>
	<div>
		{% include 'util/bootstrap/html/button.twig' with {
			'button': {
				'colorclass': 'btn-secondary',
				'text': 'fa fa-plus'|icon ~ ' Add PTY3 Customer',
				'attributes': {
					'data-toggle': 'modal',
					'data-target': '#new-cust-modal',
				}
			}
		} %}
	</div>
</div>

<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>
					<a href="{{ page.get_sortURL('custid') }}" class="link">
						ID
						{% if page.orderby_column == 'custid' %}
							<i class="fa fa-sort-alpha-{{ page.orderby_sort|lower }}" aria-hidden="true"></i>
						{% endif %}
					</a>
				</th>
				<th>
					<a href="{{ page.get_sortURL('name') }}" class="link">
						Name
						{% if page.orderby_column == 'name' %}
							<i class="fa fa-sort-alpha-{{ page.orderby_sort|lower }}" aria-hidden="true"></i>
						{% endif %}
					</a>
				</th>
				<th>
					<a href="{{ page.get_sortURL('address1') }}" class="link">
						Address
						{% if page.orderby_column == 'address1' %}
							<i class="fa fa-sort-alpha-{{ page.orderby_sort|lower }}" aria-hidden="true"></i>
						{% endif %}
					</a>
				</th>
				<th>
					<a href="{{ page.get_sortURL('city') }}" class="link">
						City
						{% if page.orderby_column == 'city' %}
							<i class="fa fa-sort-alpha-{{ page.orderby_sort|lower }}" aria-hidden="true"></i>
						{% endif %}
					</a>
				</th>
				<th>
					<a href="{{ page.get_sortURL('state') }}" class="link">
						State
						{% if page.orderby_column == 'state' %}
							<i class="fa fa-sort-alpha-{{ page.orderby_sort|lower }}" aria-hidden="true"></i>
						{% endif %}
					</a>
				</th>
				<th>
					<a href="{{ page.get_sortURL('zip') }}" class="link">
						Zip
						{% if page.orderby_column == 'zip' %}
							<i class="fa fa-sort-alpha-{{ page.orderby_sort|lower }}" aria-hidden="true"></i>
						{% endif %}
					</a>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for customer in customers %}
				<tr class="customer" data-custid="{{ customer.id }}">
					<td>
						<a href="{{ page.pty3CustUrl(customer.id) }}" class="link text-monospace">
							{{ customer.id|replace({' ': '&nbsp;'})|raw }}
						</a>
					</td>
					<td>{{ customer.name }}</td>
					<td>{{ customer.address1 }}</td>
					<td>{{ customer.city }}</td>
					<td>{{ customer.state }}</td>
					<td>{{ customer.zip }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% include 'mar/armain/pty3/customers/insert-customer-modal.twig' %}
{% include 'mar/armain/pty3/customer-accounts/edit-modal.twig' %}