<h4>{{ view|capitalize }} </h4>
<table class="table table-striped table-sm">
	<thead>
		<tr>
			{% for column in json['columns'] %}
				<th class="{{ module_json.get_justifyclass(column['headingjustify']) }}">
					{{ column['heading'] }}
				</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for order in json['data']['orders'] %}
			<tr>
				{% for column, properties in json['columns'] %}
					<td class="{{ module_json.get_justifyclass(properties['datajustify']) }}">
						{{ order[column] }}
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
