<form action="{{ page.get_itemrequirementsURL(itemID) }}" method="get">
	<input type="hidden" name="action" value="ii-requirements">
	<input type="hidden" name="itemID" value="{{ itemID }}">

	<div class="row">
		<div class="col-sm-4">
			<table class="table table-striped table-sm">
				<tr>
					<td><b>Item ID:</b></td>
					<td>{{ itemID }}</td>
				</tr>
				<tr>
					<td><b>Whse:</b></td>
					<td>
						<select class="form-control" name="whseID">
							{% for warehouse in warehouses %}
								<option value="{{ warehouse.id }}" {{ warehouse.id == whse ? 'selected'}}>{{ warehouse.name }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td><b>View:</b></td>
					<td>
						<select class="form-control" name="view">
							{% for option, description in module_ii.get_requirementsoptions() %}
								<option value="{{ option }}" {{ option == view ? 'selected'}}>{{ description|capitalize }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<button type="submit" name="button" class="btn btn-secondary btn-block">Submit</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</form>
