{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	m_picking              module Picking
	item                   Whseitemphysicalcount
	orderitem              PickSalesOrderDetail
#}
<form action="{{ page.fullURL.getUrl() }}" method="post" id="scanned-item-form">
	<input type="hidden" name="action" value="add-lotserial">
	<input type="hidden" name="scan" value="{{ scan }}">

	<div class="form-group">
		<label for="itemID">Item ID</label>
		<input type="text" class="form-control" name="itemID" id="itemID" value="{{ item.itemid }}" readonly>
	</div>

	<div class="row {{ m_picking.is_item_normal(item.itemid)? 'collapse' : '' }}">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="lotserial">Lot / Serial #</label>
				<input type="text" class="form-control" name="lotserial" id="lotserial" value="{{ item.lotserial }}">
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="lotserialref">Lot / Serial Ref</label>
				<input type="text" class="form-control" name="lotserialref" id="lotserialref" value="{{ item.lotserialref }}">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="binID">Bin ID</label>
				<input type="text" class="form-control" name="binID" id="binID" value="{{ item.bin }}" readonly>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<div class="d-flex justify-content-between align-items-center">
					<label for="qty">Qty </label>
					<span class="pull-right">Ordered: {{ orderitem.qtyordered|number_format(m_picking.decimal_places()) }}</span>
				</div>
				<input type="number" class="form-control" name="qty" id="qty" {% if m_picking.allow_pick_more_than_available() == false  %} max="{{ item.qty }}" {% endif %} value="">
				<small class="form-text text-muted">Bin Qty: {{ item.qty|number_format(m_picking.decimal_places()) }}</small>
			</div>
		</div>
	</div>

	<div class="form-group d-flex justify-content-between align-items-center">
		<button type="submit" class="btn btn-success">
			<i class="fa fa-plus" aria-hidden="true"></i> Add
		</button>
		<a href="{{ page.get_removescanURL() }}" class="btn btn-warning">Retry Search</a>
	</div>
</form>
