<table class="table table-striped table-sm">
	<tr>
		<td>Item ID</td>
		<td>{{ json['itemid'] }}</td>
	</tr>
	<tr>
		<td></td>
		<td>{{ json['itemid'] }}</td>
	</tr>
	{% if json['alt item'] %}
		<tr>
			<td>Alt Item ID</td>
			<td>{{ json['alt item'] }}</td>
		</tr>
	{% endif %}
	<tr>
		<td></td>
		<td>{{ json['desc1'] }}<br>{{ json['desc2'] }}</td>
	</tr>
</table>

<table class="table table-striped table-sm">
	<tr>
		<td>Sale UoM</td>
		<td>{{ json['sale uom'] }}</td>
	</tr>
	<tr>
		<td>Base Price</td>
		<td>{{ json['base price'] }}</td>
	</tr>
</table>

<table class="table table-striped table-sm">
	<thead>
		{% for column in json['columns'] %}
			<th class="{{ module_json.get_justifyclass(column['headingjustify']) }}">
				{{ column['heading'] }}
			</th>
		{% endfor %}
	</thead>
	<tbody>
		{% for item in json['data']['sub items'] %}
			<tr>
				<td class="" colspan="2">{{ item['subitem'] }}</td>
				<td class="" colspan="2">{{ item['same/like'] }}</td>
				<td class="" colspan="{{ json['columns']|length - 3 }}">{{ item['sub desc'] }}</td>
				{% if item['alt items'] %}
					<td class="" colspan="2">{{ item["alt items"]["alt item"] }}</td>
					<td class="" colspan="{{ json['columns']|length - 2 }}">{{ item["alt items"]["bag qty"] }}</td>
				{% endif %}
			</tr>
			{% for warehouse in item['whse'] %}
				<tr>
					{% for column, properties in json['columns'] %}
						<td class="{{ module_json.get_justifyclass(properties['datajustify']) }}">
							{{ warehouse[column] }}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		{% endfor %}
	</tbody>
</table>
