{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	qnotes                 Dplus\Qnotes\Noce
	notes                  NotesPredefined[]
#}
<div class="list-group mb-3">
	<div class="list-group-item bg-dark text-white">
		<div class="row align-items-center">
			<div class="col-2">
				Code
			</div>
			<div class="col-6">
				Description
			</div>
			<div class="col-4"></div>
		</div>
	</div>

	{% for note in notes %}
		<div class="list-group-item pb-1 pt-1" id="code-{{ note.id }}">
			<div class="row align-items-center">
				<div class="col-2">
					{{ note.id }}
				</div>
				<div class="col-6">
					<span class="summary" data-id="{{ note.id }}">{{ note.note }}</span>
				</div>
				<div class="col-4 text-center">
					<button type="button" class="btn btn-light btn-sm" data-toggle="collapse" data-target="#notes-{{ note.id|urlencode|attrJS }}" aria-controls="#notes-{{ note.id|urlencode|attrJS }}">
						<i class="fa fa-eye" aria-hidden="true"></i> Show
					</button>
					&nbsp;
					<button type="button" class="btn btn-secondary btn-sm use-note" data-id="{{ note.id }}">
						<i class="fa fa-pencil" aria-hidden="true"></i> Use
					</button>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col-2"></div>
				<div class="col-6">
					{% set note_lines = qnotes.getNotesArray(note.id) %}
					{% include 'util/bootstrap/form/textarea.twig' with {
						'textarea': {
							'id': 'notes-' ~ note.id|urlencode|attrJS,
							'value': note_lines|join('\r'),
							'inputclass': 'form-control-plaintext',
							'addclasses': ['qnotes', 'readonly', 'collapse'],
							'attributes': {
								'cols': qnotes.fieldAttribute('note', 'cols'),
								'rows': note_lines|length,
								'readonly': true,
								'disabled': true,
								'data-id': note.id
							}
						}
					} %}
				</div>
				<div class="col-4"></div>
			</div>
		</div>
	{% endfor %}
</div>

<div class="noce-paginator">
	{% include 'util/paginator/propel.twig' with {'pager': notes }%}
</div>