{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	users                  DplusUser[]|ObjectCollection
#}
{% set response = logm.getResponse() %}

<div class="table-responsive">
	<table class="table table-sm">
		<thead>
			<tr class="bg-dark text-white">
				<th class="py-2">Login ID</th>
				<th class="py-2">Name</th>
				<th class="py-2">Warehouse</th>
				<th class="py-2">Admn</th>
				<th class="py-2">SF</th>
				<th class="py-2">CD</th>
				<th class="py-2">RA</th>
				<th class="py-2 text-center">
					<button type="button" class="btn btn-sm btn-light" data-toggle="modal" data-target="#notes-modal" data-code="" data-description="">
						<i class="fa fa-plus" aria-hidden="true"></i> Add
					</button>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				{% set class = input.get.string('focus') == user.id ? 'highlight' : '' %}
				{% set class = response.key == user.id ? 'bg-success text-white' : class %}

				<tr data-userid="{{ user.id }}" class="{{ class }}">
					<td>
						{{ user.id|spacepad(logm.fieldAttribute('id', 'maxlength'))|raw }}
					</td>
					<td>{{ user.name }}</td>
					<td>
						{{ user.whseid }} &nbsp; {{ user.getWhse().name }}
					</td>
					<td>
						{{ user.isAdmin()|yesorno|capitalize }}
					</td>
					<td>
						{{ user.isStorefront()|yesorno|capitalize }}
					</td>
					<td>
						{{ user.isCityDesk()|yesorno|capitalize }}
					</td>
					<td>
						{{ user.isReportAdmin()|yesorno|capitalize }}
					</td>
					<td class="text-center">
						{% if logm.recordlocker.isLocked(user.id) == false or logm.recordlocker.userHasLocked(user.id) %}
							<a href="{{ page.userEditUrl(user.id) }}" class="btn btn-warning btn-sm">
								<i class="fa fa-pencil" aria-hidden="true"></i> Edit
							</a>
							&nbsp; &nbsp;
							<a href="{{ page.userDeleteUrl(user.id) }}" class="btn btn-danger btn-sm delete_button">
								<i class="fa fa-trash" aria-hidden="true"></i> Delete
							</a>
						{% else %}
							<span class="badge badge-secondary">
								<i class="fa fa-lock" aria-hidden="true"></i> User Locked By {{ logm.recordlocker.getLockingUser(user.id) }}
							</span>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
