{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	manager                Dplus\Codes\Base
#}

{% extends 'code-tables/list.twig' %}

{% set response = manager.getResponse() %}

{% set values = input.get %}
{% set segments = input.urlSegments() %}
{% set lastsegment = segments[segments|length] %}

{% block list_header_row %}
	<div class="row align-items-center">
		<div class="col-sm-3">
			Code
		</div>
		<div class="col-sm-3">
			Description
		</div>
		<div class="col-sm-2">
			Email
		</div>
		<div class="col-sm-3 text-center">
			{% if page.is_print() == false %}
				<button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#edit-code-modal" data-code="" data-description="">
					<i class="fa fa-plus" aria-hidden="true"></i> Add Code
				</button>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% for code in codes %}
	{% block code_row %}
		<div class="row align-items-center">
			<div class="col-sm-3">
				{{ code.code }}
			</div>
			<div class="col-sm-3">
				{{ code.description }}
			</div>
			<div class="col-sm-2">
				<a href="mailto:{{ code.email }}" class="link">{{ code.email }}</a>
			</div>
			<div class="col-sm-3 text-center">
				{% if page.is_print() == false %}
					<button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#edit-code-modal" data-code="{{ code.code }}" data-description="{{ code.description }}" data-json="{{ manager.codeJson(code)|json_encode }}">
						<i class="fa fa-pencil" aria-hidden="true"></i> Edit
					</button>
					&nbsp;
					<a href="{{ page.codeDeleteUrl(code.code) }}" class="btn btn-danger btn-sm delete_button">
						<i class="fa fa-trash" aria-hidden="true"></i> Delete
					</a>
				{% endif %}
			</div>
		</div>
	{% endblock %}
{% endfor %}
