{#
	var                    Description / Instance of
	-------------------------------------------------
	config                 module ConfigsBinr
	page                   ProcessWire\Page
	resultscount           number of results
	items                  Invsearch[]|Objectcollection
	resultscount           number of results
	inventory              InvsearchQuery
	warehouse              Warehouse
#}
<div class="form-group">
	<a href="{{ page.url }}" class="btn btn-primary">
		<i class="fa fa-arrow-left" aria-hidden="true"></i> Back
	</a>
</div>
<div class="list-group">
	{% if (resultscount) %}
		{% for item in items %}
			<div class="list-group-item">
				<h4 class="list-group-item-heading">ITEMID: {{ item.itemid }}</h4>
				<p class="list-group-item-text">{{ item.desc1 }}</p>

				{% if (item.is_serialized() or item.is_lotted()) %}
					<p class="list-group-item-text bg-light"><strong>Bin:</strong> (MULTIPLE) <strong>Weight:</strong> {{ inventory.get_qty_itemid(item.sessionid, item.itemid, page.frombin)|number_format(config.decimal_places()) }}</p>

					<button type="button" class="btn btn-primary btn-sm mb-3" data-toggle="collapse" data-target="#{{ item.itemid|attrJS }}-bins" aria-expanded="false" aria-controls="{{ item.itemid }}-lotserial">
						Show / Hide Bins
					</button>
					<div class="collapse" id="{{ item.itemid|attrJS }}-bins">
						<div class="list-group">
							{% for binitem in inventory.get_bins_itemid(item.sessionid, item.itemid) %}
								<div class="list-group-item bg-light p-1">
									<div class="row">
										<div class="col">
											<h5>
												<strong>Bin:</strong> {{ binitem.bin }}
											</h5>
											{% if (not warehouse.validate_bin(binitem.bin)) %}
												<span class="badge badge-danger">Invalid Bin</span>
											{% endif %}
										</div>
										<div class="col">
											<strong>Boxes:</strong> {{ inventory.count_lotserials_itemid(item.sessionid, item.itemid, binitem.bin) }}
										</div>
										<div class="col">
											<strong>Total Weight:</strong> {{ inventory.get_qty_itemid(item.sessionid, item.itemid, binitem.bin)|number_format(config.decimal_places()) }}
										</div>
										<div class="col">
											{% if (not page.is_print()) %}
												<button type="button" class="btn btn-primary btn-sm mb-3" data-toggle="collapse" data-target="#{{ (binitem.itemid ~ '_' ~ binitem.bin)|attrJS }}-lotserial" aria-expanded="false" aria-controls="{{ (binitem.itemid ~ '_' ~ binitem.bin)|attrJS }}-lotserial">
													Show / Hide {{ binitem.get_itemtypepropertydesc()|upper ~ "S" }}
												</button>
											{% endif %}
										</div>
									</div>
								</div>
								{% include 'warehouse/binr/provalley/item-breakdown-by-bin-lotserial.twig' %}
							{% endfor %}
						</div>
					</div>
				{% else %}
					<p class="list-group-item-text bg-light">
						<strong>Bin:</strong> {{ item.bin }} <strong>Qty:</strong> {{ item.qty }}
					</p>
					{% if (not warehouse.validate_bin(item.bin)) %}
						<span class="badge badge-danger pull-right">Invalid Bin</span>
					{% endif %}
					<a href="{{ page.binr_itemURL(item) }}" class="btn btn-primary">Choose {{ item.itemid }}</a>
				{% endif %}
			</div>
		{% endfor %}
	{% else %}
		<div class="list-group-item">
			<h3 class="list-group-item-heading">No items found for "{{ page.scan }}"</h3>
		</div>
	{% endif %}
</div>
