{% set formatter = module_formatter.get_formatter() %}
{% set fields = module_formatter.get_fields() %}

<div class="list-group">
	<div class="list-group-item bg-dark text-white font-weight-bold">
		<div class="row">
			<div class="col-sm-3">Field - Field Type</div>
			<div class="col-sm-2">
				Line Number
			</div>
			<div class="col-sm-2">
				Column Number
			</div>
			<div class="col-sm-2">
				Column Length
			</div>
			<div class="col-sm-3">
				Column Label
			</div>
		</div>
	</div>
	{% for column,properties in formatter[section]['columns'] %}
		{% set name = column|replace({' ': ''}) %}

		<div class="list-group-item">
			<div class="d-flex w-100 justify-content-between mb-2">
				<h5>{{ column }}</h5>

			</div>
			{% set columndefinition = formatter[section]['columns']|array_key_exists(column) ? formatter[section]['columns'][column] : module_formatter.get_defaultformattercolumn() %}
			<div class="row">
				<div class="col-sm-3">
					<small>
						{% if (fields[section][column]['type'] == 'D') %}
							<div class="row">
								<div class="col-sm-2"> Date:</div>
								<div class="col-sm-10">
									<select class="form-control form-control-sm" name="{{ name ~ '-date-format' }}">
										{% for key, value in module_formatter.get_datetypes() %}
											<option value="{{ key }}" {{ key == formatter[section]['columns'][column]['date-format'] ? 'selected' : ''}}>
												{{ value ~ ' - ' ~ 'now'|date(key) }}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
						{% elseif fields[section][column]['type'] == 'I' %}
							Integer
						{% elseif fields[section][column]['type'] == 'C' %}
							Text
						{% elseif fields[section][column]['type'] == 'N' %}
							<div class="form-row">
								<div class="col">
									Before Decimal &nbsp;
									<input type="text" class="form-control form-control-sm text-right before-decimal" name="{{ name ~ '-before-decimal' }}" value="{{ formatter[section]['columns'][column]['before-decimal'] }}"> &nbsp; &nbsp;
								</div>
								<div class="col">
									After Decimal &nbsp;
									<input type="text" class="form-control form-control-sm text-right after-decimal" name="{{ name ~ '-after-decimal' }}" value="{{ formatter[section]['columns'][column]['after-decimal'] }}">
									<span class="display"></span>
								</div>
							</div>
						{% endif %}
					</small>
				</div>
				<div class="col-sm-2">
					<input type="text" class="form-control form-control-sm text-right qty-sm {{ section }}-line" name="{{ name ~ '-line' }}" value="{{ columndefinition['line'] }}">
				</div>
				<div class="col-sm-2">
					<input type="text" class="form-control form-control-sm text-right column" name="{{ name ~ '-column' }}" value="{{ columndefinition['column'] }}">
				</div>
				<div class="col-sm-2">
					<input type="text" class="form-control form-control-sm text-right column-length" name="{{ name ~ '-length' }}" value="{{ columndefinition['col-length'] }}">
				</div>
				<div class="col-sm-3">
					<input type="text" class="form-control form-control-sm col-label" name="{{ name ~ '-label' }}" value="{{ columndefinition['label'] }}">
				</div>
			</div>
		</div>
	{% endfor %}
</div>

<table class="table table-striped table-sm">
	<thead>
		<tr> <th>Field</th> <th>Line</th> <th>Column</th> <th>Column Length</th> <th>Column Label</th> </tr>
	</thead>
</table>
