{#
	m_notes                is a instance of module QnotesItem
	m_notes.notes.revision is a instance of module QnotesItemRevision
#}
<div class="list-group">
	<div class="list-group-item list-group-item-action bg-dark text-white">
		<div class="row">
			<div class="col">Date</div>
			<div class="col">Time</div>
			<div class="col">Author</div>
			<div class="col">Revision</div>
			<div class="col">Note</div>
		</div>
	</div>
	{% for note in notes %}
		<div class="list-group-item qnote-row">
			<div class="row mb-1">
				<div class="col">{{ note.notedate|convertdate }}</div>
				<div class="col">{{ note.notetime }}</div>
				<div class="col">{{ note.revision }}</div>
				<div class="col">{{ note.user }}</div>
				<div class="col">
					<button type="button" class="btn btn-light" data-toggle="collapse" data-target="#notes-{{ note.notedate }}-{{ note.notetime }}" aria-controls="collapseExample">
						<i class="fa fa-eye" aria-hidden="true"></i> Show
					</button>
					<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#note-modal" data-linenbr="{{ note.line }}" data-form="{{ note.form }}">
						<i class="fa fa-pencil" aria-hidden="true"></i> Edit
					</button>
				</div>
			</div>
			<textarea class="collapse form-control-plaintext" id="notes-{{ note.notedate }}-{{ note.notetime }}" cols="{{ qnotes_so.get_column_count() }}" readonly>{{ qnotes_so.get_notes_form_array(ordn, note.line, note.form)|join('\r') }}</textarea>
		</div>
	{% endfor %}
</div>
