<div class="modal fade" id="notes-revision-modal" tabindex="-1" role="dialog" aria-labelledby="notes-revision-modal-label" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="notes-revision-modal-label"><span class="action-desc">Adding</span> {{ item.itemid }} Revision Notes</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="{{ page.fullURL.getURL() }}" method="post">
					<input type="hidden" name="itemID" value="{{ item.itemid }}">
					<input type="hidden" name="type" value="revision">
					<input type="hidden" name="user" value="{{ user.loginid }}">

					<div class="row">
						<div class="col-6">
							<div class="form-group">
								<label for="revision_note_date">Date</label>
								{% include 'util/date-picker.twig' with {'name': 'notedate', 'id': 'revision_note_date', 'value': "now"|date("m/d/Y")} %}
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="revision_notetime">Time</label>
								<input type="text" class="form-control" name="notetime" id="revision_notetime" value="{{ "now"|date("H:i") }}">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="revision">Revision</label>
						<input type="text" name="revision" class="form-control">
					</div>

					<div class="form-group">
						{% include 'msa/noce/ajax/button.twig' with {'input': '#revision-notes'} %}
					</div>
					<div class="form-group">
						<label for="revision-notes">Notes</label>
						{% include 'util/qnotes-textarea.twig' with {'id': 'revision-notes', 'cols': qnotes.notes.revision.get_column_count() - 1, 'rows': 15 } %}
					</div>

					<div class="d-flex justify-content-between align-items-center">
						<button type="submit" name="action" value="update-notes" class="btn btn-success">
							<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
						</button>
						{# TODO: add confirmation for deletion 'delete_button' #}
						<button type="submit" name="action" value="delete-notes" class="btn btn-danger">
							<i class="fa fa-trash-o" aria-hidden="true"></i> Delete
						</button>
						<button type="button" class="btn btn-warning pull-right" data-dismiss="modal">
							Close
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
