{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	item                   ItemMasterItem
	item_pricing           ItemMasterItem
	pricingm               module ItmPricing
	pricingm.configs       WireData
#}
<div class="form-group row">
	<div class="col-sm-4">
		<label>Purchase UoM</label>
	</div>
	<div class="col-sm-8">
		<p class="form-control-plaintext">{{ item_pricing.item.unitofmpurchase.code }} - {{ item_pricing.item.unitofmpurchase.description }}</p>
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-4">
		<label>Standard Cost</label>
	</div>
	<div class="col-sm-8">
		<div class="input-group input-group-sm">
			<input type="text" class="form-control-plaintext text-right pr-2" value="{{ item_pricing.item.standardcost|number_format(4) }}" readonly>
			<div class="input-group-append">
				<div class="input-group-text">{{ item_pricing.item.unitofmpurchase.code }}</div>
			</div>
		</div>
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-4">
	</div>
	<div class="col-sm-8">
		<div class="input-group input-group-sm">
			<input type="text" class="form-control-plaintext text-right pr-2" value="{{ item_pricing.item.get_standardcost_uom_sale()|number_format(4) }}" readonly>
			<div class="input-group-append">
				<div class="input-group-text">{{ item_pricing.item.unitofmsale.code }}</div>
			</div>
		</div>
	</div>
</div>

<div class="form-group row">
	<div class="col-sm-4">
		<label>Last Cost</label>
	</div>
	<div class="col-sm-8">
		<div class="input-group input-group-sm">
			<input type="text" class="form-control-plaintext text-right pr-2" value="{{ item_pricing.item.lastcost|number_format(4) }}" readonly>
			<div class="input-group-append">
				<div class="input-group-text">{{ item_pricing.item.unitofmpurchase.code }}</div>
			</div>
		</div>
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-4">
	</div>
	<div class="col-sm-8">
		<div class="input-group input-group-sm">
			<input type="text" class="form-control-plaintext text-right pr-2" value="{{ item_pricing.item.get_standardcost_uom_sale()|number_format(4) }}" readonly>
			<div class="input-group-append">
				<div class="input-group-text">{{ item_pricing.item.unitofmsale.code }}</div>
			</div>
		</div>
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-4">
		<label>Last Cost Date</label>
	</div>
	<div class="col-sm-8">
		<input type="text" class="form-control-plaintext text-right pr-2" value="{{ item_pricing.item.date_lastcost|convertdate }}" readonly>
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-4">
		<label>Primary Vendor</label>
	</div>
	<div class="col-sm-2">
		<input type="text" class="form-control-plaintext" value="{{ item_pricing.item.primaryvxm.vendorid }}" readonly>
	</div>
	<div class="col-sm-6">
		<p class="form-control-plaintext">{{ item_pricing.item.primaryvxm.vendor.name }}</p>
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-4">
		<label>Vendor Item</label>
	</div>
	<div class="col-sm-8">
		<input type="text" class="form-control-plaintext" value="{{ item_pricing.item.primaryvxm.vendoritemid }}" readonly>
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-4">
		<label>Unit Cost</label>
	</div>
	<div class="col-sm-8">
		<div class="input-group input-group-sm">
			<input type="text" class="form-control-plaintext text-right pr-2" value="{{ item_pricing.primaryvxm.unitcost ?  item_pricing.primaryvxm.unitcost|number_format(4) : '0.00'|number_format(4) }}" readonly>
			<div class="input-group-append">
				<div class="input-group-text">{{ item_pricing.item.unitofmpurchase.code }}</div>
			</div>
		</div>
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-4">
		<label></label>
	</div>
	<div class="col-sm-8">
		<div class="input-group input-group-sm">
			<input type="text" class="form-control-plaintext text-right pr-2" value="{{ item_pricing.primaryvxm.get_listprice_uom_sale() ?  item_pricing.primaryvxm.get_listprice_uom_sale()|number_format(4) : '0.00'|number_format(4) }}" readonly>
			<div class="input-group-append">
				<div class="input-group-text">{{ item_pricing.item.unitofmsale.code  }}</div>
			</div>
		</div>
	</div>
</div>
