{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	item                   ItemMasterItem
	item_pricing           ItemMasterItem
	pricingm               module ItmPricing
	pricingm.configs       WireData
#}
<table class="table table-striped table-sm">
	<thead>
		<tr>
			<th class="col-3">Unit</th>
			<th class="col-3 text-right">Unit Cost</th>
			<th class="col-3 text-right">Margin %</th>
		</tr>
	</thead>
	<tbody>
		<tr class="unit-row">
			<td>
				<b>Base</b>
			</td>
			<td>
				<input type="text" class="form-control form-control-sm text-right pricebreak-price" name="baseprice" value="{{ item_pricing.baseprice|currency }}">
			</td>
			<td class="text-right">
				<span class="unit-margin text-right">{{ item_pricing.get_pricebreak_margin(0)|number_format(4) }}</span> %
			</td>
		</tr>
		{% for i in 1..item_pricing.count_qtybreaks() %}
			<tr class="pricebreak-row">
				<td>
					<input type="text" class="form-control form-control-sm text-right pricebreak-qty" name="pricebreak_qty{{ i }}" value="{{ item_pricing.get_pricebreak_qty(i) }}">
				</td>
				<td>
					<input type="text" class="form-control form-control-sm text-right pricebreak-price" name="pricebreak_price{{ i }}" value="{{ item_pricing.get_pricebreak_price(i)|currency }}">
				</td>
				<td class="text-right">
					<span class="unit-margin text-right">{{ item_pricing.get_pricebreak_margin(i)|number_format(4) }}</span> %
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
