{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	cxm                    module XrefCxm
	recordlocker           module RecordLockerUser
	items                  ItemXrefCxm[]|ObjectCollection
#}
<table class="table table-sm">
	<thead>
		<tr class="bg-dark text-white p-3">
			<th class="pt-3 pb-3 align-middle">Customer ID</th>
			<th class="pt-3 pb-3 align-middle">Their ItemID</th>
			<th class="pt-3 pb-3 align-middle">Description</th>
			<th class="pt-3 pb-3 align-middle">UoM</th>
			<th class="pt-3 pb-3 align-middle text-center">
				{% if itm.recordlocker.isLocked(item.itemid) == false or itm.recordlocker.userHasLocked(item.itemid) %}
					{% include 'items/itm/xrefs/cxm/list/add-button.twig' %}
				{% endif %}
			</th>
		</tr>
	</thead>
	<tbody>
		{% if items.count() == 0 %}
			<tr>
				<td colspan="5" class="bg-gray text-center">No X-refs Found</td>
			</tr>
		{% endif %}

		{% if items.count() %}
			{% for item in items %}
				<tr data-cxm="{{ item.custid ~ '-' ~ item.custitemID }}">
					<td>{{ item.custID }}</td>
					<td>{{ item.custitemID }}</td>
					<td>{{ item.description }}</td>
					<td>{{ item.uom_customer }}</td>
					<td class="text-center">
						{% if itm.recordlocker.isLocked(item.itemid) == false or itm.recordlocker.userHasLocked(item.itemid) %}
							{% include 'items/itm/xrefs/cxm/list/edit-buttons.twig' %}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		{% endif %}
	</tbody>
</table>
