{% if page.template != 'home' %}
	<div class="mb-3">
		{% if page.parent().template == 'dplus-menu' %}
			<a href="{{ page.parent().url }}" class="btn btn-primary">
				<i class="fa fa-undo" aria-hidden="true"></i> &nbsp;
				Return to {{ page.parent().title }}
			</a>
		{% endif %}
	</div>
{% endif %}
<div class="list-group dplus-menu">
	{% for item in items %}
		<a href="{{ item.url }}" class="list-group-item list-group-item-action">
			<div class="row align-items-center">
				<div class="col-sm-4">
					{% if item.template == 'dplus-menu' or item.template == 'warehouse-menu' %}
						<i class="fa fa-list" aria-hidden="true"></i>
					{% else %}
						<i class="fa fa-microchip" aria-hidden="true"></i>
					{% endif %} &nbsp; &nbsp;
					<strong>{{ item.title|raw }} {{ item.dplus_function ? '(' ~ item.dplus_function ~ ')' }}</strong>
					<br>
				</div>
				<div class="col-sm-8">
					<small>
						{{ item.summary|raw }}
					</small>
				</div>
			</div>
		</a>
	{% endfor %}
</div>
