<table class="table table-striped table-sm">
	<tr>
		<td><b>Item ID: </b></td>
		<td>{{ json['itemid'] }}</td>
		<td>{{ json['desc1'] }}</td>
	</tr>
	<tr>
		<td><b>CustomerID: </b></td>
		<td>{{ customer.id }}</td>
		<td>{{ customer.name }}</td>
	</tr>
	<tr>
		<td><b>Cust Price Code</b></td>
		<td>{{ customer.pricecode }}</td>
		<td>{{ json['cust price desc'] }}</td>
	</tr>
</table>
