{#
	Fields: itemgroup, pricecode, commissiongroup
#}
<div class="form-group row">
	<div class="col-sm-6">
		<label for="itemgroup">Item Group</label>
	</div>
	<div class="col-sm-6">
		<select name="itemgroup" class="form-control" id="itemgroup">
			<option value="">-- Choose --</option>
			{% for itemgroup in m_itm.get_itemgroups() %}
				<option value="{{ itemgroup.code }}" {{ itemgroup.code == item.itemgroup ? 'selected' : ''}}>{{ itemgroup.code }} - {{ itemgroup.description }}</option>
			{% endfor %}
		</select>
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-6">
		<label for="pricecode">Price Group</label>
	</div>
	<div class="col-sm-6">
		<select name="pricecode" class="form-control" id="pricecode" {{ m_itm.configs.inventory.use_pricegroup() ? '' : 'disabled' }}>
			<option value="">-- Choose --</option>
			{% for pricecode in m_itm.get_pricecodes() %}
				<option value="{{ pricecode.code }}" {{ pricecode.code == item.pricecode ? 'selected' : ''}}>{{ pricecode.code }} - {{ pricecode.description }}</option>
			{% endfor %}
		</select>
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-6">
		<label for="commissioncode">Comm Group</label>
	</div>
	<div class="col-sm-6">
		<select name="commissioncode" class="form-control" id="commissioncode" {{ m_itm.configs.inventory.use_commgroup() ? '' : 'disabled' }}>
			<option value="">-- Choose --</option>
			{% for code in m_itm.get_commissoncodes() %}
				<option value="{{ code.code }}" {{ code.code == item.commissiongroup ? 'selected' : ''}}>{{ code.code }} - {{ code.description }}</option>
			{% endfor %}
		</select>
	</div>
</div>
