{#
	****************************************************
		Fields: liters, weight, grams, cubes
	****************************************************

	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	item                   ItemMasterItem
	itm                    module Itm
	recordlocker           module RecordLockerUser
#}
{% if itm.configIn().useLiters() %}
	<div class="form-group row">
		<div class="col-sm-6">
			<label for="liters">Liters</label>
		</div>
		<div class="col-sm-6">
			<input type="number" name="liters" class="form-control form-control-sm text-right" value="{{ item.liters }}" id="liters">
		</div>
	</div>
{% endif %}
<div class="form-group row">
	<div class="col-sm-6">
		<label for="weight">Weight</label>
	</div>
	<div class="col-sm-6">
		<div class="input-group input-group-sm">
			<input type="number" name="weight" class="form-control text-right" value="{{ item.weight|number_format(itm.fieldAttribute('weight', 'precision')) }}" id="weight">
			<span class="input-group-append">
				<span class="input-group-text">{{ item.unitofmsale.id }}</span>
			</span>
		</div>
	</div>
</div>
{% if itm.configIn().useGrams() %}
	<div class="form-group row">
		<div class="col-sm-6">
			<label for="grams">Grams</label>
		</div>
		<div class="col-sm-6">
			<div class="input-group input-group-sm">
				<input type="number" name="grams" class="form-control text-right" value="{{ item.weight * itm.fieldAttribute('grams', 'conversion') }}" id="grams">
				<span class="input-group-append">
					<span class="input-group-text">grams</span>
				</span>
			</div>
		</div>
	</div>
{% endif %}
<div class="form-group row">
	<div class="col-sm-6">
		<label for="cubes">Cubes</label>
	</div>
	<div class="col-sm-6">
		<input type="number" name="cubes" class="form-control form-control-sm text-right" value="{{ item.cubes|number_format(itm.fieldAttribute('cubes', 'precision')) }}" id="cubes">
	</div>
</div>
