{#
	var / var property      Description / Instance of
	-------------------------------------------------
	user                    ProcessWire\User
	input                   ProcessWire\WireInput
	page                    ProcessWire\Page
	page.custid             Customer ID
	customer                Customer
	customer.contacts       Propel\Runtime\Util\PropelModelPager of Custinde
	customer.salesOrders    Propel\Runtime\Util\PropelModelPager of SalesOrder
	customer.salesHistory   Propel\Runtime\Util\PropelModelPager of Sales History
	customer.quotes         Propel\Runtime\Util\PropelModelPager of Quote
#}

<div class="card">
	<ul class="list-group list-group-flush">
		<li class="list-group-item py-1 px-1">
			<div class="row">
				<div class="col-sm-7 text-bold">
					Warehouse:
				</div>
				<div class="col-sm-5">
					{{ customer.warehouse }}
				</div>
			</div>
		</li>
		<li class="list-group-item py-1 px-1">
			<div class="row">
				<div class="col-sm-7 text-bold">
					Ship Via:
				</div>
				<div class="col-sm-5">
					{{ customer.shipvia.code }} - {{ customer.shipvia.description }}
				</div>
			</div>
		</li>
		<li class="list-group-item py-1 px-1">
			<div class="row">
				<div class="col-sm-7 text-bold">
					Current Finance Charge:
				</div>
				<div class="col-sm-5">
					{{ customer.taxcode }}
				</div>
			</div>
		</li>
		<li class="list-group-item py-1 px-1">
			<div class="row">
				<div class="col-sm-7 text-bold">
					Type:
				</div>
				<div class="col-sm-5">
					{{ customer.type }}
				</div>
			</div>
		</li>
		<li class="list-group-item py-1 px-1">
			<div class="row">
				<div class="col-sm-7 text-bold">
					Terms Code:
				</div>
				<div class="col-sm-5">
					{{ customer.termscode }}
				</div>
			</div>
		</li>
		<li class="list-group-item py-1 px-1">
			<div class="row">
				<div class="col-sm-7 text-bold">
					Price Code:
				</div>
				<div class="col-sm-5">
					{{ customer.pricecode }}
				</div>
			</div>
		</li>
		<li class="list-group-item {{customer.credithold == 'Y' ? 'bg-warning' : ''}}">
			<div class="row">
				<div class="col-sm-7 text-bold">
					Credit Hold:
				</div>
				<div class="col-sm-5">
					{{ customer.credithold|yesorno|capitalize }}
				</div>
			</div>
		</li>
		<li class="list-group-item py-1 px-1">
			<div class="row">
				<div class="col-sm-7 text-bold">
					Credit Limit:
				</div>
				<div class="col-sm-5">
					{{ customer.creditlimit }}
				</div>
			</div>
		</li>
		<li class="list-group-item py-1 px-1">
			<div class="row">
				<div class="col-sm-7 text-bold">
					Tax Exempt:
				</div>
				<div class="col-sm-5">
					{{ customer.is_taxexempt() ? customer.taxexemptcode : 'N/A' }}
				</div>
			</div>
		</li>
	</ul>
</div>
