{#
	var / var property      Description / Instance of
	-------------------------------------------------
	user                    ProcessWire\User
	input                   ProcessWire\WireInput
	page                    ProcessWire\Page
	page.custid             Customer ID
	customer                Customer
	customer.contacts       Propel\Runtime\Util\PropelModelPager of Custinde
	customer.salesOrders    Propel\Runtime\Util\PropelModelPager of SalesOrder
	customer.salesHistory   Propel\Runtime\Util\PropelModelPager of Sales History
	customer.quotes         Propel\Runtime\Util\PropelModelPager of Quote
#}
{% set COUNTRIES = page.wire('modules').get('CodeTables').getCodeTable('mar', 'cocom') %}

<div class="card border-light">
	<table class="table table-sm">
		<tr>
			<td class="font-weight-bold">Customer:</td>
			<td>
				{{ customer.id }} <br>
				{{ customer.name }}
			</td>
		</tr>
		<tr>
			<td class="font-weight-bold">Address:</td>
			<td>
				{{ customer.address1 }} <br>
				{% if (customer.address2 is not empty) %}
					{{ customer.address2 }} <br>
				{% endif %}

				{% if (customer.address3 is not empty) %}
					{{ customer.address3 }} <br>
				{% endif %}

				{{ customer.city ~ ', ' ~ customer.state ~ ' ' ~ customer.zip }} <br>
				{{ COUNTRIES.description(customer.country) }}
			</td>
		</tr>
		<tr>
			<td class="font-weight-bold">Number of Shiptos:</td>
			<td>{{ customer.count_shiptos() }}</td>
		</tr>
	</table>
</div>
