{#
	var / var property      Description / Instance of
	-------------------------------------------------
	user                    ProcessWire\User
	input                   ProcessWire\WireInput
	page                    ProcessWire\Page
	page.custid             Customer ID
	customer                Customer
	customer.contacts       Propel\Runtime\Util\PropelModelPager of Custinde
	customer.salesOrders    Propel\Runtime\Util\PropelModelPager of SalesOrder
	customer.salesHistory   Propel\Runtime\Util\PropelModelPager of Sales History
	customer.quotes         Propel\Runtime\Util\PropelModelPager of Quote
#}
{% set DPLUS = page.wire('modules').get('Dplus') %}
{% set ARCONTACTS = DPLUS.mar.fetch('ar-contact') %}
{% set PHONEBOOK_CUSTOMER = DPLUS.phoneBooks.fetch('customer') %}
{% set contact = PHONEBOOK_CUSTOMER.findOne(customer.custid) %}

{% set PHONEBOOK_CUSTOMERCONTACTS = DPLUS.phoneBooks.fetch('customer-contact') %}
{% set contactCustomer = PHONEBOOK_CUSTOMERCONTACTS.findOne(customer.custid) %}



<div class="card border-light">
	<table class="table table-sm">
		<tr>
			<td class="font-weight-bold">Phone:</td>
			<td>
				{{ contact.isInternational() ? contact.international :  contact.phone|phone_us }}
			</td>
		</tr>
		<tr>
			<td class="font-weight-bold">Cell:</td>
			<td>
				{{ contact.isInternational() ? contact.cellphone_international :  contact.cellphone|phone_us }}
			</td>
		</tr>
		<tr>
			<td class="font-weight-bold">Fax:</td>
			<td>
				{{ contact.isInternational() ? contact.fax_international :  contact.fax|phone_us }}
			</td>
		</tr>
		<tr>
			<td class="font-weight-bold">Email:</td>
			<td>
				{{ contact.email }}
			</td>
		</tr>
		<tr>
			<td class="font-weight-bold">Contact:</td>
			<td>
				{{ ARCONTACTS.hasPrimaryBuyer(customer.custid) ? ARCONTACTS.primaryBuyer(customer.custid).contactid : ARCONTACTS.buyer(customer.custid).contactid }}
			</td>
		</tr>
		<tr>
			<td class="font-weight-bold">Phone:</td>
			<td>
				{{ contactCustomer.isInternational() ? contactCustomer.international :  contactCustomer.phone|phone_us }}
			</td>
		</tr>
		<tr>
			<td class="font-weight-bold">Cell:</td>
			<td>
				{{ contactCustomer.isInternational() ? contactCustomer.cellphone_international :  contactCustomer.cellphone|phone_us }}
			</td>
		</tr>
		<tr>
			<td class="font-weight-bold">Fax:</td>
			<td>
				{{ contactCustomer.isInternational() ? contactCustomer.fax_international :  contactCustomer.fax|phone_us }}
			</td>
		</tr>
		<tr>
			<td class="font-weight-bold">Email:</td>
			<td>
				{{ contactCustomer.email }}
			</td>
		</tr>
	</table>
</div>
