{#
	var / var property      Description / Instance of
	-------------------------------------------------
	user                    ProcessWire\User
	input                   ProcessWire\WireInput
	page                    ProcessWire\Page
	page.custid             Customer ID
	customer                Customer
	customer.contacts       Propel\Runtime\Util\PropelModelPager of Custinde
	customer.salesOrders    Propel\Runtime\Util\PropelModelPager of SalesOrder
	customer.salesHistory   Propel\Runtime\Util\PropelModelPager of Sales History
	customer.quotes         Propel\Runtime\Util\PropelModelPager of Quote
#}
{% set CODETABLES = page.wire('modules').get('CodeTables') %}
{% set COUNTRIES = CODETABLES.getCodeTable('mar', 'cocom') %}
{% set SALESPERSONS = CODETABLES.getCodeTable('mar', 'spm') %}
{% set TYPECODES = CODETABLES.getCodeTable('mar', 'ctm') %}
{% set TERMSCODES = CODETABLES.getCodeTable('mar', 'trm') %}
{% set WAREHOUSES = CODETABLES.getCodeTable('min', 'iwhm') %}
{% set PRICECODES = CODETABLES.getCodeTable('mar', 'cpm') %}
{% set TAXCODES = CODETABLES.getCodeTable('mar', 'tm') %}
{% set USERCODES = CODETABLES.getCodeTable('mar', 'cuc') %}


{% set DPLUS = page.wire('modules').get('Dplus') %}
{% set ARCONTACTS = DPLUS.mar.fetch('ar-contact') %}
{% set PHONEBOOK_CUSTOMER = DPLUS.phoneBooks.fetch('customer') %}
{% set contact = PHONEBOOK_CUSTOMER.findOne(customer.custid) %}

{% set buyerContactID =  ARCONTACTS.hasPrimaryBuyer(customer.custid) ? ARCONTACTS.primaryBuyer(customer.custid).contactid : ARCONTACTS.buyer(customer.custid).contactid %}

{% set PHONEBOOK_CUSTOMERCONTACTS = DPLUS.phoneBooks.fetch('customer-contact') %}
{% set contactCustomer = PHONEBOOK_CUSTOMERCONTACTS.findOne(customer.custid, buyerContactID) %}

{% set CONFIGS = page.wire('modules').get('Dconfigs') %}
{% set configAr = CONFIGS.config('ar') %}

<div class="list-group">
	<div class="list-group-item p-1">
		<div class="row">
			<div class="col-sm-4 text-bold">Customer</div>
			<div class="col-sm-8">
				{{ customer.id }} <br>
				{{ customer.name }}
			</div>
		</div>
	</div>
	<div class="list-group-item p-1">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-3 text-bold">Address</div>
			<div class="col-sm-8">
				{{ customer.address1 }} <br>
				{% if (customer.address2 is not empty) %}
					{{ customer.address2 }} <br>
				{% endif %}

				{% if (customer.address3 is not empty) %}
					{{ customer.address3 }} <br>
				{% endif %}

				{{ customer.city ~ ', ' ~ customer.state ~ ' ' ~ customer.zip }} <br>
				{{ COUNTRIES.description(customer.country) }}
			</div>
		</div>
	</div>
	<div class="list-group-item p-1">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-3 text-bold">Phone</div>
			<div class="col-sm-8">
				{{ contact.isInternational() ? contact.international :  contact.phone|phone_us }}
			</div>
		</div>
	</div>
	<div class="list-group-item p-1">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-3 text-bold">Cell</div>
			<div class="col-sm-8">
				{{ contact.isInternational() ? contact.cellphone_international :  contact.cellphone|phone_us }}
			</div>
		</div>
	</div>
	<div class="list-group-item p-1">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-3 text-bold">Fax</div>
			<div class="col-sm-8">
				{{ contact.isInternational() ? contact.fax_international :  contact.fax|phone_us }}
			</div>
		</div>
	</div>
	<div class="list-group-item p-1">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-3 text-bold">Email</div>
			<div class="col-sm-8">{{ contact.email }}</div>
		</div>
	</div>
	<div class="list-group-item p-1">
		<div class="row">
			<div class="col-sm-4 text-bold">Contact</div>
			<div class="col-sm-8">
				{{ buyerContactID }}
			</div>
		</div>
	</div>

	<div class="list-group-item p-1">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-3 text-bold">Phone</div>
			<div class="col-sm-8">
				{{ contactCustomer.isInternational() ? contactCustomer.international :  contactCustomer.phone|phone_us }}
			</div>
		</div>
	</div>

	<div class="list-group-item p-1">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-3 text-bold">Cell</div>
			<div class="col-sm-8">
				{{ contactCustomer.isInternational() ? contactCustomer.cellphone_international :  contactCustomer.cellphone|phone_us }}
			</div>
		</div>
	</div>

	<div class="list-group-item p-1">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-3 text-bold">Fax</div>
			<div class="col-sm-8">
				{{ contactCustomer.isInternational() ? contactCustomer.fax_international :  contactCustomer.fax|phone_us }}
			</div>
		</div>
	</div>

	<div class="list-group-item p-1">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-3 text-bold">Email</div>
			<div class="col-sm-8">{{ contactCustomer.email }}</div>
		</div>
	</div>

	<div class="list-group-item p-1">
		<div class="row">
			<div class="col-sm-4 text-bold">Number of Ship-Tos</div>
			<div class="col-sm-8">{{ customer.count_shiptos() }}</div>
		</div>
	</div>

	<div class="list-group-item p-1">
		<div class="row">
			<div class="col-sm-4 text-bold">Sales Person 1</div>
			<div class="col-sm-8">{{ SALESPERSONS.name(customer.salesperson1) }}</div>
		</div>
	</div>

	{% if customer.salesperson2 %}
		<div class="list-group-item p-1">
			<div class="row">
				<div class="col-sm-4 text-bold">Sales Person 2</div>
				<div class="col-sm-8">{{ SALESPERSONS.name(customer.salesperson2) }}</div>
			</div>
		</div>
	{% endif %}

	{% if customer.salesperson3 %}
		<div class="list-group-item p-1">
			<div class="row">
				<div class="col-sm-4 text-bold">Sales Person 3</div>
				<div class="col-sm-8">{{ SALESPERSONS.name(customer.salesperson3) }}</div>
			</div>
		</div>
	{% endif %}

	<div class="list-group-item p-1">
		<div class="row">
			<div class="col-sm-4 text-bold">Warehouse</div>
			<div class="col-sm-2">{{ customer.warehouse }}</div>
			<div class="col-sm-6">{{ WAREHOUSES.name(customer.warehouse) }}</div>
		</div>
	</div>

	<div class="list-group-item p-1">
		<div class="row">
			<div class="col-sm-4 text-bold">Ship Via</div>
			<div class="col-sm-2">{{ customer.shipvia.code }}</div>
			<div class="col-sm-6">{{ customer.shipvia.description }}</div>
		</div>
	</div>

	<div class="list-group-item p-1">
		<div class="row">
			<div class="col-sm-4 text-bold">Tax Code</div>
			<div class="col-sm-2">{{ customer.taxcode }}</div>
			<div class="col-sm-6">{{ TAXCODES.description(customer.taxcode) }}</div>
		</div>
	</div>

	<div class="list-group-item p-1">
		<div class="row">
			<div class="col-sm-4 text-bold">Tax Exempt</div>
			<div class="col-sm-8">{{ customer.is_taxexempt() ? customer.taxexemptcode : '' }}</div>
		</div>
	</div>

	<div class="list-group-item p-1">
		<div class="row">
			<div class="col-sm-4 text-bold">Terms</div>
			<div class="col-sm-2">{{ customer.termscode }}</div>
			<div class="col-sm-6">{{ TERMSCODES.description(customer.termscode) }}</div>
		</div>
	</div>

	<div class="list-group-item p-1">
		<div class="row">
			<div class="col-sm-4 text-bold">Type Code</div>
			<div class="col-sm-2">{{ customer.type }}</div>
			<div class="col-sm-6">{{ TYPECODES.description(customer.type) }}</div>
		</div>
	</div>

	<div class="list-group-item p-1">
		<div class="row">
			<div class="col-sm-4 text-bold">Price Code</div>
			<div class="col-sm-2">{{ customer.pricecode }}</div>
			<div class="col-sm-6">{{ PRICECODES.description(customer.pricecode) }}</div>
		</div>
	</div>

	<div class="list-group-item p-1">
		<div class="row">
			<div class="col-sm-4 text-bold">Credit Hold</div>
			<div class="col-sm-8">{{ customer.credithold() }}</div>
		</div>
	</div>

	<div class="list-group-item p-1">
		<div class="row">
			<div class="col-sm-4 text-bold">{{ configAr.custlabel ? configAr.custlabel : 'User Code' }}</div>
			<div class="col-sm-2">{{ customer.usercode }}</div>
			<div class="col-sm-6">{{ USERCODES.description(customer.usercode) }}</div>
		</div>
	</div>

	<div class="list-group-item p-1">
		<div class="row">
			<div class="col-sm-4 text-bold">Date Entered</div>
			<div class="col-sm-8">{{ customer.dateentered|convertdate }}</div>
		</div>
	</div>
</div>
