<div class="d-flex w-100 justify-content-between paginator">
	<div></div>
	<div>
		<ul class="pagination">
			<li class="page-item {{ (page.pagenbr == 1) ? 'disabled' : '' }}">
				<a href="{{ page.paginatefull(page.pagenbr - 1) }}" class="page-link paginator-link" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<li class="page-item {{ (page.pagenbr == i) ? 'active' : '' }}">
				<div class="dropdown">
					<a class="page-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Page {{ page.pagenbr }} of {{ page.get_pagecount(resultscount) }}
					</a>

					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						{% for i in 1..(page.get_pagecount(resultscount)) %}
							{% if i > 0 %}
								<a class="dropdown-item paginator-link {{ (page.pagenbr == i) ? 'active' : '' }}" href="{{ page.paginatefull(i) }}">
									{{ i }}
								</a>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</li>

			<li class="page-item {{ (page.pagenbr == page.get_pagecount(resultscount)) ? 'disabled' : '' }}">
				<a href="{{ page.paginatefull(page.pagenbr + 1)  }}" aria-label="Next" class="page-link paginator-link">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</div>
	<div>

	</div>
</div>
