{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	kim                    module Kim
	kit                    InvKit
#}
{% extends 'mki/kim/kit/_page.twig' %}

{% block header %}
	<div class="row">
		<div class="col-sm-3">
			<strong>Kit ID:</strong> {{ kit.itemid }}
		</div>
		<div class="col-sm-6">
			<div>
				<small>{{ kit.item.description }}</small><br>
				<small>{{ kit.item.description2 }}</small>
			</div>
		</div>
	</div>
{% endblock %}

{% block list %}
	{% include 'mki/kim/kit/components.twig' %}
{% endblock %}

{% block footer %}
	<div class="card-footer">
		<div class="d-flex justify-content-between align-items-center">
			<div></div>
			<div>
				{% if kit.isNew() == false and kim.recordlocker.userHasLocked(kit.itemid) %}
					<a href="{{ page.kitDeleteUrl(kit.itemid) }}" class="btn btn-danger btn-sm delete-kit" data-kitid="{{ kit.itemid }}">
						<i class="fa fa-trash" aria-hidden="true"></i> Delete
					</a>
				{% endif %}
			</div>
			<div>
				<a href="{{ page.kitExitUrl(kit.itemid) }}" class="btn btn-warning btn-sm">
					<i class="fa fa-times" aria-hidden="true"></i> Close
				</a>
			</div>
		</div>
	</div>
{% endblock %}
