<div class="row">
    <div class="col-10">
        <div class="row text-sm">
            <div class="col">
                <h5 class="text-center">Day</h5>
                <div class="list-group">
                    <div class="list-group-item bg-dark text-white">
                        <div class="row align-items-center text-center">
                            <div class="col">
                                From
                            </div>
                            <div class="col">
                                Thru
                            </div>
                        </div>
                    </div>
                    {% for x in 1..m_trm.count_eomterms_split() %}
                        <div class="list-group-item row{{ x }} day {{ x != 1 and code.thru_day(x) == 0 ? 'collapse' : '' }}" data-index="{{ x }}">
                            <div class="row align-items-center">
                                <div class="col">
                                    <input type="text" name="from_day{{ x }}" id="from_day{{ x }}" maxlength="2" class="form-control from_day" value="{{ (x == 1) ? 1 : code.from_day(x) }}" readonly>
                                </div>
                                <div class="col">
                                    <input type="text" name="thru_day{{ x }}" id="thru_day{{ x }}" maxlength="2" class="form-control thru_day" value="{{ code.thru_day(x) }}">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-5">
                <h5 class="text-center">Discount</h5>
                <div class="list-group">
                    <div class="list-group-item bg-dark text-white">
                        <div class="row align-items-center text-center">
                            <div class="col">
                                Percent
                            </div>
                            <div class="col">
                                Day
                            </div>
                            <div class="col">
                                Plus Months
                            </div>
                        </div>
                    </div>
                    {% for x in 1..m_trm.count_eomterms_split() %}
                        <div class="list-group-item row{{ x }} eom_discount {{ x != 1 and code.thru_day(x) == 0 ? 'collapse' : '' }}" data-index"{{ x }}" row="{{ x }}">
                            <div class="row align-items-center">
                                <div class="col">
                                    <input type="text" name="eom_percent{{ x }}" id="eom_percent{{ x }}" maxlength="6" class="form-control eom_percent" value="{{ code.eom_percent(x) ? code.eom_percent(x) : 0 }}">
                                </div>
                                <div class="col">
                                    <input type="text" name="eom_day{{ x }}" id="eom_day{{ x }}" maxlength="2" class="form-control eom_day" value="{{ code.eom_day(x) ? code.eom_day(x) : 0 }}" {{ code.eom_percent(x) == 0 ? 'readonly' : '' }}>
                                </div>
                                <div class="col">
                                    <input type="text" name="eom_disc_months{{ x }}" id="eom_disc_months{{ x }}" maxlength="2" class="form-control eom_disc_months" value="{{ code.eom_disc_months(x) ? code.eom_disc_months(x) : 0 }}" {{ code.eom_percent(x) == 0 ? 'readonly' : '' }}>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col">
                <h5 class="text-center">Due</h5>
                <div class="list-group">
                    <div class="list-group-item bg-dark text-white">
                        <div class="row align-items-center text-center">
                            <div class="col">
                                Day
                            </div>
                            <div class="col">
                                Plus Months
                            </div>
                        </div>
                    </div>
                    {% for x in 1..m_trm.count_eomterms_split() %}
                        <div class="list-group-item row{{ x }} due {{ x != 1 and code.thru_day(x) == 0 ? 'collapse' : '' }}" data-index="{{ x }}">
                            <div class="row align-items-center">
                                <div class="col">
                                    <input type="text" name="eom_dueday{{ x }}" id="eom_dueday{{ x }}" maxlength="2" class="form-control eom_dueday" value="{{ code.eom_dueday(x) ? code.eom_dueday(x) : 0 }}">
                                </div>
                                <div class="col">
                                    <input type="text" name="eom_months{{ x }}" id="eom_months{{ x }}" maxlength="2" class="form-control eom_months" value="{{ code.eom_months(x) ? code.eom_months(x) : 0 }}">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
