<div class="row">
    <div class="col-10">
        <div class="row text-sm">
            <div class="col">
                <h5 class="text-center">Day</h5>
                <div class="list-group">
                    <div class="list-group-item bg-dark text-white">
                        <div class="row align-items-center text-center">
                            <div class="col">
                                From
                            </div>
                            <div class="col">
                                Thru
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <input type="text" name="from_day1" id="from_day1" maxlength="2" class="form-control" value="{{ code.from_day1 }}">
                            </div>
                            <div class="col">
                                <input type="text" name="thru_day1" id="thru_day1" maxlength="2" class="form-control" value="{{ code.thru_day1 }}">
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <input type="text" name="from_day2" id="from_day2" maxlength="2" class="form-control" value="{{ code.from_day2 }}">
                            </div>
                            <div class="col">
                                <input type="text" name="thru_day2" id="thru_day2" maxlength="2" class="form-control" value="{{ code.thru_day2 }}">
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <input type="text" name="from_day3" id="from_day3" maxlength="2" class="form-control" value="{{ code.from_day3 }}">
                            </div>
                            <div class="col">
                                <input type="text" name="thru_day3" id="thru_day3" maxlength="2" class="form-control" value="{{ code.thru_day3 }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-5">
                <h5 class="text-center">Discount</h5>
                <div class="list-group">
                    <div class="list-group-item bg-dark text-white">
                        <div class="row align-items-center text-center">
                            <div class="col">
                                Percent
                            </div>
                            <div class="col">
                                Day
                            </div>
                            <div class="col">
                                Plus Months
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <input type="text" name="eom_percent1" id="eom_percent1" maxlength="6" class="form-control" value="{{ code.eom_percent1 }}">
                            </div>
                            <div class="col">
                                <input type="text" name="eom_day1" id="eom_day1" maxlength="2" class="form-control" value="{{ code.eom_day1 }}">
                            </div>
                            <div class="col">
                                <input type="text" name="eom_disc_months1" id="eom_disc_months1" maxlength="2" class="form-control" value="{{ code.eom_months1 }}">
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <input type="text" name="eom_percent2" id="eom_percent2" maxlength="6" class="form-control" value="{{ code.eom_percent2 }}">
                            </div>
                            <div class="col">
                                <input type="text" name="eom_day2" id="eom_day2" maxlength="2" class="form-control" value="{{ code.eom_day2 }}">
                            </div>
                            <div class="col">
                                <input type="text" name="eom_disc_months2" id="eom_disc_months2" maxlength="2" class="form-control" value="{{ code.eom_months2 }}">
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <input type="text" name="eom_percent3" id="eom_percent3" maxlength="6" class="form-control" value="{{ code.eom_percent3 }}">
                            </div>
                            <div class="col">
                                <input type="text" name="eom_day3" id="eom_day3" maxlength="2" class="form-control" value="{{ code.eom_day3 }}">
                            </div>
                            <div class="col">
                                <input type="text" name="eom_disc_months3" id="eom_disc_months3" maxlength="2" class="form-control" value="{{ code.eom_months3 }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <h5 class="text-center">Due</h5>
                <div class="list-group">
                    <div class="list-group-item bg-dark text-white">
                        <div class="row align-items-center text-center">
                            <div class="col">
                                Day
                            </div>
                            <div class="col">
                                Plus Months
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <input type="text" name="eom_dueday1" id="eom_dueday1" maxlength="2" class="form-control" value="{{ code.eom_dueday1 }}">
                            </div>
                            <div class="col">
                                <input type="text" name="eom_months1" id="eom_months1" maxlength="2" class="form-control" value="{{ code.eom_months1 }}">
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <input type="text" name="eom_dueday2" id="eom_dueday2" maxlength="2" class="form-control" value="{{ code.eom_dueday2 }}">
                            </div>
                            <div class="col">
                                <input type="text" name="eom_months2" id="eom_months2" maxlength="2" class="form-control" value="{{ code.eom_months2 }}">
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <input type="text" name="eom_dueday3" id="eom_dueday3" maxlength="2" class="form-control" value="{{ code.eom_dueday3 }}">
                            </div>
                            <div class="col">
                                <input type="text" name="eom_months3" id="eom_months3" maxlength="2" class="form-control" value="{{ code.eom_months3 }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
