{# trm is an instance of CustomerTermsCode #}
<form action="{{ page.url }}" method="POST" id="code-edit-form">
	<input type="hidden" name="action" value="update-trm">

	<div class="row">
		<div class="col-6">
			<div class="form-group">
				<label for="code">Terms Code</label>
				<input type="text" name="code" class="form-control" value="{{ code.code }}" id="code" maxlength="{{ code.get_max_length_code() }}" {{ code.code ? 'readonly' : 'autofocus' }}>
			</div>
			<div class="form-group">
				<label for="method">Method</label>
				{% include 'util/select.twig' with {'name': 'method', 'id': 'method', 'selectedvalue': code.method, 'options': {'S': 'Standard Terms', 'E': 'End of Month Terms'}} %}
			</div>
			<div class="form-group">
				<label for="type">Type</label>
				{% include 'util/select.twig' with {'name': 'type', 'id': 'type', 'selectedvalue': code.type, 'options': {'STD': 'Standard', 'CC': 'Credit Card', 'CA': 'Cash', 'COD': 'COD', 'CDC': 'COD Cash'}} %}
			</div>
			<div class="form-group">
				<label for="hold">Hold</label>
				{% include 'util/select.twig' with {'name': 'hold', 'id': 'hold', 'selectedvalue': code.hold, 'options': {'Y': 'Yes', 'N': 'No'}} %}
			</div>
			<div class="form-group">
				<label for="exp_date">Expire Date</label>
				{% set name = 'exp_date' %}
				{% set value = input.get.text('exp_date') %}
				{% include 'util/date-picker.twig' %}
			</div>
		</div>
		<div class="col-6">
			<div class="form-group">
				<label for="description">Description</label>
				<input type="text" name="description" class="form-control" maxlength="20" value="{{ code.description }}" id="description" autofocus>
			</div>
			<div class="form-group">
				<label for="credit_card">CC Prefix</label>
				<!-- TODO: need to verify from ar_cust_cred -->
				{% include 'util/select.twig' with {'name': 'credit_card', 'id': 'credit_card', 'selectedvalue': code.type, 'options': {'3': 'American Express', '4': 'Visa', '5': 'Master Card', '6': 'Discover'}} %}
			</div>
			<div class="form-group">
				<label for="freight">Freight Allowed?</label>
				<!-- TODO: need correct code.freight -->
				{% include 'util/select.twig' with {'name': 'freight', 'id': 'freight', 'selectedvalue': code.hold, 'options': {'Y': 'Yes', 'N': 'No'}} %}
			</div>
			<div class="form-group">
				<label for="country">Country</label>
				<select name="country" class="form-control" id="country" >
					<option value="{{ code.country }}"></option>
					{% for country in countries %}
						<option value="{{ country.iso }}" {{ code.country == country.iso ? 'selected' : '' }}>{{ country.iso }} - {{ country.name }}</option>
					{% endfor %}
				</select>
			</div>
			{% if (dpluscustomer.company_name == 'Alumacraft') %}
				<div class="form-group">
					<label for="type">N/A</label>
					<input type="text" name="type" class="form-control" value="{{ code.type }}" id="type">
				</div>
			{% endif %}
		</div>
	</div>

	<div id="standard-terms-form" class="my-4">
	    {% include 'code-tables/mar/trm/standard-terms-form.twig' %}
	</div>

	<div id="eom-terms-form" class="my-4">
	    {% include 'code-tables/mar/trm/eom-terms-form.twig' %}
	</div>

	<div class="d-flex justify-content-between align-items-center">
		{#
			Only show Edit Actions if the code is
			1. Locked for editing by the User
			2. Is a new code
			NOTE: Only show delete if code already exists.
		#}
		{% if recordlocker.function_locked_by_user(page.codetable, code.code) or code.isNew() %}
			<button type="submit" class="btn btn-success form_button">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
			</button>
			{% if code.isNew() == false %}
				<a href="{{ page.get_codetable_code_deleteURL(page.codetable, code.code) }}" class="btn btn-danger form_button delete_button">
					<i class="fa fa-trash-o" aria-hidden="true"></i> Delete
				</a>
			{% endif %}
		{% endif %}
		<a href="{{ page.get_codetable_listURL(page.codetable, code.code) }}" class="btn btn-warning pull-right">Close</a>
	</div>
</form>
