<div class="row text-sm">
    <div class="col-2">
        <h5>&nbsp;</h5>
        <div class="list-group">
            <div class="list-group-item">
                <div class="row align-items-center text-center">
                    <div class="col-3">
                        Split
                    </div>
                    <div class="col-9">
                        Ord %
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-3">
                        1
                    </div>
                    <div class="col-9">
                        <input type="text" name="order_percent1" id="order_percent1" maxlength="6" class="form-control" value="{{ code.order_percent1 }}">
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-3">
                        2
                    </div>
                    <div class="col-9">
                        <input type="text" name="order_percent2" id="order_percent2" maxlength="6" class="form-control" value="{{ code.order_percent2 }}">
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-3">
                        3
                    </div>
                    <div class="col-9">
                        <input type="text" name="order_percent3" id="order_percent3" maxlength="6" class="form-control" value="{{ code.order_percent3 }}">
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-3">
                        4
                    </div>
                    <div class="col-9">
                        <input type="text" name="order_percent4" id="order_percent4" maxlength="6" class="form-control" value="{{ code.order_percent4 }}">
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-3">
                        5
                    </div>
                    <div class="col-9">
                        <input type="text" name="order_percent5" id="order_percent5" maxlength="6" class="form-control" value="{{ code.order_percent5 }}">
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-3">
                        6
                    </div>
                    <div class="col-9">
                        <input type="text" name="order_percent6" id="order_percent6" maxlength="6" class="form-control" value="{{ code.order_percent6 }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <h5 class="text-center">Discount</h5>
        <div class="list-group">
            <div class="list-group-item bg-dark text-white">
                <div class="row align-items-center text-center">
                    <div class="col">
                        Percent
                    </div>
                    <div class="col">
                        Days
                    </div>
                    <div class="col">
                        Day
                    </div>
                    <div class="col">
                        Date
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">
                        <input type="text" name="percent1" id="percent1" maxlength="5" class="form-control" value="{{ code.percent1 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="days1" id="days1" maxlength="3" class="form-control" value="{{ code.days1 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="day1" id="day1" maxlength="2" class="form-control" value="{{ code.day1 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="date1" id="date1" maxlength="5" class="form-control" value="{{ code.date1 }}">
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">
                        <input type="text" name="percent2" id="percent2" maxlength="5" class="form-control" value="{{ code.percent2 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="days2" id="days2" maxlength="3" class="form-control" value="{{ code.days2 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="day2" id="day2" maxlength="2" class="form-control" value="{{ code.day2 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="date2" id="date2" maxlength="5" class="form-control" value="{{ code.date2 }}">
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">
                        <input type="text" name="percent3" id="percent3" maxlength="5" class="form-control" value="{{ code.percent3 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="days3" id="days3" maxlength="3" class="form-control" value="{{ code.days3 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="day3" id="day3" maxlength="2" class="form-control" value="{{ code.day3 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="date3" id="date3" maxlength="5" class="form-control" value="{{ code.date3 }}">
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">
                        <input type="text" name="percent4" id="percent4" maxlength="5" class="form-control" value="{{ code.percent4 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="days4" id="days4" maxlength="3" class="form-control" value="{{ code.days4 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="day4" id="day4" maxlength="2" class="form-control" value="{{ code.day4 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="date4" id="date4" maxlength="5" class="form-control" value="{{ code.date4 }}">
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">
                        <input type="text" name="percent5" id="percent5" maxlength="5" class="form-control" value="{{ code.percent5 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="days5" id="days5" maxlength="3" class="form-control" value="{{ code.days5 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="day5" id="day5" maxlength="2" class="form-control" value="{{ code.day5 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="date5" id="date5" maxlength="5" class="form-control" value="{{ code.date5 }}">
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">
                        <input type="text" name="percent6" id="percent6" maxlength="5" class="form-control" value="{{ code.percent6 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="days6" id="days6" maxlength="3" class="form-control" value="{{ code.days6 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="day6" id="day6" maxlength="2" class="form-control" value="{{ code.day6 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="date6" id="date6" maxlength="5" class="form-control" value="{{ code.date6 }}">
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="col">
        <h5 class="text-center">Due</h5>
        <div class="list-group">
            <div class="list-group-item bg-dark text-white">
                <div class="row align-items-center text-center">
                    <div class="col">
                        Days
                    </div>
                    <div class="col">
                        Day
                    </div>
                    <div class="col-3">
                        Plus Mnths
                    </div>
                    <div class="col">
                        Date
                    </div>
                    <div class="col">
                        Plus Yr
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">
                        <input type="text" name="due_days1" id="due_days1" maxlength="3" class="form-control" value="{{ code.due_days1 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="due_day1" id="due_day1" maxlength="2" class="form-control" value="{{ code.due_day1 }}">
                    </div>
                    <div class="col-3">
                        <input type="text" name="due_months1" id="due_months1" maxlength="2" class="form-control" value="{{ code.due_months1 }}">                    </div>
                    <div class="col">
                        <input type="text" name="due_date1" id="due_date1" maxlength="5" class="form-control" value="{{ code.due_date1 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="due_year1" id="due_year1" maxlength="1" class="form-control" value="{{ code.due_year1 }}">
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">
                        <input type="text" name="due_days2" id="due_days2" maxlength="3" class="form-control" value="{{ code.due_days2 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="due_day2" id="due_day2" maxlength="2" class="form-control" value="{{ code.due_day2 }}">
                    </div>
                    <div class="col-3">
                        <input type="text" name="due_months2" id="due_months2" maxlength="2" class="form-control" value="{{ code.due_months2 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="due_date2" id="due_date2" maxlength="5" class="form-control" value="{{ code.due_date2 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="due_year2" id="due_year2" maxlength="1" class="form-control" value="{{ code.due_year2 }}">
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">
                        <input type="text" name="due_days3" id="due_days3" maxlength="3" class="form-control" value="{{ code.due_days3 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="due_day3" id="due_day3" maxlength="2" class="form-control" value="{{ code.due_day3 }}">
                    </div>
                    <div class="col-3">
                        <input type="text" name="due_months3" id="due_months3" maxlength="2" class="form-control" value="{{ code.due_months3 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="due_date3" id="due_date3" maxlength="5" class="form-control" value="{{ code.due_date3 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="due_year3" id="due_year3" maxlength="1" class="form-control" value="{{ code.due_year3 }}">
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">
                        <input type="text" name="due_days4" id="due_days4" maxlength="3" class="form-control" value="{{ code.due_days4 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="due_day4" id="due_day4" maxlength="2" class="form-control" value="{{ code.due_day4 }}">
                    </div>
                    <div class="col-3">
                        <input type="text" name="due_months4" id="due_months4" maxlength="2" class="form-control" value="{{ code.due_months4 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="due_date4" id="due_date4" maxlength="5" class="form-control" value="{{ code.due_date4 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="due_year4" id="due_year4" maxlength="1" class="form-control" value="{{ code.due_year4 }}">
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">
                        <input type="text" name="due_days5" id="due_days5" maxlength="3" class="form-control" value="{{ code.due_days5 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="due_day5" id="due_day5" maxlength="2" class="form-control" value="{{ code.due_day5 }}">
                    </div>
                    <div class="col-3">
                        <input type="text" name="due_months5" id="due_months5" maxlength="2" class="form-control" value="{{ code.due_months5 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="due_date5" id="due_date5" maxlength="5" class="form-control" value="{{ code.due_date5 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="due_year5" id="due_year5" maxlength="1" class="form-control" value="{{ code.due_year5 }}">
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">
                        <input type="text" name="due_days6" id="due_days6" maxlength="3" class="form-control" value="{{ code.due_days6 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="due_day6" id="due_day6" maxlength="2" class="form-control" value="{{ code.due_day6 }}">
                    </div>
                    <div class="col-3">
                        <input type="text" name="due_months6" id="due_months6" maxlength="2" class="form-control" value="{{ code.due_months6 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="due_date6" id="due_date6" maxlength="5" class="form-control" value="{{ code.due_date6 }}">
                    </div>
                    <div class="col">
                        <input type="text" name="due_year6" id="due_year6" maxlength="1" class="form-control" value="{{ code.due_year6 }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
