$(function () {
	var codeIDs = {{ m_crcd.get_codes_ids()|json_encode()|raw }};
	var input_codeID = $('#code');

	var form = $('#code-edit-form');

	var input_custID     = form.find('input[name=custID]');
	var credit_cust_name = form.find('input[name=credit_cust_name]');

	var modal_ajax = $('#ajax-modal');

/* =============================================================
	Event Functions
============================================================= */

	$("body").on("change", "input[name=code]", function(e) {
		var input = $(this);
		var codeID = input.val();

		if (validate_codeID(form)) {

		} else {
			swal2.fire({
				title: 'Credit Card Code ' + codeID + ' Exists',
				text: 'Edit that code?',
				icon: 'warning',
				showCancelButton: true,
				confirmButtonText: 'Yes',
				cancelButtonText: 'No',
			}).then((result) => {
				if (result.value) {
					var url = URI('{{ page.url }}');
					url.addQuery('code', codeID);
					window.location.href = url.toString();
				} else if (result.dismiss === Swal.DismissReason.cancel) {
					window.location.href = '{{ page.url }}';
				}
			});
		}
	});

	$("body").on("change", "input[name=custID]", function(e) {
		credit_cust_name.val('');
		var custID = $(this).val();
		custID = custID.toUpperCase();
		$(this).val(custID);
		var apiurl = new URI("{{ url_json_ci }}");
		apiurl.addQuery('action', 'get-customer-name');
		apiurl.addQuery('custID', custID);
		console.log(apiurl.toString());

		$.getJSON(apiurl.toString(), function( name ) {
			if (name.length) {
				credit_cust_name.val(name);
			} else {
				credit_cust_name.val('');
			}
		});
	});

/* =============================================================
	Unsaved Fields Alert
============================================================= */
	origForm = form.serialize();

	$("body").on("click", "a:not(.form_button, #ajax-modal a)", function(e) {
		if (form.serialize() !== origForm) {
			e.preventDefault();
			var a = $(this);
			var href = a.attr('href');

			swal2.fire({
				title: 'Changes have occurred!',
				text: 'Do you want to save?',
				icon: 'warning',
				showCancelButton: true,
				confirmButtonText: '<i class="fa fa-floppy-o" aria-hidden="true"></i> Yes',
				cancelButtonText: 'No',
			}).then((result) => {
				if (result.value) {
					form.find('button[type=submit]').click();
				} else if (result.dismiss === Swal.DismissReason.cancel) {
					// Send HTTP GET Request to remove Record Lock
					$.get('{{ page.url }}', function() {
						window.location.href = href;
					});
				}
			});
		}
	});

/* =============================================================
	Customer Lookup Modal Functions
============================================================= */
	modal_ajax.on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget); // Button that triggered the modal
		var modal = $(this);
		var url = '{{ page.customerlookupURL }}';
		modal.find('.modal-title').text('Search for a Customer');
		modal.resizeModal('xl');
		modal.find('.modal-body').loadin(url, function() {

		});
	});

	$("body").on('click', '.ci-customer', function(e) {
		e.preventDefault();
		var custID = $(this).data('custid');
		var cust_name = $(this).data('cust_name');
		input_custID.val(custID);
		credit_cust_name.val(cust_name);
		modal_ajax.modal('hide');
	});

	$("body").on('submit', '#lookup form', function(e) {
		e.preventDefault();
		var form = $(this);
		var query = form.serialize();
		var action = form.attr('action');
		var search = form.find('input[name=q]').val();
		var url = action + '?' + query;
		form.closest('.modal').find('.modal-title').text('Searching for ' + search);
		form.closest('.modal').find('.modal-body').loadin(url, function() {

		});
	});

	$("body").on('click', '.page-link', function(e) {
		e.preventDefault();
		var href = $(this).attr('href');
		modal_ajax.find('.modal-body').load(href);
	});

/* =============================================================
	Validation Functions
============================================================= */
	var validator = form.validate({
		errorClass: "is-invalid",
		validClass: "is-valid",
		errorPlacement: function(error, element) {
			error.insertAfter(element).addClass('invalid-feedback');
		},
		rules: {
			code: {
				required: true,
				maxlength: {{ creditcode.get_max_length_code() }}
			},
			custID: {
				required: true,
				remote: {
					url: '{{ url_validate }}',
					type: "get",
					data: {
						action: 'validate-custid'
					}
				}
			},
		},
		messages: {
			code: "Please review your code (Max Length: {{ creditcode.get_max_length_code() }})",
		},
		submitHandler: function(form) {
			var jform = $(form);
			var codeID = input_codeID.val();

			if (validate_codeID(form)) {
				form.submit();
			} else {
				var url = URI('{{ page.url }}');
				url.addQuery('code', codeID);
				var bootstrap = new JsContento();
				var content = bootstrap.open('div', 'class=swal2-content|id=swal2-content');
				content += '<a class="btn btn-secondary mb-2" href="'+url.toString()+'">View Customer Credit Card</a>';
				content += '<br>';
				content += "Do you want to overwrite?";
				content += bootstrap.close('div');

				swal2.fire({
					title: 'Customer Credit Card ' +input_codeID.val() + ' Exists' ,
					text: 'Do you want to overwrite?',
					icon: 'warning',
					showCancelButton: true,
					confirmButtonText: '<i class="fa fa-floppy-o" aria-hidden="true"></i> Yes',
					cancelButtonText: 'No',
					html: content,
				}).then((result) => {
					if (result.value) {
						form.submit();
					}
				});
			}
		}
	});

	$("body").on("focusin", "#code-edit-form input:not(#code),#code-edit-form select", function(e) {
		if (input_codeID.val() == '') {
			validator.element( "#code" );
			input_codeID.focus();
		}
	});

	/**
	 * Return if Customer Credit Card ID can be used to save, based upon if
	 * it exists, and if is the one being edited.
	 * @param  {[type]} form [description]
	 * @return {[type]}      [description]
	 */
	function validate_codeID(form) {
		var jform = $(form);

		if (codeIDs.contains(input_codeID.val())) {
			console.log('Customer Credit Card Exists');

			if (input_codeID.val() != jform.attr('data-code')) {
				return false;
			}
		}
		return true;
	}
});
