{% extends 'code-tables/list.twig' %}

{% block header_div %}
	<div class="list-group-item py-0">
		<div class="row align-items-center">
			<div class="col-sm-6"></div>
			<div class="col-sm-4 text-center bg-dark text-white">
				Service Charge Information
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>
	<div class="list-group-item bg-dark text-white">
		<div class="row align-items-center">
			<div class="col-sm-1">
				Digit
			</div>
			<div class="col-sm-3">
				Name
			</div>
			<div class="col-sm-1">
				GL Account
			</div>
			<div class="col-sm-1">
				Cust ID
			</div>
			<div class="col-sm-1">
				GL Account
			</div>
			<div class="col-sm-1 text-right">
				Rate
			</div>
			<div class="col-sm-1 text-right">
				Trans
			</div>
			<div class="col-sm-1 text-right">
				Surcharge
			</div>
			<div class="col-sm-2 text-center">
				{% if page.is_print() == false %}
					<button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#edit-code-modal" data-code="" data-description="">
						<i class="fa fa-plus" aria-hidden="true"></i> Add Code
					</button>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% for code in codes %}
	{% block code_row %}
		<div class="row align-items-center">
			<div class="col-sm-1">
				{{ code.code }}
			</div>
			<div class="col-sm-3">
				{{ code.description }}
			</div>
			<div class="col-sm-1">
				{{ code.gl_account }}
			</div>
			<div class="col-sm-1">
				{{ code.custid }}
			</div>
			<div class="col-sm-1">
				{{ code.gl_account_charge }}
			</div>
			<div class="col-sm-1 text-right">
				{{ code.servicerate|number_format(manager.fieldAttribute('servicerate', 'precision')) }}
			</div>
			<div class="col-sm-1 text-right">
				{{ code.transactioncost|number_format(manager.fieldAttribute('transactioncost', 'precision')) }}
			</div>
			<div class="col-sm-1 text-right">
				{{ code.cc_surcharge_percent|number_format(manager.fieldAttribute('cc_surcharge_percent', 'precision')) }}
			</div>
			<div class="col-sm-2 text-center">
				{% if page.is_print() == false %}
					<button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#edit-code-modal" data-code="{{ code.code }}" data-description="{{ code.description }}" data-json="{{ manager.codeJson(code)|json_encode }}">
						<i class="fa fa-pencil" aria-hidden="true"></i> Edit
					</button>
					&nbsp;
					<a href="{{ page.codeDeleteUrl(code.code) }}" class="btn btn-danger btn-sm delete_button">
						<i class="fa fa-trash" aria-hidden="true"></i> Delete
					</a>
				{% endif %}
			</div>
		</div>
	{% endblock %}
{% endfor %}