{% if json['data'] %}
	{% for id, warehouse in json['data'] %}
		<div class="mb-3">
			<h3>
				<a data-toggle="collapse" href="#{{ id|attrJS }}" class="link" role="button" aria-expanded="false" aria-controls="{{ id|attrJS }}">{{ warehouse['Whse Name'] }}</a>
			</h3>
			<div class="collapse show" id="{{ id|attrJS }}">
				<table class="table table-striped table-sm">
					<thead>
						<th>Docs</th>
						{% for column in json['columns'] %}
							<th class="{{ module_json.get_justifyclass(column['headingjustify']) }}">
								{{ column['heading'] }}
							</th>
						{% endfor %}
					</thead>
					<tbody>
						{% for order in warehouse['orders'] %}
							<tr>
								<td>
									{% if document_management.count_itemactivitydocuments(order['tran type'], order['tran reference']) %}
										<a href="{{ page.documentsview_activity(itemID, order['tran type'], order['tran reference']) }}" class="text-success" title="View Documents for Order # {{ order['Sales Order Number'] }}">
											<i class="fa fa-file-text" aria-hidden="true"></i> <span class="sr-only">View Documents for {{ order['tran type'] ~ ' ' ~  order['tran reference']}}</span>
										</a>
									{% endif %}
								</td>

								{% for column, properties in json['columns'] %}
									<td class="{{ module_json.get_justifyclass(properties['datajustify']) }}">
										{{ order[column] }}
									</td>
								{% endfor %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% endfor %}
{% else %}
	<div class="mb-3">
		{% include 'util/alert.twig' with {'type': 'warning','iconclass': 'fa fa-warning fa-2x', 'title': 'Error!', 'message': 'No Activity Data found starting from ' ~ date} %}
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h3>Enter a new date</h3>
			{% include 'items/ii/activity/date-form.twig' %}
		</div>
	</div>
{% endif %}
