{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	input                  ProcessWire\WireInput
#}
{% extends 'util/bread-crumbs.twig' %}

{% set values      = input.get %}
{% set segments    = input.urlSegments() %}
{% set lastsegment = segments[segments|length] %}
{% set menu = input.urlSegment(-2) ? input.urlSegment(-2) : page.name %}

{% block current_page %}
	{% if menu and menu != page.name %}
		<li class="breadcrumb-item">
			<a href="{{ page.url }}">
				<i class="fa fa-list" aria-hidden="true"></i> {{ page.dplus_function ? page.dplus_function|upper : page.title }}
			</a>
		</li>
	{% endif %}

	<li class="breadcrumb-item">
		<a href="{{ page.menuUrl() }}">
			<i class="fa fa-list" aria-hidden="true"></i> {{ menu|upper }}
		</a>
	</li>

	{% if values.offsetExists('id') %}
		<li class="breadcrumb-item">
			<a href="{{ page.spmUrl() }}">
				<i class="fa fa-microchip" aria-hidden="true"></i> {{ input.urlSegmentLast()|upper }}
			</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">
			{{ values.text('id') }}
		</li>
	{% else %}
		<li class="breadcrumb-item active" aria-current="page">
			<i class="fa fa-microchip" aria-hidden="true"></i> {{ input.urlSegmentLast()|upper }}
		</li>
	{% endif %}
{% endblock %}
