{% extends 'code-tables/list.twig' %}

{% block header_div %}
	<div class="list-group-item bg-dark text-white">
		<div class="row align-items-center">
			<div class="col-sm-1">
				ID
			</div>
			<div class="col-sm-3">
				Name
			</div>
			<div class="col-sm-1">
				Group
			</div>
			<div class="col-sm-1">
				Cycle
			</div>
			<div class="col-sm-2 text-right">
				Last Sale
			</div>
			<div class="col-sm-2">
				Login ID
			</div>
			<div class="col-sm-2 text-center">
				{% if input.get.offsetExists('print') == false %}
					<button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#edit-code-modal" data-code="" data-description="">
						<i class="fa fa-plus" aria-hidden="true"></i> Add Code
					</button>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% for code in codes %}
	{% block code_row %}
		<div class="row align-items-center">
			<div class="col-sm-1">
				{{ code.id }}
			</div>
			<div class="col-sm-3">
				{{ code.name }}
			</div>
			<div class="col-sm-1">
				{{ code.groupid }}
			</div>
			<div class="col-sm-1">
				{{ code.cycle }}
			</div>
			<div class="col-sm-2 text-right">
				{{ code.lastsaledate ? code.lastsaledate|convertdate : '' }}
			</div>
			<div class="col-sm-2">
				{{ code.userid }}
			</div>
			<div class="col-sm-2 text-center">
				{% if input.get.offsetExists('print') == false %}
					{% if manager.recordlocker.isLocked(code.code) == false or manager.recordlocker.isLockedByUser(code.code) %}
						<button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#edit-code-modal" data-code="{{ code.code }}" data-description="{{ code.description }}" data-json="{{ manager.codeJson(code)|json_encode }}">
							<i class="fa fa-pencil" aria-hidden="true"></i> Edit
						</button>
						&nbsp;
						<a href="{{ page.codeDeleteUrl(code.code) }}" class="btn btn-danger btn-sm delete_button">
							<i class="fa fa-trash" aria-hidden="true"></i> Delete
						</a>
					{% else %}
						<span class="badge badge-secondary">
							<i class="fa fa-lock" aria-hidden="true"></i> Code Locked By {{ manager.recordlocker.getLockingUser(code.code) }}
						</span>
					{% endif %}
				{% endif %}
			</div>
		</div>
	{% endblock %}
{% endfor %}