<div class="row pt-3 px-3">
	<div class="col-sm-4">
		{{ detail.itemid }}</br>
		<small>{{ detail.description }}</small>
	</div>
	<div class="col-sm-1 text-right">
		{{ detail.qty|number_format() }}
	</div>
	<div class="col-sm-2 text-right">
		$ {{ detail.price|currency }}
	</div>
	<div class="col-sm-2 text-right">
		$ {{ detail.price_total|currency }}
	</div>
	<div class="col-sm-3 text-right">
	</div>
</div>
