<div class="row pt-3 px-3">
	<div class="col-sm-4">
		{{ detail.itemid }}</br>
		<small>{{ detail.description }}</small>
	</div>
	<div class="col-sm-1 text-right">
		<input type="text" class="form-control-plaintext text-right" size="4" name="qty" value="{{ detail.qty|number_format() }}" disabled></input>
	</div>
	<div class="col-sm-2 text-right">
		<input type="text" class="form-control-plaintext text-right" size="8" name="price" value="{{ detail.price|currency }}" disabled></input>
	</div>
	<div class="col-sm-2 text-right">
		$ {{ detail.price_total|currency }}
	</div>
	<div class="col-sm-3 text-right">
	</div>
</div>
