{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	docm                   Dplus\DocManagement\Finders\Lt\Img
	lotserial              Invsearch
#}

<table class="table table-sm table-striped">
	<tr>
		<td>Item ID</td>
		<td>{{ lotserial.itemid }}</td>
	</tr>
	<tr>
		<td>Description</td>
		<td>{{ lotserial.desc1 }}</td>
	</tr>
	<tr>
		<td>Lot / Serial #</td>
		<td>{{ lotserial.lotserial }}</td>
	</tr>
	<tr>
		<td>Lot Ref</td>
		<td>{{ lotserial.lotreference }}</td>
	</tr>
	<tr>
		<td>Qty</td>
		<td>{{ lotserial.qty }}</td>
	</tr>
</table>
