<form action="{{ page.fullURL.getUrl() }}" method="POST" class="allow-enterkey-submit">
	<input type="hidden" name="action" value="add-barcode">
	<input type="hidden" name="palletnbr" value="{{ whsesession.palletnbr }}">
	<input type="hidden" name="linenbr" value="{{ pickitem.linenbr }}">
	<input type="hidden" name="page" value="{{ page.fullURL.getUrl() }}">

	{% block item_inputs %}
		<div class="row">
			<div class="{{ config_picking.use_singleunitqty ? 'col-sm-9' : 'col-sm-3' }}">
				<div class="input-group form-group">
					<input class="form-control" name="binID" placeholder="Bin" type="text">
					<span class="input-group-append">
						<button type="button" class="btn btn-light" data-toggle="modal" data-target="#bins-modal" data-input="binID">
							<i class="fa fa-search" aria-hidden="true"></i> <span class="sr-only">Look up</span>
						</button>
					</span>
				</div>
			</div>
			{% if config_picking.use_singleunitqty %}
				<input type="hidden" name="barcode" value="{{ pickitem.itemid }}">
				<div class="col-sm-3">
					<button type="submit" class="btn btn-success">
						<i class="fa fa-plus" aria-hidden="true"></i> Add
					</button>
				</div>
			{% else %}
				<div class="col-sm-9">
					<div class="input-group form-group">
						<input class="form-control" name="barcode" placeholder="Barcode" type="text">
						<span class="input-group-append">
							<button type="submit" class="btn btn-success">
								<i class="fa fa-plus" aria-hidden="true"></i> Add
							</button>
						</span>
					</div>
				</div>
			{% endif %}
		</div>
	{% endblock item_inputs %}
</form>
<div class="row">
	<div class="col-sm-6 form-group">
		<a href="{{ page.get_finishitemURL() }}" class="btn btn-success finish-item">
			<i class="fa fa-check-square" aria-hidden="true"></i> Submit Item
		</a>
	</div>
	<div class="col-sm-6 form-group">
		<a href="{{ page.get_exitorderURL() }}" class="btn btn-danger exit-order">Exit Order</a>
	</div>
</div>
