<form action="{{ page.fullURL.getUrl() }}" method="POST" class="allow-enterkey-submit" id="barcode-form">
	<input type="hidden" name="action" value="add-barcode">
	<input type="hidden" name="palletnbr" value="{{ whsesession.palletnbr }}">
	<input type="hidden" name="linenbr" value="{{ pickitem.linenbr }}">
	<input type="hidden" name="sublinenbr" value="{{ pickitem.sublinenbr }}">
	<input type="hidden" name="page" value="{{ page.fullURL.getUrl() }}">

	{% block item_inputs %}
		{% if config_picking.use_singleunitqty %}
			<input type="hidden" name="barcode" value="{{ pickitem.itemid }}">
		{% endif %}

		<div class="row">
			{% if config_picking.use_singleunitqty %}
				<div class="col-sm-6">
					<label for="">Bin ID</label>
					<div class="input-group form-group">
						<input class="form-control" name="binID" placeholder="Bin" type="text" value="{{ pickingsession.guess_pickingbin(pickitem) }}">
						<span class="input-group-append">
							<button type="button" class="btn btn-light" data-toggle="modal" data-target="#item-availability-modal" data-input="binID" title="View Available Bins">
								<i class="fa fa-search" aria-hidden="true"></i> <span class="sr-only">Look up</span>
							</button>
						</span>
					</div>
				</div>
				<div class="col-sm-3">
					<label for="">Qty</label>
					<input type="number" class="form-control qty-input text-right" name="qty" placeholder="Qty" value="1">
				</div>
				<div class="col-sm-3 text-right">
					<label for="">Add Item</label> <br>
					<button type="submit" class="btn btn-success">
						<i class="fa fa-plus" aria-hidden="true"></i> Add
					</button>
				</div>
			{% else %}
				<div class="col-sm-3">
					<label for="">Bin ID</label>
					<div class="input-group form-group">
						<input class="form-control" name="binID" placeholder="Bin" type="text" value="{{ pickingsession.guess_pickingbin(pickitem) }}">
						<span class="input-group-append">
							<button type="button" class="btn btn-light" data-toggle="modal" data-target="#item-availability-modal" data-input="binID" title="View Available Bins">
								<i class="fa fa-search" aria-hidden="true"></i> <span class="sr-only">Look up</span>
							</button>
						</span>
					</div>
				</div>
				<div class="col-sm-3">
					<label for="">Qty</label>
					<input type="number" class="form-control text-right qty-input" name="qty" placeholder="Qty" value="1">
				</div>
				<div class="col-sm-6">
					<label for="">Item</label>
					<div class="input-group form-group">
						<input class="form-control" name="barcode" placeholder="Barcode" type="text">
						<span class="input-group-append">
							<button type="submit" class="btn btn-success">
								<i class="fa fa-plus" aria-hidden="true"></i> Add
							</button>
						</span>
					</div>
				</div>
			{% endif %}
		</div>
	{% endblock item_inputs %}
</form>
<div class="row">
	<div class="col-sm-3 form-group">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bins-modal" data-input="binID" title="View Warehouse Bins">
			View Bins
		</button>
	</div>
	<div class="col-sm-3 form-group">
		<a href="{{ page.get_printlinelabelURL(pickitem.ordn, pickitem.linenbr, pickitem.sublinenbr) }}" class="btn btn-dark">
			<i class="fa fa-print" aria-hidden="true"></i> Print Labels
		</a>
	</div>
	<div class="col-sm-3 form-group">
		<a href="{{ page.get_exitorderURL() }}" class="btn btn-danger exit-order">Exit Order</a>
	</div>
	<div class="col-sm-3 form-group">
		<a href="{{ page.get_finishitemURL() }}" class="btn btn-success finish-item">
			<i class="fa fa-check-square" aria-hidden="true"></i> Submit Item
		</a>
	</div>
</div>
