<div class="form-group">
	<a href="{{ page.url ~ '?ordn=' ~ pickitem.ordn }}" class="btn btn-primary">
		<i class="fa fa-arrow-left" aria-hidden="true"></i> Go back
	</a>
</div>
<table class="table table-condensed table-striped">
	<tr>
		<td class="control-label">Order #</td> <td class="text-right">{{ pickitem.ordn }}</td>
	</tr>
	<tr>
		<td class="control-label">Item ID</td>
		<td class="text-right">
			<b>{{ pickitem.itemid }}</b>
			<button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#item-info-modal">
				Item Info
			</button>
		</td>
	</tr>
	<tr>
		<td class="control-label">Qty Needed</td>
		<td class="text-right">{{ pickitem.qtyordered }}</td>
	</tr>
	{% if (pickitem.has_pickedqty()) %}
		<tr>
			<td class="control-label">Previously Picked</td>
			<td class="text-right">{{ pickitem.qtypulled }}</td>
		</tr>
	{% endif %}
	<tr>
		<td class="control-label">Qty Picked</td>
		<td class="text-right">{{ pickingsession.get_userpickedtotal() }}</td>
	</tr>
	{% set bgcolor = '' %}

	{% if pickingsession.has_pickedtoomuch() or (pickingsession.get_qtyremaining() > 0)  %}
		{% set bgcolor = 'bg-warning text-white' %}
	{% elseif pickingsession.get_qtyremaining() == 0 %}
		{% set bgcolor = 'bg-success text-white' %}
	{% else %}
		{% set bgcolor = 'bg-success text-white' %}
	{% endif %}

	<tr class="{{ bgcolor }}">
		<td class="control-label">Qty Remaining</td>
		<td class="text-right">{{ pickingsession.get_qtyremaining() }}</td>
	</tr>
</table>
