<table class="table table-condensed table-striped">
	<tr>
		<th>Serial Number</th>
		<th>Bin</th>
		<th class="text-center">Remove</th>
	</tr>
	{% for barcode in picked_barcodes %}
		<tr>
			<td>{{ barcode.barcode }}</td>
			<td>{{ barcode.bin }}</td>
			<td class="text-right">
				{% if barcode.bin != 'PACK' %}
					<form action="{{ page.fullURL.getUrl() }}" method="post">
						<input type="hidden" name="action" value="delete-barcode">
						<input type="hidden" name="recordnbr" value="{{ barcode.recordnumber }}">
						<input type="hidden" name="barcode" value="{{ barcode.barcode }}">
						<button type="submit" class="btn btn-danger btn-sm" type="button">
							<i class="fa fa-trash" aria-hidden="true"></i> Remove
						</button>
					</form>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
</table>
