<table class="table table-condensed table-striped">
	<tr>
		<th>Barcode</th>
		<th>Bin</th>
		<th>Number of Units</th>
		<th>Qty Total</th>
		<th class="text-center">Remove</th>
	</tr>
	{% for barcode in picked_barcodes %}
		<tr>
			<td>{{ barcode.barcode }}</td>
			<td>{{ barcode.bin }}</td>
			<td class="text-right">
				{% if barcode.bin == 'PACK' %}
					{{ barcode.qty }}
				{% else %}
					<form action="{{ page.fullURL.getUrl() }}" method="post">
						<input type="hidden" name="action" value="edit-barcode">
						<input type="hidden" name="recordnbr" value="{{ barcode.recordnumber }}">
						<input type="hidden" name="barcode" value="{{ barcode.barcode }}">
						<div class="placard" data-initialize="placard">
							<div class="placard-popup"></div>
							<input type="number" name="qty" class="form-control qty placard-field" value="{{ barcode.qty }}">
							<div class="placard-footer">
								<a class="placard-cancel" href="#">Cancel</a>
								<button class="btn btn-success btn-sm placard-accept" type="button">Save</button>
							</div>
						</div>
					</form>
				{% endif %}
			</td>
			<td class="text-right">
				{{ pickingsession.get_barcodeqtytotal(barcode) }}
			</td>
			<td class="text-right">
				{% if barcode.bin != 'PACK' %}
					<form action="{{ page.fullURL.getUrl() }}" method="post">
						<input type="hidden" name="action" value="delete-barcode">
						<input type="hidden" name="recordnbr" value="{{ barcode.recordnumber }}">
						<input type="hidden" name="barcode" value="{{ barcode.barcode }}">
						<button type="submit" class="btn btn-danger btn-sm" type="button">
							<i class="fa fa-trash" aria-hidden="true"></i> Remove
						</button>
					</form>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
</table>
