<div class="form-group">
	<a href="{{ page.get_exitorderURL() }}" class="btn btn-danger exit-order">Exit Order</a>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="mb-5">
			<h3>Unpicked Items</h3>
			<div class="list-group">

				{% for item in items_unpicked %}
					<a href="{{ page.get_selectpickitemURL(item) }}" class="list-group-item">
						<div class="row">
							<div class="col-sm-6">
								<h4 class="list-group-item-heading">{{ item.itemid }}</h4>
								<p class="list-group-item-text mb-0">{{ item.desc1 }}</p>
							</div>
							<div class="col-sm-3">
								Ordered: {{ item.qtyordered }} <br>
								Pulled: {{ item.qtypulled }} <br>
								Remaining: {{ item.qtyremaining }}
							</div>
							<div class="col-sm-3 text-right">
								{% if pickingsession.is_subline_being_picked(item) %}
									{% if pickingsession.is_currentuser_picking(item) %}
										<span class="badge badge-info">You are picking</span>
									{% else %}
										<span class="badge badge-warning">Is being picked</span>
									{% endif %}
								{% endif %}
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>

		<div>
			<div class="row">
				<div class="col">
					<h3>Picked Items</h3>
				</div>
				<div class="col text-right">
					<a href="{{ page.get_printlinelabelURL(pickingsession.get_ordn(), 'ALL') }}" class="btn btn-dark">
						<i class="fa fa-print" aria-hidden="true"></i> Print Labels for All Picked
					</a>
				</div>
			</div>
			<div class="list-group">
				{% for item in items_picked %}
					<div class="list-group-item">
						<div class="row">
							<div class="col-sm-6">
								<h4 class="list-group-item-heading">{{ item.itemid }}</h4>
								<p class="list-group-item-text mb-0">{{ item.desc1 }}</p>
							</div>
							<div class="col-sm-3">
								Ordered: {{ item.qtyordered }} <br>
								Pulled: {{ item.qtypulled }} <br>
								Remaining: {{ item.qtyremaining }}
							</div>
							<div class="col-sm-3 text-right">
								{% if pickingsession.is_subline_being_picked(item) %}
									<div class="mb-2">
										{% if pickingsession.is_currentuser_picking(item) %}
											<span class="badge badge-info">You are picking</span>
										{% else %}
											<span class="badge badge-warning">Is being picked</span>
										{% endif %}
									</div>
								{% endif %}
								<a href="{{ page.get_printlinelabelURL(item.ordn, item.linenbr, item.sublinenbr) }}" class="btn btn-dark">
									<i class="fa fa-print" aria-hidden="true"></i> Print Labels
								</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
