{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	cxm                    module XrefCxm
	recordlocker           module RecordLockerUser
	items                  ItemXrefCxm[]|ObjectCollection
#}
<table class="table table-sm">
	<thead>
		<tr class="bg-dark text-white p-3">
			<th class="pt-3 pb-3 align-middle">
				<a href="{{ page.get_sortURL('custitemid') }}" class="link">Their Item ID
					{% if page.orderby_column == 'custitemid' %}
						<i class="fa fa-sort-alpha-{{ page.orderby_sort|lower }}" aria-hidden="true"></i>
					{% endif %}
				</a>
			</th>
			<th class="pt-3 pb-3 align-middle">Description</th>
			<th class="pt-3 pb-3 align-middle">
				<a href="{{ page.get_sortURL('itemid') }}" class="link">Our Item ID
					{% if page.orderby_column == 'itemid' %}
						<i class="fa fa-sort-alpha-{{ page.orderby_sort|lower }}" aria-hidden="true"></i>
					{% endif %}
				</a>
			</th>
			<th class="pt-3 pb-3 align-middle">Description</th>
			<th class="pt-3 pb-3 text-center">
				{% include 'items/cxm/list/link-add.twig' %}
			</th>
		</tr>
	</thead>
	<tbody>
		{% if items.count() %}
			{% for item in items %}
				{% set class = cxm.get_recordlocker_key(item) == page.focus ? 'highlight' : '' %}
				{% set class = (response.key == cxm.get_recordlocker_key(item) and response.has_success()) ? 'bg-success text-white' : class %}

				<tr class="{{ class }} small" data-cxm="{{ cxm.get_recordlocker_key(item) }}">
					<td>{{ item.custitemID }}</td>
					<td>{{ item.description }}</td>
					<td>{{ item.itemID }}</td>
					<td>{{ item.item.description }}</td>
					<td class="text-center">
						{% include 'items/cxm/list/edit-buttons.twig' %}
					</td>
				</tr>
			{% endfor %}
		{% endif %}
	</tbody>
</table>
