{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	cxm                    module XrefCxm
	recordlocker           module RecordLockerUser
	items                  ItemXrefCxm[]|ObjectCollection
#}
<table class="table table-sm">
	<thead>
		<tr class="bg-dark text-white p-3">
			<th class="pt-3 pb-3 align-middle">
				<a href="{{ page.get_sortURL('custitemid') }}" class="link">Their Item ID</a>
			</th>
			<th class="pt-3 pb-3 align-middle">Description</th>
			<th class="pt-3 pb-3 align-middle">
				<a href="{{ page.get_sortURL('itemid') }}" class="link">Our Item ID</a>
			</th>
			<th class="pt-3 pb-3 align-middle">Description</th>
			<th class="pt-3 pb-3 text-center">
				{% if page.has('custID') and page.custID %}
					<a href="{{ page.cxm_item_newURL(page.custID) }}" class="btn btn-light">
						<i class="fa fa-plus" aria-hidden="true"></i> Add Item
					</a>
				{% else %}
					<button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#ajax-modal" title="Choose Customer to Add CXM" aria-label="Choose Customer to Add CXM" data-custid="{{ page.has('custID') ? page.custID : '' }}" data-search="customers">
						<i class="fa fa-plus" aria-hidden="true"></i> Add Item
					</button>
				{% endif %}
			</th>
		</tr>
	</thead>
	<tbody>
		{% if items.count() %}
			{% for item in items %}
				{% set class = cxm.get_recordlocker_key(item) == page.focus ? 'highlight' : '' %}
				{% set class = (response.key == cxm.get_recordlocker_key(item) and response.has_success()) ? 'bg-success text-white' : class %}

				<tr class="{{ class }} small" data-cxm="{{ cxm.get_recordlocker_key(item) }}">
					<td>{{ item.custitemID }}</td>
					<td>{{ item.description }}</td>
					<td>{{ item.itemID }}</td>
					<td>{{ item.item.description }}</td>
					<td class="text-center">
						{% if cxm.recordlocker.function_locked(cxm.get_recordlocker_key(item)) == false or cxm.recordlocker.function_locked_by_user(cxm.get_recordlocker_key(item)) %}
							<a href="{{ page.cxm_itemURL(item.custID, item.custitemID) }}" class="btn btn-warning btn-sm">
								<i class="fa fa-pencil" aria-hidden="true"></i> Edit
							</a>
							&nbsp; &nbsp;
							<a href="{{ page.cxm_item_deleteURL(item.itemid, item.custid, item.custitemid) }}" class="btn btn-danger btn-sm delete_button">
								<i class="fa fa-trash" aria-hidden="true"></i> Delete
							</a>
						{% else %}
							<span class="badge badge-secondary">
								<i class="fa fa-lock" aria-hidden="true"></i> Locked By {{ cxm.recordlocker.get_locked_user(cxm.get_recordlocker_key(item)) }}
							</span>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		{% endif %}
	</tbody>
</table>
