{% extends "nav/default.twig" %}

{% block nav_links %}
	<li class="nav-item">
		<a class="nav-link" href="{{ pages.get('template=menu').url }}">{{ pages.get('template=menu').title }}</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{ pages.get('template=dashboard').url }}">{{ pages.get('template=dashboard').title }}</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{ pages.get('pw_template=cart').url }}">
			{{ pages.get('pw_template=cart').title }} <i class="fa fa-shopping-cart" aria-hidden="true"></i>
		</a>
	</li>
	{% if user.has_function('ci') %}
		<li class="nav-item">
			<a class="nav-link" href="{{ pages.get('dplus_function=ci').url }}">
			{{ pages.get('dplus_function=ci').title|raw }}
			</a>
		</li>
	{% endif %}
	{% if user.has_function('ii') %}
		<li class="nav-item">
			<a class="nav-link" href="{{ pages.get('dplus_function=ii').url }}">
			{{ pages.get('dplus_function=ii').title|raw }}
			</a>
		</li>
	{% endif %}
	{% if user.has_function('mqo') %}
		<li class="nav-item">
			<a class="nav-link" href="{{ pages.get('dplus_function=mqo').url }}">{{ pages.get('dplus_function=mqo').title }}</a>
		</li>
	{% endif %}
	{% if user.has_function('mso') %}
		<li class="nav-item">
			<a class="nav-link" href="{{ pages.get('dplus_function=mso').url }}">{{ pages.get('dplus_function=mso').title }}</a>
		</li>
	{% endif %}
	{% if user.has_function('sobook') %}
		<li class="nav-item">
			<a class="nav-link" href="{{ pages.get('dplus_function=sobook').url }}">{{ pages.get('dplus_function=sobook').title }}</a>
		</li>
	{% endif %}
{% endblock %}
