{% set note_lines = qnotesSub.getNotesArray(warehouse.id) %}

<div class="list-group">
	<div class="list-group-item list-group-item-action bg-dark text-white">
		<div class="row">
			<div class="col-sm-10">{{ qnotesSub.typeDescription() }} Note</div>
		</div>
	</div>
	<div class="list-group-item qnote-row">
		<div class="row">
			<div class="col-sm-9">
				<span class="text-monospace">{{ note_lines[0] }}</span>
				{% include 'util/bootstrap/form/textarea.twig' with {
					'textarea': {
						'id': 'notes-' ~ qnotesSub.type(),
						'value': note_lines|join('\r'),
						'inputclass': 'form-control-plaintext',
						'addclasses': ['qnotes', 'readonly', 'collapse'],
						'attributes': {
							'cols': qnotesSub.fieldAttribute('note', 'cols'),
							'rows': note_lines|length,
							'readonly': true,
							'disabled': true,
						}
					}
				} %}
			</div>
			<div class="col-sm-3">	
				<button type="button" class="btn btn-light btn-sm" data-toggle="collapse" data-target="#notes-{{ qnotesSub.type() }}" aria-expanded="false" aria-controls="iwhs-notes">
					<i class="fa fa-eye" aria-hidden="true"></i> Show
				</button>
				&nbsp; &nbsp;
				<button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#notes-modal" data-type="{{ qnotesSub.type() }}" data-description="{{ qnotesSub.typeDescription()|capitalize }}">
					<i class="fa fa-pencil"></i> Edit
				</button>
			</div>
		</div>
	</div>
</div>
