{# igm is an instance of InvGroupCode #}
<form action="{{ page.url }}" method="POST" id="code-edit-form">
	<input type="hidden" name="table" value="igm">

	<div class="row">
		<div class="col-6">
			<div class="form-group">
				<label for="code">Code</label>
				<input type="text" name="code" class="form-control" maxlength="{{ itemgroup.get_max_code_length() }}" value="{{ itemgroup.code }}" id="code" {{ itemgroup.code ? 'readonly' : 'autofocus' }}>
			</div>

			<div class="form-group">
				<label for="description">Description</label>
				<input type="text" name="description" class="form-control" maxlength="20" value="{{ itemgroup.description }}" id="description" autofocus>
			</div>

			<div class="form-group">
				<label for="coop">Co-op</label>
				{% include 'util/select.twig' with {'name': 'coop', 'id': 'coop', 'selectedvalue': itemgroup.coop, 'options': {'Y': 'Yes', 'N': 'No'}} %}
			</div>

			{% if config_ar.is_web_group() or (dpluscustomer.company_name == 'Alumacraft') %}
				<div class="form-group">
					<label for="web_group">Web Group ?</label>
					{% include 'util/select.twig' with {'name': 'web_group', 'id': 'web_group', 'selectedvalue': itemgroup.web_group, 'options': {'Y': 'Yes', 'N': 'No'}} %}
				</div>
			{% endif %}

			{% if config_so.is_request_program() %}
				<div class="form-group">
					<label for="sales_program">Sales Program ?</label>
					{% include 'util/select.twig' with {'name': 'sales_program', 'id': 'sales_program', 'selectedvalue': itemgroup.sales_program, 'options': {'Y': 'Yes', 'N': 'No'}} %}
				</div>
			{% endif %}
		</div>
		<div class="col-6">
			<div class="form-group">
				<label for="freight_group">Freight Group</label>
				<input type="text" name="freight_group" class="form-control" maxlength="2" value="{{ itemgroup.freight_group }}" id="freight_group">
			</div>

			<div class="form-group">
				<label for="product_line">Product Line</label>
				<select class="form-control" name="product_line" id="product_line">
					<option value=""></option>
					{% for line_code in product_line_codes %}
						<option value="{{ line_code.code }}" {{ line_code.code == itemgroup.product_line ? 'selected' : ''}}>{{ line_code.code }} - {{ line_code.description }}</option>
					{% endfor %}
				</select>
			</div>
			{% if (dpluscustomer.company_name == 'Lindstrom') %}
				<div class="form-group">
					<label for="ecomm_desc">Ecomm Description</label>
					<input type="text" name="ecomm_desc" class="form-control" value="{{ itemgroup.ecomm_desc }}" id="ecomm_desc">
				</div>
			{% endif %}
		</div>
		<div class="col-6">
			<!-- GL Accounts Questions -->
			<h4>GL Accounts</h4>
			<div class="form-group">
				<label for="sales">Sales</label>
				<select class="form-control" name="sales" id="sales">
					{% for account in gl_accounts %}
						<option value="{{ account.code }}" {{ account.code == itemgroup.sales ? 'selected' : ''}}>{{ account.code }} - {{ account.description }}</option>
					{% endfor %}
				</select>
			</div>

			<div class="form-group">
				<label for="credit">Credits</label>
				<select class="form-control" name="credit" id="credit">
					{% for account in gl_accounts %}
						<option value="{{ account.code }}" {{ account.code == itemgroup.credit ? 'selected' : ''}}>{{ account.code }} - {{ account.description }}</option>
					{% endfor %}
				</select>
			</div>

			<div class="form-group">
				<label for="cogs">Cost of Goods Sold</label>
				<select class="form-control" name="cogs" id="cogs">
					{% for account in gl_accounts %}
						<option value="{{ account.code }}" {{ account.code == itemgroup.cogs ? 'selected' : ''}}>{{ account.code }} - {{ account.description }}</option>
					{% endfor %}
				</select>
			</div>

			<div class="form-group">
				<label for="inventory">Inventory</label>
				<select class="form-control" name="inventory" id="inventory">
					{% for account in gl_accounts %}
						<option value="{{ account.code }}" {{ account.code == itemgroup.inventory ? 'selected' : ''}}>{{ account.code }} - {{ account.description }}</option>
					{% endfor %}
				</select>
			</div>

			<div class="form-group">
				<label for="drop_ship">Drop Ship</label>
				<select class="form-control" name="drop_ship" id="drop_ship">
					{% for account in gl_accounts %}
						<option value="{{ account.code }}" {{ account.code == itemgroup.drop_ship ? 'selected' : ''}}>{{ account.code }} - {{ account.description }}</option>
					{% endfor %}
				</select>
			</div>
			<!-- GL Accounts Questions -->
		</div>
		<div class="col-6">
			<!-- Surcharge Questions -->
			<h4>Surcharge</h4>
			<div class="form-group">
				<label for="surcharge">Can Add Surcharge ?</label>
				{% include 'util/select.twig' with {'name': 'surcharge', 'id': 'surcharge', 'selectedvalue': itemgroup.surcharge, 'options': {'Y': 'Yes', 'N': 'No'}} %}
			</div>

			<div class="form-group">
				<label for="surcharge_dollar_percent">Dollar or Percent ?</label>
				{% include 'util/select.twig' with {'name': 'surcharge_dollar_percent', 'id': 'surcharge_dollar_percent', 'selectedvalue': itemgroup.surcharge_dollar_percent, 'options': {'D': 'Dollar', 'P': 'Percent'}} %}
			</div>

			<div class="form-group">
				<label for="surcharge_dollar_amount">Dollar Amount</label>
				<input type="text" name="surcharge_dollar_amount" class="form-control" value="{{ itemgroup.surcharge_dollar_amount }}" id="surcharge_dollar_amount">
				<!-- must be 0 if percent is chosen -->
			</div>

			<div class="form-group">
				<label for="surcharge_percent">Percent</label>
				<input type="text" name="surcharge_percent" class="form-control" value="{{ itemgroup.surcharge_percent }}" id="surcharge_percent">
				<!-- must be 0 if dollar is chosen -->
			</div>
			<!-- Surcharge Questions -->
		</div>
	</div>

	<button type="submit" class="btn btn-success">
		<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
	</button>
	<a href="{{ page.get_codetable_listURL(page.codetable, itemgroup.code) }}" class="btn btn-warning pull-right">Close</a>
</form>
