$(function() {

	var form = $('#code-edit-form');
	var input_codeID   = form.find('input[name=code]');

	var modal_ajax = $('#ajax-modal');

	var codeIDs = {{ m_igm.get_codes_ids()|json_encode()|raw }};

/* =============================================================
	Event Functions
============================================================= */
	$("body").on("change", "input[name=code]", function(e) {
		var input = $(this);
		var codeID = input.val();

		if (validate_codeID(form)) {

		} else {
			swal2.fire({
				title: 'Item Group ' + codeID + ' Exists',
				text: 'Edit that Item Group?',
				icon: 'warning',
				showCancelButton: true,
				confirmButtonText: 'Yes',
				cancelButtonText: 'No',
			}).then((result) => {
				if (result.value) {
					var url = URI('{{ page.url }}');
					url.addQuery('code', codeID);
					window.location.href = url.toString();
				} else if (result.dismiss === Swal.DismissReason.cancel) {
					window.location.href = '{{ page.url }}';
				}
			});
		}
	});

	$("#code-edit-form #surcharge_dollar_percent").change(function() {
		if ($('#surcharge_dollar_percent').val() == 'D') {
			$('#surcharge_percent').val('0.00');
			$('#surcharge_percent').prop("readonly", true);
			$('#surcharge_dollar_amount').prop("readonly", false);
		} else if ($('#surcharge_dollar_percent').val() == 'P'){
			$('#surcharge_dollar_amount').val('0.00');
			$('#surcharge_dollar_amount').prop("readonly", true);
			$('#surcharge_percent').prop("readonly", false);
		}
	});

/* =============================================================
	Unsaved Fields Alert
============================================================= */
	origForm = form.serialize();

	$("body").on("click", "a:not(#code-edit-form .form_button, #ajax-modal a, .swal2-modal a)", function(e) {
		if (form.serialize() !== origForm) {
			e.preventDefault();
			var a = $(this);
			var href = a.attr('href');

			swal2.fire({
				title: 'Changes have occurred!',
				text: 'Do you want to save?',
				icon: 'warning',
				showCancelButton: true,
				confirmButtonText: '<i class="fa fa-floppy-o" aria-hidden="true"></i> Yes',
				cancelButtonText: 'No',
			}).then((result) => {
				if (result.value) {
					form.find('button[type=submit]').click();
				} else if (result.dismiss === Swal.DismissReason.cancel) {
					// Send HTTP GET Request to remove Record Lock
					$.get('{{ page.url }}', function() {
						window.location.href = href;
					});
				}
			});
		}
	});

/* =============================================================
	Validation Functions
============================================================= */
	var validator = form.validate({
		errorClass: "is-invalid",
		validClass: "is-valid",
		errorPlacement: function(error, element) {
			error.insertAfter(element).addClass('invalid-feedback');
		},
		rules: {
			code: {
				required: true,
				maxlength: {{ itemgroup.get_max_code_length() }},
			},
			coop: 'required',
			web_group: 'required',
			sales_program: 'required',
			sales: 'required',
			credit: 'required',
			cogs: 'required',
			inventory: 'required',
			drop_ship: 'required',
			surcharge: 'required',
		},
		messages: {
			code: "Please review the Item Group Code value, (Max Characters {{ itemgroup.get_max_code_length() }})",
			coop: 'Please select if the code is for co-op',
			web_group: 'Please enter the web group for the code',
			sales_program: 'Please select if the code is for sales program',
			sales: 'Please enter the sales for the code',
			credit: 'Please enter the credit for the code',
			cogs: 'Please enter the cost of goods sold for the code',
			inventory: 'Please enter the inventory for the code',
			drop_ship: 'Please enter the drop ship for the code',
			surcharge: 'Please enter a description for the code',
		},
		submitHandler: function(form) {
			var jform = $(form);
			var codeID = input_codeID.val();

			if (validate_codeID(form)) {
				form.submit();
			} else {
				var url = URI('{{ page.url }}');
				url.addQuery('code', codeID);
				var bootstrap = new JsContento();
				var content = bootstrap.open('div', 'class=swal2-content|id=swal2-content');
				content += '<a class="btn btn-secondary mb-2" href="'+url.toString()+'">View Item Group</a>';
				content += '<br>';
				content += "Do you want to overwrite?";
				content += bootstrap.close('div');

				swal2.fire({
					title: 'Item Group ' +input_codeID.val() + ' Exists' ,
					text: 'Do you want to overwrite?',
					icon: 'warning',
					showCancelButton: true,
					confirmButtonText: '<i class="fa fa-floppy-o" aria-hidden="true"></i> Yes',
					cancelButtonText: 'No',
					html: content,
				}).then((result) => {
					if (result.value) {
						form.submit();
					}
				});
			}
		}
	});

	$("body").on("focusin", "#code-edit-form input:not(#code),#code-edit-form select", function(e) {
		if (input_codeID.val() == '') {
			validator.element( "#code" );
			input_codeID.focus();
		}
	});

	/**
	 * Return if Item Group ID can be used to save, based upon if
	 * it exists, and if is the one being edited.
	 * @param  {[type]} form [description]
	 * @return {[type]}      [description]
	 */
	function validate_codeID(form) {
		var jform = $(form);

		if (codeIDs.contains(input_codeID.val())) {
			console.log('Item Group Exists');

			if (input_codeID.val() != jform.data('code')) {
				return false;
			}
		}
		return true;
	}
})
