{# cmm is an instance of InvGroupCode #}
<form action="{{ page.url }}" method="POST" id="code-edit-form">
	<input type="hidden" name="action" value="update-cmm">
	<input type="hidden" name="table" value="{{ page.codetable }}">

	<div class="form-group">
		<label for="code">Code</label>
		<input type="text" name="code" class="form-control" maxlength="{{ customer.get_max_code_length() }}" value="{{ customer.code }}" id="code" {{ customer.code ? 'readonly' : 'autofocus' }}>
	</div>

	<div class="form-group">
		<label for="description">Description</label>
		<input type="text" name="description" class="form-control" maxlength="20" value="{{ customer.description }}" id="description" autofocus>
	</div>

	<div class="d-flex justify-content-between align-items-center">
		{#
			Only show Edit Actions if the code is
			1. Locked for editing by the User
			2. Is a new code
			NOTE: Only show delete if code already exists.
		#}
		{% if recordlocker.function_locked_by_user(page.codetable, customer.code) or customer.isNew() %}
			<button type="submit" class="btn btn-success">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
			</button>
			{% if customer.isNew() == false %}
				<a href="{{ page.get_codetable_code_deleteURL(page.codetable, customer.code) }}" class="btn btn-danger delete_button">
					<i class="fa fa-trash-o" aria-hidden="true"></i> Delete
				</a>
			{% endif %}
		{% endif %}
		<a href="{{ page.get_codetable_listURL(page.codetable, customer.code) }}" class="btn btn-warning pull-right">Close</a>
	</div>
</form>
