<div class="form-group">
	<label for="contact">Contact</label>
	<input type="text" class="form-control form-control-sm" name="contact" id="contact" value="{{ order.contact }}">
</div>
<div class="form-row">
	<div class="col-sm-8">
		<div class="form-group">
			<label for="phone">Phone</label>
			<input type="text" class="form-control form-control-sm phone-input" name="phone" id="phone" value="{{ order.phone }}">
		</div>
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<label for="extension">Extension</label>
			<input type="text" class="form-control form-control-sm" name="phone_ext" id="extension" value="{{ order.phone_ext }}">
		</div>
	</div>
</div>
<div class="form-group">
	<label for="fax">Fax</label>
	<input type="text" class="form-control form-control-sm phone-input" name="fax" id="fax" value="{{ order.fax }}">
</div>
<div class="form-group">
	<label for="email">Email</label>
	<input type="text" class="form-control form-control-sm" name="email" id="email" value="{{ order.email }}">
</div>
