<form id="edit-sales-order-form" action="{{ page.formurl }}">
	<input type="hidden" name="action" value="edit-order">
	<input type="hidden" name="ordn" value="{{ order.ordernumber }}">
	<div class="form-group">
		<label for="shipname">Name</label>
		<input type="text" class="form-control" name="shipname" value="{{ order.shipname }}">
	</div>
	<div class="form-group">
		<label for="shipaddress">Address</label>
		<input type="text" class="form-control" name="shipaddress" value="{{ order.shipaddress }}">
	</div>
	<div class="form-group">
		<label for="shipaddress2">Address 2</label>
		<input type="text" class="form-control" name="shipaddress2" value="{{ order.shipaddress2 }}">
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="shipcity">City</label>
			<input type="text" class="form-control" name="shipcity" value="{{ order.shipcity }}">
		</div>
		<div class="form-group col-md-4">
			<label for="shipstate">State</label>
			<input type="text" class="form-control" name="shipstate" value="{{ order.shipstate }}">
		</div>
		<div class="form-group col-md-2">
			<label for="shipzip">Zip</label>
			<input type="text" class="form-control" name="shipzip" value="{{ order.shipzip }}">
		</div>
	</div>
	<button type="submit" class="btn btn-info btn-block mt-5">Save Order&ensp;<i class="fa fa-floppy-o" aria-hidden="true"></i></button>
	<button type="submit" class="btn btn-success btn-block mt-2" name="exit" value="unlock-order">Save and Exit&ensp;<i class="fa fa-sign-out" aria-hidden="true"></i></button>
</form>
