{% set config = page.wire('modules').get('ConfigureSo').config() %}

<form action="" method="post" id="edit-item-form">
	<input type="hidden" name="ordn" value="{{ orderitem.ordernumber }}">
	<input type="hidden" name="linenbr" value="{{ orderitem.linenbr }}">

	<table class="table table-sm table-striped form-group">
		<tr>
			<td>
				<label for="editqty">Qty</label>
			</td>
			<td>
				{% include 'util/bootstrap/form/input.twig' with {
						'input': {
							'name': 'qty', 'id': 'editqty',
							'type': 'number',
							'value': orderitem.qty_ordered|number_format(config.decimal_places_qty),
							'size': 'sm',
							'attributes': {},
							'addclasses': [
								'text-right',
								'qty-input'
							]
						}
					}
				%}
			</td>
		</tr>
		<tr>
			<td>
				<label for="editprice">Price</label>
			</td>
			<td>
				{% include 'util/bootstrap/form/input.twig' with {
						'input': {
							'name': 'price', 'id': 'editprice',
							'type': 'number',
							'value': orderitem.price|number_format(config.decimal_places_price),
							'size': 'sm',
							'attributes': {},
							'addclasses': [
								'text-right',
								'qty-input'
							]
						}
					}
				%}
			</td>
		</tr>
		<tr>
			<td>
				<label for="edittotal">Total</label>
			</td>
			<td>
				{% include 'util/bootstrap/form/input.twig' with {
						'input': {
							'name': 'totalprice', 'id': 'edittotal',
							'type': 'number',
							'value': orderitem.total_price|number_format(config.decimal_places_price),
							'size': 'sm',
							'attributes': {
							},
							'addclasses': [
								'text-right',
								'qty-input'
							]
						}
					}
				%}
			</td>
		</tr>
		<tr>
			<td>
				<label for="rshipdate">Requested Ship Date</label>
			</td>
			<td>
				{% include 'util/bootstrap/form/date-picker.twig' with {
						'inputgroup': {
							'size': 'sm',
							'input': {
								'name': 'rshipdate',
								'value': orderitem.rqstdate ? orderitem.rqstdate|convertdate : '',
								'attributes': {
									'placeholder': '',
									'aria-label':  'Requested Ship Date'
								}
							}
						}
					}
				%}
			</td>
		</tr>
		<tr>
			<td>
				<label for="editwhse">Warehouse</label>
			</td>
			<td>
				{% include 'util/bootstrap/form/input.twig' with {
						'input': {
							'name': 'whseid', 'id': 'editwhse',
							'size': 'sm',
							'value': orderitem.whseid,
							'attributes': {
								'placeholder': '',
								'aria-label':  'Warehouse ID'
							},
							'addclasses': [
								'w-50'
							]
						}
					}
				%}
			</td>
		</tr>
		<tr>
			<td>
				<label for="editspecialorder">Special Order</label>
			</td>
			<td>
				<select name="specialorder" id="editspecialorder" class="form-control form-control-sm">
					{% for option, label in constant('SalesOrderDetail::OPTIONS_SPECIALORDER') %}
						<option value="{{ option }}" {{ option == orderitem.specialorder ? 'selected'}}>
							{{ label|title }}
						</option>
					{% endfor %}
				</select>
			</td>
		</tr>
	</table>
	<div class="form-group">
		<button type="submit" name="action" value="update-item" class="btn btn-success btn-block">
			<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
		</button>
	</div>
	<div class="form-group">
		<button type="submit" name="action" value="delete-item" class="btn btn-danger btn-block">
			<i class="fa fa-trash" aria-hidden="true"></i> Delete
		</button>
	</div>
</form>
