{% if data.pricehistory %}
	<table class="table table-sm mb-0">
		<thead>
			<tr>
				<th>Order</th>
				<th>Date</th>
				<th>Qty</th>
				<th>Price</th>
				<th>Amt</th>
			</tr>
		</thead>
		<tbody>
			{% for detail in data.pricehistory %}
				<tr>
					<td>{{ detail.ordernumber }}</td>
					<td>{{ detail.order.date_invoiced|convertdate }}</td>
					<td>{{ detail.qty_ordered }}</td>
					<td>{{ detail.price }}</td>
					<td>{{ detail.total_price }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}

{% endif %}
