{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	po                     EditPoHead
	epo                    PurchaseOrderEdit
	epo.configs.po         ConfigPo
#}
<div class="row form-group">
	<div class="col-sm-4">
		<label>Status</label>
	</div>
	<div class="col-sm-8">
		<p class="form-control-plaintext">
			{{ po_readonly.status()|capitalize }}
		</p>
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-4">
		<label for="reference">Reference</label>
	</div>
	<div class="col-sm-8">
		<input type="text" class="form-control form-control-sm" id="reference" name="reference" value="{{ po.reference }}">
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-4">
		<label for="shipvia">Ship-Via</label>
	</div>
	<div class="col-sm-8">
		<select name="shipvia" id="shipvia" class="custom-select custom-select-sm {{ epo.field_has_error_header('shipvia') ? 'is-invalid' : ''}}">
			{% for shipvia in epo.get_shipvias() %}
				<option value="{{ shipvia.code }}" {{ shipvia.code == po.shipvia ? 'selected' : '' }}>
					{{ shipvia.code }} - {{ shipvia.description }}
				</option>
			{% endfor %}
		</select>
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-4">
		<label for="freightpaidby">Freight Paid By</label>
	</div>
	<div class="col-sm-8">
		<select name="freightpaidby" id="freightpaidby" class="custom-select custom-select-sm {{ epo.field_has_error_header('freightpaidby') ? 'is-invalid' : ''}}">
			{% for value, description in po.get_options_freightpaidby() %}
				<option value="{{ value }}" {{ value == po.freightpaidby ? 'selected' : '' }}>
					{{ description|capitalize }}
				</option>
			{% endfor %}
		</select>
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-4">
		<label for="fob">FOB</label>
	</div>
	<div class="col-sm-8">
		<select name="fob" id="fob" class="custom-select custom-select-sm {{ epo.field_has_error_header('fob') ? 'is-invalid' : ''}}">
			{% for value, description in po.get_options_fob() %}
				<option value="{{ value }}" {{ value == po.fob ? 'selected' : '' }}>
					{{ description|capitalize }}
				</option>
			{% endfor %}
		</select>
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-4">
		<label for="termscode">Terms Code</label>
	</div>
	<div class="col-sm-8">
		<select name="termscode" id="termscode" class="custom-select custom-select-sm {{ epo.field_has_error_header('termscode') ? 'is-invalid' : ''}}">
			{% for termscode in epo.get_termscodes() %}
				<option value="{{ termscode.code }}" {{ termscode.code == po.termscode ? 'selected' : '' }}>
					{{ termscode.code }} - {{ termscode.description }}
				</option>
			{% endfor %}
		</select>
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-4">
		<label for="date_ordered">Order Date</label>
	</div>
	<div class="col-sm-8">
		{% include 'util/date-picker.twig' with {'name': 'date_ordered', 'id': 'date_ordered', 'value': po.date_ordered|convertdate} %}
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-4">
		<label for="date_shipped">Ship Date</label>
	</div>
	<div class="col-sm-8">
		{% include 'util/date-picker.twig' with {'name': 'date_shipped', 'id': 'date_shipped', 'value': po.date_shipped|convertdate, 'disabled': epo.configs.po.edit_date_shipped_detail()} %}
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-4">
		<label for="date_expected">Expected Date</label>
	</div>
	<div class="col-sm-8">
		{% include 'util/date-picker.twig' with {'name': 'date_expected', 'id': 'date_expected', 'value': po.date_expected|convertdate, 'disabled': epo.configs.po.edit_date_expected_detail()} %}
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-4">
		<label for="date_acknowledged">{{ epo.configs.get_label_date_acknowledged()|upper }} Date</label>
	</div>
	<div class="col-sm-8">
		{% include 'util/date-picker.twig' with {'name': 'date_acknowledged', 'id': 'date_acknowledged', 'value': po.date_acknowledged ? po.date_acknowledged|convertdate : '', 'disabled': epo.configs.po.edit_date_acknowledged_detail()} %}
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-4">
		<label for="date_cancel">{{ epo.configs.get_label_date_cancel()|upper }} Date</label>
	</div>
	<div class="col-sm-8">
		{% include 'util/date-picker.twig' with {'name': 'date_cancel', 'id': 'date_cancelled', 'value': po.date_cancel|convertdate, 'disabled': epo.configs.po.edit_date_cancel_detail()} %}
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-4">
		<label for="tax_exempt">Tax Exempt</label>
	</div>
	<div class="col-sm-8">
		{% include 'util/select.twig' with {'name': 'tax_exempt', 'id': 'tax_exempt', selectedvalue: po.tax_exempt, 'options': {'Y': 'Yes', 'N': 'No'}, hideblankoption: true} %}
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-4">
		<label for="futurebuy">Future Buy</label>
	</div>
	<div class="col-sm-8">
		{% include 'util/select.twig' with {'name': 'futurebuy', 'id': 'futurebuy', selectedvalue: po.futurebuy, 'options': {'Y': 'Yes', 'N': 'No'}, hideblankoption: true} %}
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-4">
		<label for="landedcost">Landed Cost</label>
	</div>
	<div class="col-sm-8">
		<input type="text" class="form-control form-control-sm" id="landedcost" name="landedcost" value="{{ po.landedcost|number_format(epo.configs.decimal_places_cost()) }}">
	</div>
</div>

<div class="row form-group">
	<div class="col-sm-4">
		<label for="currency">Currency</label>
	</div>
	<div class="col-sm-8">
		<div class="form-row">
			<div class="col-sm-6">
				{% include 'util/form/input-with-modal-lookup.twig' with {'name': 'exchange_country', 'value': po.exchange_country, 'modaltarget': '#ajax-modal', 'modaldescription': 'Search / Select Country Currency', attributes_button: {'data-search': 'country'}, class_add: epo.field_has_error_header('exchange_country') ? 'is-invalid' : '' } %}
			</div>
			<div class="col-sm-6">
				<div class="form-row">
					<div class="col"><label for="exchange_rate">Rate</label></div>
					<div class="col">
						<input type="text" class="form-control form-control-sm" id="exchange_rate" name="exchange_rate" value="{{ po.exchange_rate|number_format(epo.configs.decimal_places_cost()) }}">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
