{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	po                     EditPoHead
	epo                    PurchaseOrderEdit
#}
<div class="row">
	<div class="col-sm-6 form-group">
		<label>PO Nbr</label>
		<input type="text" class="form-control-plaintext form-control-sm" value="{{ po.ponbr }}" readonly>
	</div>
	<div class="col-sm-6 form-group">
		<label for="releasenbr">Release Number</label>
		<input type="text" class="form-control form-control-sm" name="releasenbr" id="releasenbr" value="{{ po.releasenbr }}">
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<label for="vendorID">Vendor ID</label>
			{% include 'util/form/input-with-modal-lookup.twig' with {'name': 'vendorID', value: po.vendorid, 'modaltarget': '#ajax-modal', 'modaldescription': 'Search / Select Vendor', attributes_button: {'data-search': 'vendor'}, class_add:  epo.field_has_error_header('vendorID') ? 'is-invalid' : ''} %}
			<address class="small mt-1 vendor-address">
				{% set vendor = epo.get_vendor(po.vendorid) %}
				<span class="name">{{ vendor.name }}</span> <br>
				<span class="address">{{ vendor.address }}</span> <br>
				<span class="address2 {{ vendor.address2 ? 'collapse show': 'collapse' }}"> {{ vendor.address2 }} <br> </span>
				<span class="city">{{ vendor.city }}</span>, <span class="state">{{ vendor.state }}</span> <span class="zip"> {{ vendor.zip}}</span>
			</address>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="form-group">
			<label for="shipfromID">Ship-From</label>
			{% include 'util/form/input-with-modal-lookup.twig' with {'name': 'shipfromID', value: po.shipfromid, 'modaltarget': '#ajax-modal', 'modaldescription': 'Search / Select Vendor Ship-From', attributes_button: {'data-search': 'shipfrom'}, class_add: epo.field_has_error_header('shipfromID') ? 'is-invalid' : ''} %}
		</div>
	</div>
</div>
{% include 'purchase-orders/purchase-order/edit/header/shipto.twig' %}
{% include 'purchase-orders/purchase-order/edit/header/contact.twig' %}
