{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	po                     EditPoHead
	po_readonly            PurchaseOrder
	epo                    PurchaseOrderEdit
#}
<h4 class="font-weight-bold text-secondary">Ship-To Name / Address</h4>
{% set fields = ['shipto_name', 'shipto_address', 'shipto_address2', 'shipto_address3'] %}

{% for field in fields %}
	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<label for="{{ field }}">{{ field|replace({'shipto_': ''})|capitalize }}</label>
			</div>
			<div class="col-sm-8">
				<input type="text" class="form-control form-control-sm" name="{{ field }}" id="{{ field }}" value="{{ po|objproperty(field) }}">
			</div>
		</div>
	</div>
{% endfor %}

<div class="row">
	<div class="col-sm-4 form-group">
		<label for="shipto_city">City</label>
		<input type="text" class="form-control form-control-sm" name="shipto_city" id="shipto_city" value="{{ po.shipto_city }}">
	</div>
	<div class="col-sm-4 form-group">
		<label for="shipto_state">State</label>
		<select name="shipto_state" id="shipto_state" class="form-control form-control-sm">
			<option value=""></option>
			{% for state in epo.get_states() %}
				<option value="{{ state.abbreviation }}" {{ state.abbreviation == po.shipto_state ? 'selected' : ''}}>{{ state.name }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="col-sm-4 form-group">
		<label for="shipto_zip">Zip</label>
		<input type="text" class="form-control form-control-sm" name="shipto_zip" value="{{ po.shipto_zip }}">
	</div>
</div>
