<table class="table">
	<tr>
		<td>Customer</td>
		<td>
			{{ customer.id }} <br>
			{{ customer.name }}
		</td>
	</tr>
	<tr>
		<td>Address</td>
		<td>
			{{ customer.address1 }} <br>
			{% if (customer.address2 is not empty) %}
				{{ customer.address2 }} <br>
			{% endif %}

			{% if (customer.address3 is not empty) %}
				{{ customer.address3 }} <br>
			{% endif %}

			{{ customer.city ~ ', ' ~ customer.state ~ ' ' ~ customer.zip }}
		</td>
	</tr>
	<tr>
		<td>Salesperson</td>
		<td>{{ customer.salesperson1 }}</td>
	</tr>
	<tr>
		<td>Number of Shiptos</td>
		<td>{{ customer.count_shiptos() }}</td>
	</tr>
</table>
