<div class="card bg-info">
	<div class="card-header border-info">
		<span class="h3 text-white">Customer Information</span>
	</div>
    <ul class="list-group list-group-flush">
	    <li class="list-group-item">
			<div class="row">
				<div class="col-sm-5">
					<p class="font-weight-bold">Customer:</p>
				</div>
				<div class="col-sm-7">
					<p class="font-weight-bold">{{ customer.id }} <br>
					{{ customer.name }}</p>
				</div>
			</div>
		</li>
	    <li class="list-group-item">
			<div class="row">
				<div class="col-sm-5">
					<p class="font-weight-bold">Address:</p>
				</div>
				<div class="col-sm-7">
					<p>{{ customer.address1 }} <br>
					{% if (customer.address2 is not empty) %}
						{{ customer.address2 }} <br>
					{% endif %}

					{% if (customer.address3 is not empty) %}
						{{ customer.address3 }} <br>
					{% endif %}

					{{ customer.city ~ ', ' ~ customer.state ~ ' ' ~ customer.zip }}</p>
				</div>
			</div>
		</li>
	    <li class="list-group-item">
			<div class="row">
				<div class="col-sm-5">
					<p class="font-weight-bold">Salesperson:</p>
				</div>
				<div class="col-sm-7">
					<p>{{ customer.salesperson1 }}</p>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-sm-5">
					<p class="font-weight-bold">Number of Shiptos:</p>
				</div>
				<div class="col-sm-7">
					<p>{{ customer.count_shiptos() }}</p>
				</div>
			</div>
		</li>
    </ul>
</div>
