<table class="table">
	<tr>
		<td>Shipto</td>
		<td>
			<select name="" class="form-control form-control-sm" id="">
				{% for shipto in customer.get_shiptos() %}
					<option value="{{ shipto.id }}">{{ shipto.name }}</option>
				{% endfor %}
			</select>
		</td>
	</tr>
	<tr>
		<td>Address</td>
		<td>
			{{ shipto.address1 }} <br>
			{% if (shipto.address2 is not empty) %}
				{{ shipto.address2 }} <br>
			{% endif %}

			{% if (shipto.address3 is not empty) %}
				{{ shipto.address3 }} <br>
			{% endif %}

			{{ shipto.city ~ ', ' ~ shipto.state ~ ' ' ~ shipto.zip }}
		</td>
	</tr>
	<tr>
		<td>Salesperson</td>
		<td>{{ shipto.salesperson1 }}</td>
	</tr>
</table>
