{% extends 'util/bread-crumbs.twig' %}

{% set values = page.wire('input').get %}

{% block current_page %}
	{% if values.offsetExists('mnfrID') %}
		<li class="breadcrumb-item">
			<a href="{{ page.url }}">
				<i class="fa fa-arrows" aria-hidden="true"></i> {{ page.has('dplus_function') ? page.dplus_function|upper : page.title }}
			</a>
		</li>
		{% if (values.offsetExists('mnfritemID')) %}
			<li class="breadcrumb-item">
				<a href="{{ page.mnfrUrl(values.text('mnfrID')) }}">Mnfr / Comp: {{ values.text('mnfrID') }}</a>
			</li>
			{% if values.text('mnfritemID') == 'new' %}
				<li class="breadcrumb-item active" aria-current="page">New Item X-ref</li>
			{% else %}
				<li class="breadcrumb-item active" aria-current="page">X-Ref Item: {{ values.text('mnfritemID') }}</li>
			{% endif %}
		{% else %}
			{% if values.offsetExists('mnfrID') and values.text('mnfrID') %}
				<li class="breadcrumb-item active" aria-current="page">
					<i class="fa fa-user" aria-hidden="true"></i> Mnfr / Comp: {{ values.text('mnfrID') }}
				</li>
			{% endif %}
		{% endif %}
	{% elseif values.offsetExists('itemID') %}
		<li class="breadcrumb-item">
			<a href="{{ page.url }}">{{ page.title }}</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">Item: {{ values.text('itemID') }}</li>
	{% endif %}
{% endblock %}
