{% extends 'util/bread-crumbs.twig' %}

{% set values = page.wire('input').get %}

{% block current_page %}
	<li class="breadcrumb-item">
		<a href="{{ page.menuUrl() }}">
			<i class="fa fa-list" aria-hidden="true"></i> APMAIN
		</a>
	</li>

	{% if values.offsetExists('mnfrID') %}
		<li class="breadcrumb-item">
			<a href="{{ page.mnfrListUrl(input.get.text('mnfrID')) }}">
				<i class="fa fa-microchip" aria-hidden="true"></i> MXRFE
			</a>
		</li>
		{% if (values.offsetExists('mnfritemID')) %}
			<li class="breadcrumb-item">
				<a href="{{ page.xrefExitUrl(xref) }}">{{ values.text('mnfrID') }}</a>
			</li>
			{% if values.text('mnfritemID') == 'new' %}
				<li class="breadcrumb-item active" aria-current="page">New</li>
			{% else %}
				<li class="breadcrumb-item active" aria-current="page">{{ values.text('mnfritemID') }}</li>
			{% endif %}
		{% else %}
			{% if values.offsetExists('mnfrID') and values.text('mnfrID') %}
				<li class="breadcrumb-item active" aria-current="page">
					{{ values.text('mnfrID') }}
				</li>
			{% endif %}
		{% endif %}
	{% elseif values.offsetExists('itemID') %}
		<li class="breadcrumb-item">
			<a href="{{ page.url }}">{{ page.title }}</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">{{ values.text('itemID') }}</li>
	{% else %}
		<li class="breadcrumb-item active" aria-current="page">
			<i class="fa fa-microchip" aria-hidden="true"></i> MXRFE
		</li>
	{% endif %}
{% endblock %}
