{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	input                  ProcessWire\WireInput
#}
{% extends 'util/bread-crumbs.twig' %}

{% set input = page.wire('input') %}
{% set segments = input.urlSegments() %}
{% set lastsegment = segments[segments|length] %}

{% block current_page %}
	<li class="breadcrumb-item">
		<a href="{{ page.url }}">
			<i class="fa fa-microchip" aria-hidden="true"></i> ITM
		</a>
	</li>
	<li class="breadcrumb-item">
		<a href="{{ page.itmUrl(input.get.text('itemID')) }}">
			<i class="fa fa-cubes" aria-hidden="true"></i> {{ input.get.text('itemID') }}
		</a>
	</li>

	{% if (segments|length == 1) %}
		{% if lastsegment == 'warehouses' and input.get.text('whseID') %}
			<li class="breadcrumb-item">
				<a href="{{ page.itmUrlFunction(input.get.text('itemID'), lastsegment) }}">
					{{ lastsegment|title }}
				</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				{{ input.get.text('whseID') }}
			</li>
		{% else %}
			<li class="breadcrumb-item active" aria-current="page">
				{% if lastsegment == 'xrefs' %}
					<i class="fa fa-arrows" aria-hidden="true"></i>
				{% endif %}
				{{ lastsegment|title }}
			</li>
		{% endif %}
	{% elseif segments[1] == 'xrefs' %}
		<li class="breadcrumb-item">
			<a href="{{ page.itmUrlFunction(input.get.text('itemID'), 'xrefs') }}">
				<i class="fa fa-arrows" aria-hidden="true"></i> {{ 'X-refs'|title }}
			</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">
			{{ lastsegment|upper }}
		</li>
	{% endif %}
{% endblock %}
