<div class="mb-3">
	<table class="table table-striped table-sm">
		<tr>
			<th>Item ID</th>
			<th>Sales UoM</th>
			<th class="text-right">Stan Cost</th>
			<th class="text-right">Avg Cost</th>
			<th class="text-right">Last Cost</th>
		</tr>
		<tr>
			<td>
				{{ json['itemid'] }} <br>
				<small>{{ json['desc1'] }}</small> <br>
				<small>{{ json['desc2'] }}</small>
			</td>
			<td>{{ json['sale uom'] }}</td>
			<td class="text-right">{{ json['stan cost'] }}</td>
			<td class="text-right">{{ json['avg cost'] }}</td>
			<td class="text-right">{{ json['last cost'] }}</td>
		</tr>
	</table>
</div>
