<div class="row">
	<div class="col-6">
		<h3 class="font-weight-bold text-secondary mt-4">Cart Items</h3>
	</div>
	<div class="col-6">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#last-sales-modal">
			View Customer's Popular Items
		</button>
	</div>
</div>
<div class="bg-dark text-white font-weight-bold pt-3 px-3 pb-1">
	<div class="row">
		<div class="col-sm-3">Item</div>
		<div class="col-sm-1 text-right">Cases</div>
		<div class="col-sm-1 text-right">Weight</div>
		<div class="col-sm-2 text-right">Price</div>
		<div class="col-sm-2 text-right">Amount</div>
		<div class="col-sm-3 "></div>
	</div>
</div>
<div class="pb-3"></div>
{% for detail in cart.get_items() %}
	{% set item = cart.get_im_item(detail.itemid) %}
	<form action="{{ page.formurl }}" class="form-row px-3 allow-enterkey-submit">
		<input type="hidden" name="action" value="quick-update-line">
		<input type="hidden" name="linenbr" value="{{ detail.linenbr }}">
		<div class="col-sm-3">
			{{ detail.itemid }}
			<br>
			<small>{{ detail.desc1 }}</small>
			<br>
			<small>Avg Wgt: {{ item.weight|number_format(cart.decimal_places_qty) }}</small>
		</div>
		<div class="col-sm-1 text-right">
			<input type="text" class="form-control text-right" size="4" name="qty" value="{{ detail.qty|number_format() }}">
		</div>
		<div class="col-sm-1 text-right">
			{{ (item.weight * detail.qty)|number_format(cart.decimal_places_qty) }}
		</div>
		<div class="col-sm-2 text-right">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">$</span>
				</div>
				<input type="text" class="form-control text-right qty-input" name="price" value="{{ detail.price|number_format(cart.decimal_places_price) }}">
			</div>
		</div>
		<div class="col-sm-2 text-right">
			$ {{ detail.totalprice|number_format(cart.decimal_places_price) }}
		</div>
		<div class="col-sm-3 text-right">
			<button type="submit" class="btn btn-success">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
			</button>
			<a href="{{ page.remove_itemURL(detail.linenbr) }}" class="btn btn-danger exclude">
				<i class="fa fa-times" aria-hidden="true"></i> Remove
			</a>
		</div>
	</form>
	<hr>
{% endfor %}
