<div>
	<div class="d-flex justify-content-between flex-wrap">
		{% if input.get.text('q') != '' %}
			<div class="order-2 order-sm-1 flex-grow-1 mt-1">
				<a href="{{ input.paginateUrl(1, {'includeQueryString': false}) }}" class="btn btn-warning">
					<i class="fa fa-times" aria-hidden="true"></i> Clear Search
				</a>
			</div>
		{% endif %}

		<form action="{{ input.paginateUrl(1, {'includeQueryString': false}) }}" method="GET" class="allow-enterkey-submit column-filter flex-grow-1 d-print-none {{ page.is_print() ? 'collapse' : '' }} order-1 order-sm-2">
			<div class="input-group">
				<div class="input-group-btn search-panel">
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
							Search By <span class="searchby">{{ values.offsetExists('col') ? values.text('col')|capitalize : 'All' }}</span> <span class="caret"></span>
						</button>
						<div class="dropdown-menu column-options">
							<a class="dropdown-item" href="#" value="">All</a>
							{% for field in manager.filterableFields() %}
								<a class="dropdown-item" href="#" value="{{ field }}">{{ manager.fieldLabel(field)|capitalize }}</a>
							{% endfor %}
						</div>
					</div>
				</div>

				<input class="form-control form-group inline" type="text" name="q" value="{{ values.text('q') }}">
				<input type="hidden" name="col" value="all">
				
				<span class="input-group-btn">
					<button class="btn btn-light" type="submit">
						<i class="fa fa-search"></i> <span class="sr-only">Search</span>
					</button>
				</span>
			</div>
		</form>
	</div>
</div>