{% include 'quotes/bread-crumbs.twig' %}

<div class="mb-3">
	{{ html.header|raw }}
</div>

<div class="mb-3">
	{{ html.items|raw }}
</div>

<div class="mb-3">
	{{ html.actions|raw }}
</div>

<div class="mb-3">
	{{ html.qnotes|raw }}
</div>

<div class="mb-3">
	{{ html.documents|raw }}
</div>

<div class="mb-3">
	{{ html.useractions|raw }}
</div>
