<div id="notes">
	<div class="row">
		<div class="col">
			<h3 class="font-weight-bold text-secondary">Notes <i class="fa fa-sticky-note-o" aria-hidden="true"></i></h3>
		</div>
		<div class="col">
			<a href="{{ page.view_notesURL(qnbr) }}" class="btn btn-primary">
				<i class="fa fa-sticky-note" aria-hidden="true"></i> View All Notes
			</a>
		</div>
	</div>

	<div class="list-group">
		<div class="list-group-item list-group-item-action bg-dark text-white">
			<div class="row">
				<div class="col">Quote</div>
				<div class="col">Pick Ticket</div>
				<div class="col">Pack Ticket</div>
				<div class="col">Invoice</div>
				<div class="col">Acknowledgment</div>
				<div class="col"></div>
			</div>
		</div>
		{% if qnotes_qt.notes_exist(qnbr, 0) > 0 %}
			{% for note in qnotes_qt.get_notes_summarized(qnbr, 0) %}
			<div class="list-group-item">
				<div class="row mb-1">
					<div class="col">{{ note.quote }}</div>
					<div class="col">{{ note.pickticket }}</div>
					<div class="col">{{ note.packticket }}</div>
					<div class="col">{{ note.invoice }}</div>
					<div class="col">{{ note.acknowledgement }}</div>
					<div class="col">
						<button type="button" class="btn btn-light" data-toggle="collapse" data-target="#notes-{{ note.line }}-{{ note.form }}" aria-controls="collapseExample">
							<i class="fa fa-eye" aria-hidden="true"></i> Show
						</button>
					</div>
				</div>
				<textarea class="collapse form-control-plaintext" id="notes-{{ note.line }}-{{ note.form }}" cols="{{ qnotes_qt.get_column_count() }}" readonly>{{ qnotes_qt.get_notes_form_array(qnbr, note.line, note.form)|join('\r') }}</textarea>
			</div>
			{% endfor %}
		{% else %}
			<div class="list-group-item text-center font-weight-bold">
				No notes found
			</div>
		{% endif %}
	</div>
</div>
