<div id="documents">
	<h3 class="font-weight-bold text-secondary">Documents <i class="fa fa-file-text" aria-hidden="true"></i></h3>
	<table class="table table-striped">
		<tr class="bg-dark text-white">
			<th>Title</th>
			<th>Filename</th>
			<th>Date</th>
			<th>Time</th>
		</tr>
		{% if documents.count() %}
			{% for document in documents %}
				<tr id="doc-{{ document.filename }}">
					<td>{{ document.title }}</td>
					<td>
						<a href="{{ page.documentload(document.folder, document.filename, qnbr) }}" class="link" target="_blank">
							{{ document.filename }}
						</a>
					</td>
					<td>{{ convertdate(document.date, "m/d/Y") }}</td>
					<td>{{ convertdate(document.date ~ document.time[:4], "h:i A") }}</td>
				</tr>
			{% endfor %}
		{% else %}
			<td colspan="4" class="bg-warning text-white text-center">No Documents Found for Quote # {{ qnbr }}</td>
		{% endif %}
	</table>
</div>
