{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	items                  ItemMasterItem[]|ObjectCollectiion
	datamatcher            module RegexData
	q                      Search
	pricing                module ItemPricing
#}
{% set input = page.wire('input') %}
<table id="item-index" class="table table-bordered">
	<thead>
		<tr>
			<th scope="col">
				Item ID
			</th>
			<th scope="col">
				Description
			</th>
			{% if pricing %}
				<th scope="col">
					Available
				</th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% if items.count() %}
			{% for item in items %}
				<tr data-itemid="{{ item.itemid }}">
					<td>
						<a href="{{ page.get_itemURL(item.itemid) }}" class="link ii-item item-link" data-itemid="{{ item.itemid }}" data-description="{{ item.description }}" data-description2="{{ item.description2 }}">
							<strong>{{ item.itemid }}</strong>
						</a>
					</td>
					<td class="{{ datamatcher.string(item.name, q) ? 'highlight' : '' }}">
						<small>
							{{ item.desc }} <br>
							{{ item.desc2 }}
						</small>
					</td>
					{% if pricing %}
						{% set itempricing = pricing.get_pricing(item.itemid) %}
						<td>
							{{ itempricing.qty }}
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td colspan="7" class="bg-secondary text-white text-center">
					No Results found
				</td>
			</tr>
		{% endif %}
	</tbody>
</table>
