{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	sysop                  Dplus\Codes\Msa\Sysop
	code                   MsaSysopCode
#}
<form action="{{ page.url }}" method="POST" id="code-edit-form" data-code="{{ code.system }}-{{ code.code }}">
	<input type="hidden" name="action" value="update-code">

	<div class="row">
		<div class="col-sm-6">
			{% include 'code-tables/msa/sysop/form/key.twig' %}

			<div class="form-group">
				<label for="description">Description</label>
				{% include 'util/bootstrap/form/input.twig' with {
						'input': {
							'name': 'description',
							'value': code.description,
							'attributes': {
								'maxlength': sysop.fieldAttribute('description', 'maxlength'),
							}
						}
					}
				%}
			</div>

			<div class="form-group">
				<label for="notecode">Note Code</label>
				<input type="text" name="notecode" class="form-control" value="{{ code.note_code }}" maxlength="4" id="note_code">
			</div>

			<!-- Web -->
			<div class="form-group">
				<label for="web_validate">Web Validate</label>
				{% include 'util/select.twig' with {'name': 'web_validate', 'id': 'web_validate', 'hideblankoption' : 'true', 'selectedvalue': code.web_validate, 'options': {'Y': 'Yes', 'N': 'No'}} %}
			</div>

			<div class="form-group">
				<label for="doc_store_folder">Web Document Storage Folder</label>
				<input type="text" name="doc_store_folder" class="form-control" value="{{ code.doc_store_folder }}" maxlength="8" id="doc_store_folder">
			</div>

			<div class="form-group">
				<label for="webforce">Web Force Entry</label>
				{% include 'util/bootstrap/form/select-simple.twig' with {
						'select': {
							'name': 'webforce',
							'size': 'sm',
							'value' : code.webforce,
							'haskeys': true,
							'options': {'Y': 'Yes', 'N': 'No'}
						}
					}
				%}
			</div>
			<!-- end web -->
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="filename">File Name</label>
						{% include 'util/bootstrap/form/select-simple.twig' with {
								'select': {
									'name': 'filename',
									'size': 'sm',
									'value' : code.filename,
									'haskeys': true,
									'options': {'Y': 'Yes', 'N': 'No'}
								}
							}
						%}
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="validate">Validate</label>
						{% include 'util/bootstrap/form/select-simple.twig' with {
								'select': {
									'name': 'validate',
									'size': 'sm',
									'value' : code.validate,
									'haskeys': true,
									'options': {'Y': 'Yes', 'N': 'No'}
								}
							}
						%}
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="force">Force Entry</label>
						{% include 'util/bootstrap/form/select-simple.twig' with {
								'select': {
									'name': 'force',
									'size': 'sm',
									'value' : code.force,
									'haskeys': true,
									'options': {'Y': 'Yes', 'N': 'No'}
								}
							}
						%}
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="advsearch">Advanced Search</label>
						{% include 'util/bootstrap/form/select-simple.twig' with {
								'select': {
									'name': 'advsearch',
									'size': 'sm',
									'value' : code.advsearch,
									'haskeys': true,
									'options': {'Y': 'Yes', 'N': 'No'}
								}
							}
						%}
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="list_seq">List Sequence</label>
				<input type="text" name="list_seq" class="form-control" value="{{ code.list_seq }}" maxlength="3" id="list_seq">
			</div>

			<div class="form-group">
				<label for="field_type">Field Type</label>
				{% include 'util/select.twig' with {'name': 'field_type', 'id': 'field_type', 'hideblankoption' : 'true', 'selectedvalue': code.field_type, 'options': {'C': 'Character', 'N': 'Numeric'}} %}
			</div>

			<!-- if field type = 'N' -->
			<div class="row">
				<div class="col-6">
					<div class="form-group">
						<label for="before_dec">Digits Before Decimal</label>
						<input type="text" name="before_dec" class="form-control" value="{{ code.before_dec }}" maxlength="1" id="before_dec">
					</div>
				</div>
				<div class="col-6">
					<div class="form-group">
						<label for="after_dec">Digits After Decimal</label>
						<input type="text" name="after_dec" class="form-control" value="{{ code.after_dec }}" maxlength="1" id="after_dec">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-between align-items-center">
		{#
			Only show Edit Actions if the code is
			1. Locked for editing by the User
			2. Is a new code
			NOTE: Only show delete if code already exists.
		#}
		{% if sysop.recordlocker.isLocked(sysop.getRecordlockerKey(code)) == false or sysop.recordlocker.userHasLocked(sysop.getRecordlockerKey(code)) %}
			<button type="submit" class="btn btn-success">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
			</button>
			{% if code.isNew() == false %}
				<a href="{{ page.codeDeleteUrl(code.system, code.code) }}" class="btn btn-danger form_button delete_button">
					<i class="fa fa-trash-o" aria-hidden="true"></i> Delete
				</a>
			{% endif %}
		{% endif %}
		<a href="{{ page.sysopUrl(sysop.getRecordlockerKey(code)) }}" class="btn btn-warning pull-right">
			<i class="fa fa-times" aria-hidden="true"></i> Close
		</a>
	</div>
</form>
