{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	manager                Dplus\Codes\Msa\Sysop
#}
<table class="table table-sm">
	<thead>
		<tr class="bg-dark text-white">
			<th>System</th>
			<th>Code</th>
			<th>Description</th>
			<th>Validate</th>
			<th>Force</th>
			<th>Note Code</th>
			<th>List Seq</th>
			<th>
				{% if page.is_print() == false %}
					<a href="{{ page.url ~ '?code=new' }}" class="btn btn-light btn-sm">
						<i class="fa fa-plus" aria-hidden="true"></i> Add Code
					</a>
				{% endif %}
			</th>
		</tr>
	</thead>
	<tbody>
		{% for code in codes %}
			{# data-code attribute and class code is for the highlight on close #}
			<tr id="{{ code.system }}-{{ code.code|urlencode }}" data-code="{{ code.system }}-{{ code.code|urlencode }}" class="code {{ (response.key == (code.system ~ '-' ~ code.code) and response.has_success() ) ? 'bg-success text-white' : ''}}">
				<td>{{ code.system }}</td>
				<td>{{ code.code }}</td>
				<td>{{ code.description }}</td>
				<td>{{ code.validate|yesorno|capitalize }}</td>
				<td>{{ code.force|yesorno|capitalize }}</td>
				<td>{{ code.note_code }}</td>
				<td>{{ code.list_seq == 0 ? '' : code.list_seq }}</td>
				<td>
					{% if page.is_print() == false %}
						{% if manager.recordlocker.isLocked(manager.getRecordlockerKey(code)) == false or manager.recordlocker.userHasLocked(manager.getRecordlockerKey(code)) %}
							<a href="{{ page.codeEditUrl(code.system, code.code) }}" class="btn btn-warning btn-sm">
								<i class="fa fa-pencil" aria-hidden="true"></i> Edit
							</a>
							&nbsp;
							<a href="{{ page.codeDeleteUrl(code.system, code.code) }}" class="btn btn-danger btn-sm delete_button">
								<i class="fa fa-trash" aria-hidden="true"></i> Delete
							</a>
						{% endif %}
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
