{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	purchaseorder          PurchaseOrder
	ponbr                  Purchase Order Number
	linenbr                Line Number
	qnotes                 module QnotesPo
	qnotes.pord            module QnotesPoPord
	qnotes.intl            module QnotesPoIntl
	qnotes.vend            module QnotesVendorVend
	qnotes.irev            module QnotesItemRevision
#}

<div class="mb-3">
	<ul class="nav nav-tabs mb-3" id="qnotes-tab" role="tablist">
		<li class="nav-item" role="presentation">
			<a class="nav-link active" id="pord-tab-{{ linenbr }}" data-toggle="tab" href="#pord-line-{{ linenbr }}" role="tab" aria-controls="pord-line-{{ linenbr }}" aria-selected="true">
				{{ linenbr > 0 ? 'Detail' : 'Header' }} Notes
			</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="internal-tab-{{ linenbr }}" data-toggle="tab" href="#internal-line-{{ linenbr }}" role="tab" aria-controls="internal-line-{{ linenbr }}" aria-selected="false">
				Internal
			</a>
		</li>
		{% block extra_qnotes_tabs_links %}
			<li class="nav-item" role="presentation">
				<a class="nav-link" id="vendor-tab" data-toggle="tab" href="#vendor" role="tab" aria-controls="vendor" aria-selected="false">
					Vendor
				</a>
			</li>
		{% endblock %}
	</ul>
	<div class="tab-content" id="qnotes-tab">
		<div class="tab-pane fade show active" id="pord-line-{{ linenbr }}" role="tabpanel" aria-labelledby="pord-tab-{{ linenbr }}">
			{% include 'purchase-orders/purchase-order/qnotes/pord/qnote.twig' with {'title': 'Header Notes', 'linenbr': linenbr, 'qnotes': qnotes, 'show_edit': true} %}
		</div>
		<div class="tab-pane fade" id="internal-line-{{ linenbr }}" role="tabpanel" aria-labelledby="internal-tab-{{ linenbr }}">
			{% include 'purchase-orders/purchase-order/qnotes/intl/list.twig' %}
		</div>
		{% block extra_qnotes_tabs %}
			<div class="tab-pane fade" id="vendor" role="tabpanel" aria-labelledby="vendor-tab">
				{% include 'purchase-orders/purchase-order/qnotes/vend/note.twig' %}
			</div>
		{% endblock %}
	</div>
</div>
