{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	purchaseorder          PurchaseOrder
	ponbr                  Purcahse Order Number
	qnotes                 module QnotesPo

	title                  Title for Notes
	linenbr                Purchase Order Line Number
#}
{% set edit = edit ? edit : false %}
<div class="list-group mb-3">
	<div class="list-group-item bg-dark text-white">
		<div class="row">
			<div class="col-sm-9">{{ title }}</div>
			<div class="col-sm-3">
				<button type="button" class="btn btn-sm btn-light" data-toggle="collapse" data-target="#notes-{{ linenbr }}" aria-controls="collapseExample">
					<i class="fa fa-eye" aria-hidden="true"></i> Show
				</button>
				&nbsp; &nbsp;
				{% if edit == true %}
					<button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#note-modal" data-linenbr="{{ linenbr }}">
						<i class="fa {{ qnotes.notes_exist(ponbr,  linenbr) ? 'fa-pencil' : 'fa-plus' }}" aria-hidden="true"></i>
						{{ qnotes.notes_exist(ponbr,  linenbr) ? 'Edit' : 'Add' }}
					</button>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="list-group-item qnote-row collapse" data-linenbr="{{ linenbr }}" id="notes-{{ linenbr }}">
		<textarea class="form-control-plaintext qnotes" cols="{{ qnotes.get_column_count() }}" readonly>{{ qnotes.get_notes_form_array(ponbr,  linenbr)|join('\r') }}</textarea>
	</div>
</div>
