{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	labelsession           LabelPrintSession
	m_print                module PrintLabelItemReceiving
	ordn                   Sales Order Number
#}
<div class="form-group">
	<a href="{{ page.returnpage }}" class="btn btn-primary">
		<i class="fa fa-arrow-left" aria-hidden="true"></i> Go back
	</a>
</div>
<h3>Printing a label for {{ labelsession.itemid }}</h3>
<div class="row">
	<div class="col-sm-6">
		<form action="{{ page.formurl }}" id="print-label-form" method="post">
			<input type="hidden" name="action" value="print-pick-item-thermal-label">
			<input type="hidden" name="page" value="{{ page.returnpage }}">
			<input type="hidden" name="ordn" value="{{ ordn }}">
			<input type="hidden" name="itemID" value="{{ labelsession.itemid }}">
			<table class="table table-striped">
				<tr>
					<td colspan="2" class="bg-info text-white text-center"><b>Product Label</b></td>
				</tr>
				<tr class="input-row">
					<td class="control-label" for="box-label">Product Label</td>
					<td>
						<div class="label-input">
							<div class="input-group">
								<input type="text" class="form-control input-sm required" name="box-label" id="box-label" value="{{ labelsession.label_box }}">
								<div class="input-group-append">
									<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#labelformats-modal" data-input="box-label">
										<span class="fa fa-search"></span>
									</button>
								</div>
							</div>
							<br>
							<p class="label-desc">
								{{ labelsession.label_box is not empty ? m_print.get_labelformat(labelsession.label_box).description : '' }}
							</p>
						</div>
					</td>
				</tr>
				<tr class="input-row">
					<td class="control-label" for="box-printer">Printer</td>
					<td>
						<div class="printer-input">
							<div class="input-group">
								<input type="text" class="form-control input-sm required" name="box-printer" id="box-printer" value="{{ labelsession.printer_box }}">
								<div class="input-group-append">
									<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#labelprinters-modal" data-input="box-printer">
										<span class="fa fa-search"></span>
									</button>
								</div>
							</div><br>
							<p class="printer-desc">
								{{ labelsession.printer_box is not empty ? m_print.get_printer(labelsession.printer_box).description : '' }}
							</p>
						</div>
					</td>
				</tr>
				<tr class="input-row">
					<td class="control-label" for="box-label-count">Nbr of Labels</td>
					<td>
						<input class="form-control input-sm qty required" type="number" name="box-label-count" id="box-label-count" value="{{ qty }}">
					</td>
				</tr>
			</table>
			<button type="submit" class="btn btn-lg btn-success">
				<i class="fa fa-print" aria-hidden="true"></i> Print Labels
			</button>
		</form>
	</div>
</div>
