{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	manager                Dplus\Codes\Base
#}
{% set response = manager.getResponse() %}

{% set values = input.get %}
{% set segments = input.urlSegments() %}
{% set lastsegment = segments[segments|length] %}

{% block header %}
	<div class="row">
		<div class="col-sm-6 mb-3 d-print-none">
			{% if page.is_print() %}
				<button onclick="window.history.back();" class="btn btn-primary d-print-none">
					<i class="fa fa-undo" aria-hidden="true"></i> Back
				</button>
				&nbsp;
				<button class="btn btn-primary d-print-none" onclick="window.print();return false;">
					<i class="fa fa-print" aria-hidden="true"></i> Print
				</button>
			{% else %}
				<a href="{{ page.menuUrl() }}" class="btn btn-primary">
					<i class="fa fa-undo" aria-hidden="true"></i> Back <span class="d-none d-sm-inline">to {{ page.menuTitle() }}</span>
				</a>
				&nbsp;
				<a href="{{ page.get_printURL() }}" class="btn btn-primary">
					<i class="fa fa-print" aria-hidden="true"></i> View Printable
				</a>
			{% endif %}
		</div>
		<div class="col-sm-6 mb-3">
			{% block search %}
				<div>
					<div class="d-flex justify-content-between flex-wrap">
						{% if input.get.text('q') != '' %}
							<div class="order-2 order-sm-1 flex-grow-1 mt-1">
								<a href="{{ input.paginateUrl(1, {'includeQueryString': false}) }}" class="btn btn-warning">
									<i class="fa fa-times" aria-hidden="true"></i> Clear Search
								</a>
							</div>
						{% endif %}

						<form action="{{ input.paginateUrl(1, {'includeQueryString': false}) }}" method="GET" class="allow-enterkey-submit column-filter flex-grow-1 d-print-none {{ page.is_print() ? 'collapse' : '' }} order-1 order-sm-2">
							<div class="input-group">
								<div class="input-group-btn search-panel">
									<div class="dropdown">
										<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
											Search By <span class="searchby">{{ values.offsetExists('col') ? values.text('col')|capitalize : 'All' }}</span> <span class="caret"></span>
										</button>
										<div class="dropdown-menu column-options">
											<a class="dropdown-item" href="#" value="">All</a>
											{% for field in manager.filterableFields() %}
												<a class="dropdown-item" href="#" value="{{ field }}">{{ manager.fieldLabel(field)|capitalize }}</a>
											{% endfor %}
										</div>
									</div>
								</div>
				
								<input class="form-control form-group inline" type="text" name="q" value="{{ values.text('q') }}">
								<input type="hidden" name="col" value="all">
								
								<span class="input-group-btn">
									<button class="btn btn-light" type="submit">
										<i class="fa fa-search"></i> <span class="sr-only">Search</span>
									</button>
								</span>
							</div>
						</form>
					</div>
				</div>
			{% endblock %}
		</div>
	</div>
	{% if input.get.offsetExists('print') %}
		<div class="w-100 d-flex justify-content-between mb-3 print-header">
			<div>{{ 'now'|date('m/d/Y h:i A') }}</div>
			<div>{{ page.headline }}</div>
			<div>Page {{ input.pageNum }}</div>
		</div>
	{% endif %}
{% endblock %}

<div class="list-group codes-list mb-3">
	{% block header_div %}
		<div class="list-group-item bg-dark text-white">
			{% block list_header_row %}
				<div class="row align-items-center">
					<div class="col-3 col-sm-3">
						Code
					</div>
					<div class="col-5 col-sm-6">
						Description
					</div>
					<div class="col-4 col-sm-3 text-center">
						{% if page.is_print() == false %}
							<button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#edit-code-modal" data-code="" data-description="">
								<i class="fa fa-plus" aria-hidden="true"></i> Add <span class="d-none d-sm-inline">Code</span>
							</button>
						{% endif %}
					</div>
				</div>
			{% endblock %}
		</div>
	{% endblock %}
	{% for code in codes %}
		{% block code_div %}
			{# data-code attribute and class code is for the highlight on close #}
			<div id="code-{{ code.code|urlencode }}" data-code="{{ code.code }}" class="list-group-item code pb-1 pt-1 {{ (response.key is same as(code.code) and response.hasSuccess()) ? 'bg-success text-white' : ''}}">
				{% block code_row %}
					<div class="row align-items-center">
						<div class="col-3 col-sm-3 font-monospace">
							{{ code.code|replace({' ': '&nbsp;'})|raw }}
						</div>
						<div class="col-5 col-sm-6">
							{{ code.description }}
						</div>
						<div class="col-4 col-sm-3 text-center d-print-none">
							{% if input.get.offsetExists('print') == false %}
								<button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#edit-code-modal" data-code="{{ code.code }}" data-description="{{ code.description }}" data-json="{{ manager.codeJson(code)|json_encode }}">
									<i class="fa fa-pencil" aria-hidden="true"></i> Edit
								</button>
								&nbsp;
								<a href="{{ page.codeDeleteUrl(code.code) }}" class="btn btn-danger btn-sm delete_button">
									<i class="fa fa-trash" aria-hidden="true"></i> Delete
								</a>
							{% endif %}
						</div>
					</div>
				{% endblock %}
			</div>
		{% endblock %}
	{% endfor %}
</div>
