{% extends 'code-tables/list.twig' %}

{% block list_header_row %}
	<div class="row align-items-center">
		<div class="col-sm-3 text-center">
			ISO Codes
		</div>
		<div class="col-sm-1">
			Custom
		</div>
		<div class="col-sm-3">
			Description
		</div>
		<div class="col-sm-2 text-right">
			Exchange Rate
		</div>
		<div class="col-sm-1 text-right">
			Date
		</div>
		{% if input.get.offsetExists('print') == false %}
			<div class="col-sm-2 text-center">
				
			</div>
		{% endif %}
	</div>
{% endblock %}

{% for code in codes %}
	{% block code_row %}
		<div class="row align-items-center">
			<div class="col-sm-1 text-monospace">
				{{ code.code|replace({' ': '&nbsp;'})|raw }}
			</div>
			<div class="col-sm-1 text-monospace">
				{{ code.iso2 }}
			</div>
			<div class="col-sm-1 text-monospace">
				{{ code.numeric }}
			</div>
			<div class="col-sm-1 text-monospace">
				{{ code.custom }}
			</div>
			<div class="col-sm-3 text-monospace">
				{{ code.description }}
			</div>
			<div class="col-sm-2 text-monospace text-right">
				{{ code.exchange_rate|number_format(manager.fieldAttribute('exchange_rate', 'precision')) }}
			</div>
			<div class="col-sm-1 text-monospace text-right">
				{{ code.country_date|convertdate(manager.fieldAttribute('country_date', 'displayformat')) }}
			</div>
			{% if input.get.offsetExists('print') == false %}
				<div class="col-sm-2 text-center">
					<button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#edit-code-modal" data-code="{{ code.code }}" data-description="{{ code.description }}" data-json="{{ manager.codeJson(code)|json_encode }}">
						<i class="fa fa-pencil" aria-hidden="true"></i> Edit
					</button>
				</div>
			{% endif %}
		</div>
	{% endblock %}
{% endfor %}