<table class="table table-striped table-sm">
	<thead>
		{% for x in 1..blueprint['header']['rowcount'] %}
			<tr>
				{% set columncount = 0 %}
				{% for i in 1..blueprint['cols'] + 1 %}
					{% set colspan = 0 %}
					{% if blueprint['header']['rows'][x]['columns'][i] %}
						{% set column = blueprint['header']['rows'][x]['columns'][i] %}
						{% set colspan = column['col-length'] %}
						<th colspan="{{ colspan }}" class="{{ module_formatter.get_justifyclass(column['label-justify']) }}">
							{{ column['label'] }}
						</th>
					{% else %}
						{% if columncount < blueprint['cols'] %}
							{% set colspan = 1 %}
							<th></th>
						{% endif %}
					{% endif %}
					{% set columncount = columncount + colspan %}
				{% endfor %}
			</tr>
		{% endfor %}
	</thead>
	<tbody>
		{% if json['data']['purchaseorders']|length == 0 %}
			<tr>
				<td colspan="{{ blueprint['cols'] }}" class="text-center"> No Purchase Orders Available</td>
			</tr>
		{% endif %}

		{% for order in json['data']['purchaseorders'] %}
			{% for x in 1..blueprint['header']['rowcount']  %}
				<tr class="bg-dark text-white">
					{% set columncount = 0 %}
					{% for i in 1..blueprint['cols'] + 1 %}
						{% set colspan = 0 %}
						{% if blueprint['header']['rows'][x]['columns'][i] %}
							{% set column = blueprint['header']['rows'][x]['columns'][i] %}
							{% set colspan = column['col-length'] %}
							<td colspan="{{ colspan }}" class="{{ module_formatter.get_justifyclass(column['data-justify']) }}">
								{{ module_formatter.format_celldata(order, column) }} &nbsp;
								{% if column['id'] == 'Purchase Order Number' %}
									{% set ponbr = order['Purchase Order Number'] %}
									{% set vendorID = json['vendid'] %}
									{% if docm.count_documents_po(ponbr) %}
										<a href="{{ page.documentsview_po(vendorID, ponbr) }}" class="text-success" title="View Documents for PO # {{ ponbr }}">
											<i class="fa fa-file-text" aria-hidden="true"></i> <span class="sr-only">View Documents for PO # {{ ponbr }}</span>
										</a>
									{% endif %}
								{% endif %}
							</td>
						{% else %}
							{% if columncount < blueprint['cols'] %}
								{% set colspan = 1 %}
								<td></td>
							{% endif %}
						{% endif %}
						{% set columncount = columncount + colspan %}
					{% endfor %}
				</tr>
			{% endfor %}

			{% for x in 1..blueprint['detail']['rowcount'] %}
				<tr>
					{% set columncount = 0 %}
					{% for i in 1..blueprint['cols'] + 1 %}
						{% set colspan = 0 %}
						{% if blueprint['detail']['rows'][x]['columns'][i] %}
							{% set column = blueprint['detail']['rows'][x]['columns'][i] %}
							{% set colspan = column['col-length'] %}
							<th colspan="{{ colspan }}" class="{{ module_formatter.get_justifyclass(column['label-justify']) }}">
								{{ column['label'] }}
							</th>
						{% else %}
							{% if columncount < blueprint['cols'] %}
								{% set colspan = 1 %}
								<th></th>
							{% endif %}
						{% endif %}
						{% set columncount = columncount + colspan %}
					{% endfor %}
				</tr>
			{% endfor %}

			{% for detail in order['details'] %}
				{% for x in 1..blueprint['detail']['rowcount']  %}
					<tr>
						{% set columncount = 0 %}
						{% for i in 1..blueprint['cols'] + 1 %}
							{% set colspan = 0 %}
							{% if blueprint['detail']['rows'][x]['columns'][i] %}
								{% set column = blueprint['detail']['rows'][x]['columns'][i] %}
								{% set colspan = column['col-length'] %}
								<td colspan="{{ colspan }}" class="{{ module_formatter.get_justifyclass(column['data-justify']) }}">
									{{ module_formatter.format_celldata(detail, column) }}
								</td>
							{% else %}
								{% if columncount < blueprint['cols'] %}
									{% set colspan = 1 %}
									<td></td>
								{% endif %}
							{% endif %}
							{% set columncount = columncount + colspan %}
						{% endfor %}
					</tr>
				{% endfor %}
			{% endfor %}

			{% if order['ordernotes']|length > 0 %}
				<tr>
					<td></td>
					<td colspan="{{ blueprint['cols'] - 1}}">
						<strong>Order Notes:</strong>
					</td>
				</tr>
				{% for x in 1..blueprint['detail']['rowcount'] + 1 %}
					<tr>
						<td></td>
						<td colspan="{{ blueprint['cols'] - 1}}">
							{{ order['ordernotes'][x]['Order Notes'] }}
						</td>
					</tr>
				{% endfor %}
			{% endif %}

			{% for x in 1..blueprint['detail']['rowcount']  %}
				<tr class="bg-gray font-weight-bold">
					{% set columncount = 0 %}
					{% for i in 1..blueprint['cols'] + 1 %}
						{% set colspan = 0 %}
						{% if blueprint['detail']['rows'][x]['columns'][i] %}
							{% set column = blueprint['detail']['rows'][x]['columns'][i] %}
							{% set colspan = column['col-length'] %}

							{% if i == 1 %}
								<td>Total</td>
							{% else %}
								<td colspan="{{ colspan }}" class="{{ module_formatter.get_justifyclass(column['data-justify']) }}">
									{{ module_formatter.format_celldata(order['pototals'], column) }}
								</td>
							{% endif %}
						{% else %}
							{% if columncount < blueprint['cols'] %}
								{% set colspan = 1 %}
								<td></td>
							{% endif %}
						{% endif %}
						{% set columncount = columncount + colspan %}
					{% endfor %}
				</tr>
			{% endfor %}
		{% endfor %}
		<tr>
			{% set colspan = blueprint['cols'] %}
			<td colspan="{{ colspan }}"></td>
		</tr>
	</tbody>
	<tfoot>
		{% for x in 1..blueprint['detail']['rowcount']  %}
			<tr class="bg-secondary text-white font-weight-bold">
				{% set columncount = 0 %}
				{% for i in 1..blueprint['cols'] + 1 %}
					{% set colspan = 0 %}
					{% if blueprint['detail']['rows'][x]['columns'][i] %}
						{% set column = blueprint['detail']['rows'][x]['columns'][i] %}
						{% set colspan = column['col-length'] %}

						<td colspan="{{ colspan }}" class="{{ module_formatter.get_justifyclass(column['data-justify']) }}">
							{{ module_formatter.format_celldata(json['data']['vendortotals'], column) }}
						</td>
					{% else %}
						{% if columncount < blueprint['cols'] %}
							{% set colspan = 1 %}
							<td></td>
						{% endif %}
					{% endif %}
					{% set columncount = columncount + colspan %}
				{% endfor %}
			</tr>
		{% endfor %}
	</tfoot>
</table>
