<div class="mb-3">
	{% if page.parent().template == 'dplus-menu' or page.parent().template == 'warehouse-menu' %}
	<a href="{{ page.parent().url }}" class="btn btn-primary">
		<i class="fa fa-undo" aria-hidden="true"></i> &nbsp;
		Return to {{ page.parent().title }}
	</a>
	{% endif %}
</div>
<div class="list-group dplus-menu">
	{% for key,function  in functions %}
		<a href="{{ page.subfunctionUrl(key) }}" class="list-group-item list-group-item-action">
			<div class="row align-items-center">
				<div class="col-4">
					<i class="fa fa-microchip" aria-hidden="true"></i> &nbsp; &nbsp;
					<strong>{{ function.name }}</strong>
					<br>
				</div>
				<div class="col-8">
					<small>
						{{ function.description }}
					</small>
				</div>
			</div>
		</a>
	{% endfor %}
</div>
