{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	manager                Dplus\Codes\Base
#}


{% extends 'code-tables/list-print.twig' %}

{% block print_headings_row %}
	<tr>
		<th colspan="5">
			<div class="w-100 d-flex justify-content-between">
				<div>{{ 'now'|date('m/d/Y h:i A') }}</div>
				<div>{{ page.headline }}</div>
				<div></div>
			</div>
		</th>
	</tr>
{% endblock %}

{% block headings_row %}
	<tr class="bg-dark text-white column-headers">
		{% block headings_columns %}
			<th>Code</th>
			<th>Description</th>
			<th>Master Tax Codes</th>
			<th class="text-right">Master Tax %</th>
			<th class="text-right">Total Tax %</th>
		{% endblock %}
	</tr>
{% endblock %}

{% for code in codes %}
	{% block code_row %}
		<tr>
			<td>
				<span class="">{{ code.code|replace({' ': '&nbsp;'})|raw }}</span>
			</td>
			<td>{{ code.description }}</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	
		{% for i in 1..constant('NUMBER_TAXCODES', manager) if code.taxcode(i) %}
			{% set taxcode = manager.getMtmCode(code.taxcode(i)) %}
			<tr>
				<td colspan="2"></td>
				<td>
					{{ taxcode.code }} &nbsp; {{ taxcode.description }}
				</td>
				<td class="text-right">{{ taxcode.percent }}</td>
				<td class="text-right">{{ loop.first ? manager.getTaxPercentTotal(code)|number_format(manager.getMtm().fieldAttribute('percent', 'precision')) : '' }}</td>
			</tr>
		{% endfor %}
	{% endblock %}
{% endfor %}