{# rgasc is an instance of SoRgaCode #}
<form action="{{ page.url }}" method="POST" id="code-edit-form">
	<input type="hidden" name="table" value="rgasc">

	<div class="form-group">
		<label for="code">Code</label>
		<input type="text" name="code" class="form-control" maxlength="{{ max_length_code }}" value="" id="code">
	</div>

	<div class="form-group">
		<label for="description">Description</label>
		<input type="text" name="description" class="form-control" maxlength="35" value="" id="description">
	</div>

	<div class="form-group">
		<label for="warehouse">Warehouse</label>
		<select name="warehouse" class="form-control" id="warehouse">
			<option value="">-- Choose --</option>
			{% for whse in warehouses %}
				<option value="{{ whse.id }}" {{ whse.id == value ? 'selected' : ''}}>
					{{ whse.id }} - {{ whse.name }}
				</option>
			{% endfor %}
		</select>
	</div>

	<div class="form-group">
		<label for="account_number">Shipping Account Number</label>
		<input type="text" name="account_number" class="form-control" maxlength="10" value="" id="account_number">
	</div>

	<div class="modal-footer">
		<button type="submit" class="btn btn-success">
			<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
		</button>
		<button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
	</div>
</form>
