{# mfcm is an instance of MotorFreightCode #}
<form action="{{ input.paginateUrl(1) }}" method="POST" id="code-form" data-code="">
	<input type="hidden" name="action" value="update">

	<div class="form-group">
		<label for="code">Code</label>
		<input type="text" name="code" class="form-control form-control-sm " maxlength="{{ manager.fieldAttribute('code', 'maxlength') }}" id="code">
	</div>

	<div class="form-group">
		<label for="description">Description</label>
		<input type="text" name="description" class="form-control form-control-sm " maxlength="{{ manager.fieldAttribute('description', 'maxlength') }}" id="description">
	</div>

	<div class="form-group">
		<label for="whseid">Warehouse</label>
		{% include 'util/bootstrap/form/input-group.twig' with {
				'inputgroup': {
					'type': 'prepend',
					'size': 'sm',
					'input': {
						'name': 'whseid',
						'addclasses': [''],
						'attributes': {
							'placeholder': '',
							'aria-label':  'Warehouse ID',
							'data-jqv': 'true'
						}
					},
					'button': {
						'colorclass': 'btn-secondary',
						'text': 'fa fa-search'|icon,
						'attributes': {
							'title': 'Search Warehouses',
							'data-toggle': 'modal',
							'data-target': '#ajax-modal',
							'data-lookupurl': page.searchLookupUrl('warehouses'),
							'data-input': '#whseid',
							'data-search': 'warehouseid',
						}
					}
				}
			}
		%}
	</div>

	<div class="form-group">
		<label for="acctnbr">Shipping Account Number</label>
		<input type="text" name="acctnbr" class="form-control form-control-sm " maxlength="{{ manager.fieldAttribute('acctnbr', 'maxlength') }}" id="acctnbr">
	</div>

	<div class="d-flex justify-content-between align-items-center">
		<button type="submit" class="btn btn-success form_button">
			<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
		</button>
		<div>
			<a href="{{ page.codeDeleteUrl('') }}" class="btn btn-danger delete_button collapse">
				<i class="fa fa-trash" aria-hidden="true"></i> Delete
			</a>
		</div>
		<button type="button" class="btn btn-warning" data-dismiss="modal">
			<i class="fa fa-times" aria-hidden="true"></i> Close
		</button>
	</div>
</form>
