<div class="row">
	<div class="col-sm-3 mb-2">
		<b>Item ID</b>
	</div>
	<div class="col-sm-9 mb-2">
		<p class="form-control-plaintext form-control-sm">{{ lot.itemid }}</p>
		<small class="form-text text-muted">{{ lot.item.description }}</small>
		<small class="form-text text-muted">{{ lot.item.description2 }}</small>
	</div>
</div>

<div class="row">
	<div class="col-sm-3 mb-2">
		<b>Lot Nbr</b>
	</div>
	<div class="col-sm-9 mb-2">
		<p class="form-control-plaintext form-control-sm">{{ lot.lotnbr }}</p>
	</div>
</div>

<div class="row">
	<div class="col-sm-3 mb-2">
		<b>Lot Ref</b>
	</div>
	<div class="col-sm-9 mb-2">
		<p class="form-control-plaintext form-control-sm">{{ lot.lotref }}</p>
	</div>
</div>
