{#
	var                    Description / Instance of
	-------------------------------------------------
	vxm                    module XrefVxm
	recordlocker           module RecordLockerUser
	items                  ItemXrefVxm[]|ObjectCollection
#}
<table class="table table-sm">
	<thead>
		<tr class="bg-dark text-white p-3">
			<th class="pt-3 pb-3">Vendor ID</th>
			<th class="pt-3 pb-3">Vendor ItemID</th>
			<th class="pt-3 pb-3">Description</th>
			<th class="pt-3 pb-3">UoM</th>
			<th class="pt-3 pb-3 text-right">Base Cost</th>
			<th class="pt-3 pb-3 text-right">Changed Date</th>
			<th class="pt-3 pb-3 text-center">Edit</th>
		</tr>
	</thead>
	<tbody>
		{% if items.count() %}
			{% for item in items %}
				<tr>
					<td>{{ item.vendorID }}</td>
					<td>{{ item.vendoritemID }}</td>
					<td>{{ item.ouritemID }}</td>
					<td>{{ item.description }}</td>
					<td>{{ item.uompurchase.code }}</td>
					<td class="text-right">$ {{ item.unitcost_base|currency }}</td>
					<td class="text-right">{{ item.date_changed|convertdate }}</td>
					<td class="text-center">
						{% if recordlocker.function_locked('vxm', vxm.get_recordlocker_key(item)) == false or recordlocker.function_locked_by_user('vxm', vxm.get_recordlocker_key(item)) %}
							<a href="{{ page.vxm_itemURL(item.vendorID, item.vendoritemID) }}" class="btn btn-warning">
								<i class="fa fa-pencil" aria-hidden="true"></i> Edit
							</a>
						{% else %}
							<span class="badge badge-secondary">
								<i class="fa fa-lock" aria-hidden="true"></i> Locked By {{ recordlocker.get_locked_user('vxm', vxm.get_recordlocker_key(item)) }}
							</span>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		{% endif %}
	</tbody>
</table>
