<div class="card">
	<div class="card-header">
		<span class="h5">Customer Activity</span>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item bg-success text-white">
			<div class="row">
				<div class="col-sm-6">
					Last Sale Date
				</div>
				<div class="col-sm-6 text-right">
					{{ customer.lastsaledate|convertdate }}
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-sm-6">
					Sales Orders
				</div>
				<div class="col-sm-6 text-right">
					{{ customer.get_orders_count() }}
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-sm-6">
					Amount
				</div>
				<div class="col-sm-6 text-right">
					$ {{ customer.get_orders_amount()|currency }}
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-sm-6">
					Highest Balance
				</div>
				<div class="col-sm-6 text-right">
					$ {{ customer.highestbalance|currency }}
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-sm-6">
					Current Finance Charge
				</div>
				<div class="col-sm-6 text-right">
					{{ customer.financecharge }}
				</div>
			</div>
		</li>
		<li class="list-group-item bg-light text-center"><span class="h5 font-weight-bold">Invoices</span></li>
		<li class="list-group-item">
			<div class="row font-weight-bold">
				<div class="col-sm-6">
					Period
				</div>
				<div class="col-sm-3 text-right">
					Amount
				</div>
				<div class="col-sm-3 text-right">
					Invoices
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-sm-6">
					<abbr title="{{ "now"|date("F Y") }}">Month-to-date</abbr>
				</div>
				<div class="col-sm-3 text-right">
					$ {{ customer.mtd_sales|currency }}
				</div>
				<div class="col-sm-3 text-right">
					{{ customer.mtd_invoices }}
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-sm-6">
					<abbr title="{{ "now"|date("Y") }}">Year-to-date</abbr>
				</div>
				<div class="col-sm-3 text-right">
					$ {{ customer.ytd_sales|currency }}
				</div>
				<div class="col-sm-3 text-right">
					{{ customer.ytd_invoices }}
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-sm-5">
					Last 12 Months
				</div>
				<div class="col-sm-4 text-right">
					$ {{ customer.get_lastxmonthsamount(12)|currency }}
				</div>
				<div class="col-sm-3 text-right">
					{{ customer.get_lastxmonthscount(12) }}
				</div>
			</div>
		</li>
	</ul>
</div>
