<div class="card">
	<div class="card-header">
		<span class="h5">AR</span>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<div class="row">
				<div class="col-sm-7">
					Warehouse:
				</div>
				<div class="col-sm-5">
					{{ customer.warehouse }}
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-sm-7">
					Ship Via:
				</div>
				<div class="col-sm-5">
					{{ customer.shipvia.code }} - {{ customer.shipvia.description }}
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-sm-7">
					Current Finance Charge:
				</div>
				<div class="col-sm-5">
					{{ customer.taxcode }}
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-sm-7">
					Type:
				</div>
				<div class="col-sm-5">
					{{ customer.type }}
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-sm-7">
					Terms Code:
				</div>
				<div class="col-sm-5">
					{{ customer.termscode }}
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-sm-7">
					Price Code:
				</div>
				<div class="col-sm-5">
					{{ customer.pricecode }}
				</div>
			</div>
		</li>
		<li class="list-group-item {{customer.credithold == 'Y' ? 'bg-warning' : ''}}">
			<div class="row">
				<div class="col-sm-7">
					Credit Hold:
				</div>
				<div class="col-sm-5">
					{{ customer.credithold|yesorno|capitalize }}
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-sm-7">
					Credit Limit:
				</div>
				<div class="col-sm-5">
					{{ customer.creditlimit }}
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-sm-7">
					Tax Exempt:
				</div>
				<div class="col-sm-5">
					{{ customer.is_taxexempt() ? customer.taxexemptcode : 'N/A' }}
				</div>
			</div>
		</li>
	</ul>
</div>
