<div class="card">
	<div class="card-header">
		<span class="h3">{{ customer.name }} Shiptos</span>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<div class="row">
				<div class="col-sm-5">
					Shipto:
				</div>
				<div class="col-sm-7">
					<form action="{{ page.child('pw_template=ci-shipto').url }}" method="get">
						<input type="hidden" name="custID" value="{{ customer.id }}">
						<select name="shiptoID" class="form-control form-control-sm" id="select_shipto">
							{% for shipto in customer.get_shiptos() %}
								<option value="{{ shipto.id }}">{{ shipto.name }}</option>
							{% endfor %}
						</select>
					</form>

				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-sm-5">
					Address:
				</div>
				<div class="col-sm-7">
					{{ shipto.address1 }} <br>
					{% if (shipto.address2 is not empty) %}
						{{ shipto.address2 }} <br>
					{% endif %}

					{% if (shipto.address3 is not empty) %}
						{{ shipto.address3 }} <br>
					{% endif %}

					{{ shipto.city ~ ', ' ~ shipto.state ~ ' ' ~ shipto.zip }}
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-sm-5">
					Salesperson:
				</div>
				<div class="col-sm-7">
					{{ shipto.salesperson1 }}
				</div>
			</div>
		</li>
	</ul>
</div>
