<div class="list-group-item bg-light p-1">
	<div class="row">
		<div class="col">
			<h5>
				<strong>Bin:</strong> {{ binitem.bin }}
			</h5>
			{% if (not warehouse.validate_bin(binitem.bin)) %}
				<span class="badge badge-danger">Invalid Bin</span>
			{% endif %}
		</div>
		<div class="col">
			<strong>Boxes:</strong> {{ inventory.count_lotserials_itemid(item.itemid, binitem.bin) }}
		</div>
		<div class="col">
			<strong>Total Weight:</strong> {{ inventory.get_qty_itemid(item.itemid, binitem.bin)|number_format(config.decimal_places()) }}
		</div>
		<div class="col">
			{% if (not page.is_print()) %}
				<button type="button" class="btn btn-primary btn-sm mb-3" data-toggle="collapse" data-target="#{{ (binitem.itemid ~ '_' ~ binitem.bin)|attrJS }}-lotserial" aria-expanded="false" aria-controls="{{ (binitem.itemid ~ '_' ~ binitem.bin)|attrJS }}-lotserial">
					Show / Hide {{ binitem.get_itemtypepropertydesc()|upper ~ "S" }}
				</button>
			{% endif %}
		</div>
	</div>
</div>
